<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Details zur Aufgabe</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16  px-sm-24" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlex="100" fxFlexAlign="center" *ngIf="loadingDetailsInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlex="100" fxFlexLayout="stretch" *ngIf="loadingDetailsInProgress === false && details" @ngIfFadeIn>
      <div class="my-24" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end stretch">
        <button color="primary" mat-raised-button type="button" (click)="openFinishJobAdministrativeDialog()" *ngIf="finishJobAdministrativeVisible === true">
          Administrativ beenden</button>
        <button color="primary" mat-raised-button type="button" (click)="navigateToFinishJob()" *ngIf="details && details.state === 1">
          Fertig</button>
      </div>
      <mat-toolbar>
        <mat-toolbar-row>
          <h2>KVZ Vorbereiten: {{ details.branchable.name }} </h2>
        </mat-toolbar-row>
      </mat-toolbar>
      <div>
        <agm-map style="height: 300px" [zoom]="18.0" [latitude]="details.branchable.coordinate.latitude" [clickableIcons]="false"
          [scrollwheel]="false" [longitude]="details.branchable.coordinate.longitude">
          <agm-marker [latitude]="details.branchable.coordinate.latitude" [longitude]="details.branchable.coordinate.longitude">
            <agm-info-window>
              <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="row">
                  <div fxFlex="0 0 100%">
                    {{ details.branchable.name }}
                  </div>
                </div>
              </div>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
      <mat-tab-group>
        <mat-tab *ngIf="showFinishInfo === true && details.finishInfo">
          <ng-template mat-tab-label>
            <span>Abgabe</span>
          </ng-template>
          <h2>Aufgabe abgeschlossen:</h2>
          <table class="formated-table">
            <tbody>
              <tr>
                <th> Beendet am </th>
                <td> {{ details.finishInfo.finishedAt | date:'dd.MM.yy' }} </td>
              </tr>
              <tr>
                <th> Beendet durch </th>
                <td> {{ details.finishInfo.finishedBy.surname }} {{ details.finishInfo.finishedBy.lastname }}
                  <span *ngIf="details.finishInfo.finishedBy.companyInfo">
                    ( {{ details.finishInfo.finishedBy.companyInfo.name }} )
                  </span>
                </td>
              </tr>
              <tr>
                <th> Probleme? </th>
                <td>
                  <span *ngIf="details.finishInfo.problemHappend.value === true">ja
                    <br> {{ details.finishInfo.problemHappend.description }} </span>
                  <span *ngIf="details.finishInfo.problemHappend.value === false">nein </span>
                </td>
              </tr>
              <!-- <tr>
                <th> Einblaslänge? </th>
                <td>
                  {{ details.finishInfo.length }} m
                </td>
              </tr> -->
              <tr *ngIf="details.finishInfo.acceptedAt">
                <th> Angenommen am </th>
                <td> {{ details.finishInfo.acceptedAt | date:'dd.MM.yy' }} </td>
              </tr>
              <tr *ngIf="details.finishInfo.acceptedBy">
                <th> Angenommen durch </th>
                <td> {{ details.finishInfo.acceptedBy.surname }} {{ details.finishInfo.acceptedBy.lastname }}
                  <span *ngIf="details.finishInfo.acceptedBy.companyInfo">
                    ( {{ details.finishInfo.acceptedBy.companyInfo.name }} )
                  </span>
                </td>
              </tr>
            </tbody>
          </table>



          <h3>Dateien:</h3>
          <mat-list>
            <mat-list-item *ngFor="let item of details.finishInfo.files">
              <mat-icon mat-list-icon>{{item.type | fileTypeToIcon}}</mat-icon>
              <h4 matLine>{{item.name}}.{{ item.extention }}</h4>
              <span matLine>{{item.size | fileSizeToUnit}}</span>
              <button *ngIf="item.type === 1" matTooltip="Vorschau anzeigen" mat-icon-button type="button" (click)="showPreview(item)">
                <mat-icon aria-label="Vorschau">pageview</mat-icon>
              </button>
              <a mat-icon-button target="_blank" matTooltip="Datei downloaden" [href]="getFileUrl(item)">
                <mat-icon aria-label="Open">get_app</mat-icon>
              </a>
            </mat-list-item>
          </mat-list>
          <div class="my-24" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end stretch" *ngIf="details.state === 2">
            <button color="warn" mat-raised-button type="button" (click)="discardJob()" [disabled]="actionInProgress === true"> Ablehnen</button>
            <button color="primary" mat-raised-button type="button" (click)="acknowledgeJob()" [disabled]="actionInProgress === true">
              Bestätigen</button>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Protokoll</span>
          </ng-template>
          <h2>Protokoll:</h2>
          <table class="formated-table">
            <tbody>
              <th>
                <h3>Spleiß-Info</h3>
              </th>
              <tr>
                <th>Art:</th>
                <td>KVZ vorbereiten</td>
              </tr>
              <tr>
                <th>Name:</th>
                <td>{{ details.branchable.name }}</td>
              </tr>
              <tr *ngIf="details.mainCable">
                <th>Fasern:</th>
                <td>{{ details.mainCable.fiberAmount }}</td>
              </tr>
              <tr *ngIf="details.mainCable">
                <th>Name des Hauptkabel:</th>
                <td>{{ details.mainCable.name }}</td>
              </tr>
              <tr>
                <th> Bündel für Kundenkabel </th>
                <td>
                  <ul *ngIf="details.bundlesForCustomer && details.bundlesForCustomer.length > 0 ">
                    <li *ngFor="let bundle of details.bundlesForCustomer">
                      <span>{{ bundle.number }} </span>
                      <span>{{ bundle.color }} </span>
                    </li>
                  </ul>
                  <span *ngIf="!details.bundlesForCustomer || details.bundlesForCustomer.length == 0 ">Keine Informationen vorhanden</span>
                </td>
              </tr>
              <tr>
                <th> Bündel für den Loop </th>
                <td>
                  <div *ngIf="details.bundleForLoop">
                    <span>{{ details.bundleForLoop.number }} </span>
                    <span>{{ details.bundleForLoop.color }} </span>
                  </div>
                  <div *ngIf="details.splicesForLoop && details.splicesForLoop.length > 0">
                    <span>Kassette: {{ details.splicesForLoop[0].tray }} </span>
                    <span>ab Faser {{ details.splicesForLoop[0].firstFiber.numberinBundle }} ({{ details.splicesForLoop[0].firstFiber.color
                      }}) </span>
                  </div>
                  <span *ngIf="!details.bundleForLoop">Keine Informationen vorhanden</span>
                </td>
              </tr>
              <tr>
                <th> Bündel für nachfolgende Verzweiger </th>
                <td>
                  <ul *ngIf="details.untouchedBundles && details.untouchedBundles.length > 0 ">
                    <li *ngFor="let bundle of details.untouchedBundles">
                      <span>{{ bundle.number }} </span>
                      <span>{{ bundle.color }} </span>
                    </li>
                  </ul>
                  <span *ngIf="!details.untouchedBundles || details.untouchedBundles.length == 0 ">Keine Informationen vorhanden</span>
                </td>
              </tr>
              <tr>
                <th>Datei mit Spleißplan </th>
                <td>
                  <a [href]="details.spliceOverviewTableUrl">Hier Klicken</a>
                </td>
              </tr>
            </tbody>
          </table>

          <besa-splice-branchable-overview [splices]="details.splices"></besa-splice-branchable-overview>

        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Dateien ({{ details.files ? details.files.length : '0' }})
            </span>
          </ng-template>
          <p *ngIf="!details.files || details.files.length == 0"> Keien Dateien vorhanden </p>
          <mat-list *ngIf="details.files && details.files.length > 0">
            <mat-list-item *ngFor="let item of details.files">
              <mat-icon mat-list-icon>{{item.type | fileTypeToIcon}}</mat-icon>
              <h4 matLine>{{item.name}}.{{ item.extention }}</h4>
              <span matLine>{{item.size | fileSizeToUnit}}</span>
              <button *ngIf="item.type === 1" matTooltip="Vorschau anzeigen" mat-icon-button (click)="showPreview(item)">
                <mat-icon aria-label="Vorschau">pageview</mat-icon>
              </button>
              <a mat-icon-button target="_blank" matTooltip="Datei downloaden" [href]="getFileUrl(item)">
                <mat-icon aria-label="Open">get_app</mat-icon>
              </a>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
      <div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="10px" *ngIf="details.state === 1">
        <button class="my-24" color="primary" fxFlexAlign="end" mat-raised-button type="button" (click)="navigateToFinishJob()">
          Fertig</button>
      </div>
    </div>
  </div>
  <!-- End Content -->
</div>