<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Auftrag beenden</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start stretch">

    <!-- Anmelde-Card  -->
    <div class="fuse-card mat-accent-bg mx-12 my-24 h-100-p" fxLayout="column" fxFlex="0 0 auto" fxFlex.gt-sm="0 0 30%" style="min-width: 100%">
      <div class="p-16">
        <div class="h1">Auftrag beenden</div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        <p>Nun können Sie den Auftrag beenden</p>
        <p>Füllen Sie das Formular aus und geben Sie Dateien an, die Ihre Arbeit dokumentieren</p>
      </div>
    </div>

    <form class="mat-white-bg mat-elevation-z4 p-24 my-24 h-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
      fxFlex.gt-sm="1 0 auto" name="form" [formGroup]="form" (submit)="finishJob()" fxLayoutGap="20px">

      <div class="h2 mb-24">Aufgabe abschließen</div>

      <mat-form-field fxFlex="100" class="mx-12">
        <mat-hint align="start">Maximal 1000 Zeichen</mat-hint>
        <mat-label>Kommentar </mat-label>
        <textarea matInput #comment placeholder="(Optional) Besonders ist das..." formControlName="comment" rows="7"></textarea>
        <mat-hint align="end">{{ comment.value?.length || 0 }} / 1000 </mat-hint>
        <mat-error *ngIf="formValidationErrors['comment']">{{ formValidationErrors['comment'] }}</mat-error>
      </mat-form-field>

      <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" [formGroup]="form.get('problemHappend')">
        <mat-checkbox fxFlex="100" formControlName="value">Sind Probleme aufgetreten?</mat-checkbox>
        <mat-form-field fxFlex="100" class="mx-12" *ngIf="form.value.problemHappend.value === true" @ngIfFadeIn>
          <mat-hint align="start">Maximal 1000 Zeichen</mat-hint>
          <mat-label>Beschreibung </mat-label>
          <textarea matInput #problemDescription placeholder="Problem, da..." formControlName="description" rows="7"></textarea>
          <mat-hint align="end">{{ problemDescription.value?.length || 0 }} / 1000 </mat-hint>
          <mat-error *ngIf="formValidationErrors['description']">{{ formValidationErrors['description'] }}</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
        <mat-form-field fxFlex="100" class="mx-12">
          <mat-hint align="start">Wie viel Meter Kabel wurde eingeblasen</mat-hint>
          <mat-label>Kabellänge </mat-label>
          <input matInput placeholder="350.4" formControlName="length">
          <mat-error *ngIf="formValidationErrors['length']">{{ formValidationErrors['length'] }}</mat-error>
        </mat-form-field>
      </div>

      <mat-expansion-panel #dataPanel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dateien zum Hochladen
          </mat-panel-title>
          <mat-panel-description>
            {{ files.length }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngIf="files.length == 0">Noch keine Dateien ausgewählt</p>

        <mat-list *ngIf="files.length > 0 && uploadingInProgress === false" @ngIfFadeIn>
          <mat-list-item *ngFor="let file of files">
            <img matListAvatar [src]="file.imgAsString" alt="..." *ngIf="file.type === 'image' && file.previewLoading === false" @ngIfFadeIn>
            <h3 matLine> {{ file.name }} </h3>
            <div matLine fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" *ngIf="file.type === 'image' && file.previewLoading === true">
              <p fxFlex="100">Vorschau wird geladen...</p>
              <mat-progress-bar fxFlex="100" class="mx-24" [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <button type="button" mat-icon-button (click)="showPreview(file)" *ngIf="file.type === 'image' && file.previewLoading === false">
              <mat-icon aria-label="Vorschau">pageview</mat-icon>
            </button>
            <button type="button" mat-icon-button (click)="removeFile(file)">
              <mat-icon aria-label="Entfernen">delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>

        <besa-upload [canRemoveItems]="false" [hidden]="uploadingInProgress === false" #upload></besa-upload>
      </mat-expansion-panel>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" class="my-16" fxLayoutAlign="end center" fxLayoutAlign.xs="stretch stretch"
        fxFlex="100">

        <besa-input-file [disabled]="uploadingInProgress === true" fxFlexAlign="start" fxFlexAlign.xs="end" *ngIf="uploadingInProgress === false"
          (onFileSelect)="onFileSelect($event)" [mutliple]="true" [accept]="'image/*'" [showIcon]="true" [caption]="'Foto machen'"
          [icon]="'photo_camera'" [capture]="'environment'">
        </besa-input-file>

        <besa-input-file [disabled]="uploadingInProgress === true" [accept]="'*/*'" fxFlexAlign.xs="end" (onFileSelect)="onFileSelect($event)"
          [mutliple]="true" [showIcon]="true" [caption]="'Datei hinzufügen'">
        </besa-input-file>
      </div>

      <!-- Abschicken  -->
      <div fxLayout="row" class="my-16" fxLayoutAlign="end center" fxFlex="100">
        <button mat-raised-button color="primary" type="submit" [disabled]="sendingInProgress || isFormValid == false">
          Aufgabe beenden </button>
      </div>
    </form>

  </div>
  <!-- End Content -->
</div>

<div fxLayout="column">
  <div fxLayout="row" fxLayoutWrap>
    <div *ngFor="let img of files">
      <img class="m-24 preview-image" [src]="img.imgAsString">
    </div>
  </div>
</div>