<div class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
  <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
    <mat-form-field fxFlex="1 0 auto">
      <mat-hint align="start">Straße eingeben</mat-hint>
      <mat-label>Gebäude</mat-label>
      <input type="text" matInput placeholder="Appelhäger..." [(ngModel)]="jobNameQuery" [matAutocomplete]="autoContact">
    </mat-form-field>
    <mat-autocomplete #autoContact="matAutocomplete" (optionSelected)="jobSelected($event)" [displayWith]="displayJobResult">
      <mat-option *ngFor="let option of queriedJobs" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </div>

  <div class="mx-12" fxFlexLayout="stretch">
    <mat-list>
      <mat-list-item *ngFor="let item of selectedItems; let i = index">
        <h3 matLine>{{ item.item.name }}</h3>
        <mat-progress-bar matLine *ngIf="item.state == 2" matLine color="primary" mode="indeterminate"></mat-progress-bar>
        <mat-progress-bar matLine *ngIf="item.state == 3" matLine color="primary" mode="determinate" [value]="100"></mat-progress-bar>
        <mat-progress-bar matLine *ngIf="item.state == 4" matLine color="warn" mode="determinate" [value]="100"></mat-progress-bar>
        <button *ngIf="item.result && convertInProgress == false" @ngIfFadeIn mat-icon-button type="button" (click)="navigateToJobLink(item)"
          mat-Tooltip="Zum Auftrag navigieren" matTooltipShowDelay="1000">
          <mat-icon aria-labelledby="Zum Auftrag navigieren">link</mat-icon>
        </button>
        <button mat-icon-button type="button" (click)="removeItem(item)" mat-Tooltip="Entfernen" matTooltipShowDelay="1000">
          <mat-icon aria-labelledby="Auftrag entfernen">delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>

  <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
    <button mat-raised-button color="primary" type="button" (click)="changeJobStates()" class="mx-12" [disabled]="selectedItems.length == 0 || convertInProgress === true">Umwandeln</button>
  </div>
</div>