<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Zugang gewähren erbitten</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start stretch">
    <!-- Loading Card  -->


    <!-- Anmelde-Card  -->
    <div class="fuse-card  mx-12 my-24" fxLayout="column" fxFlex="0 0 auto" fxFlex.gt-sm="0 0 30%" style="min-width: 100%">
      <div class="p-16">
        <div class="h1">Zugang gewähren</div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        <p>Sie könne entscheiden ob Sie
          <strong> {{ request.surname }} {{ request.lastname }} </strong> den Zugang gewähren wollen. Ebenso können Sie weitere Einstellungen
          anpassen.</p>
        <p>Über die Zuweisung von Rollen können Sie bestimmen, welche Bereiche der Benutzer sehen kann und welche Aktionen dieser
          ausführen kann</p>
      </div>
    </div>

    <form class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" fxFlex.gt-sm="1 0 auto"
      name="form" [formGroup]="form" @ngIfFadeIn (submit)="grantAccess()">

      <div class="h2 mb-24">Registrierung abschließen</div>

      <!-- Vor und Nachname -->
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>Vorname </mat-label>
          <input matInput #inputSurname placeholder="Max" formControlName="surname">
          <mat-hint align="end">{{ inputSurname.value?.length || 0 }} / 64 </mat-hint>
          <mat-error *ngIf="formValidationErrors['surname']">{{ formValidationErrors['surname'] }}</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>Nachname </mat-label>
          <input matInput #inputLastname placeholder="Mustermann" formControlName="lastname">
          <mat-hint align="end">{{ inputLastname.value?.length || 0 }} / 64 </mat-hint>
          <mat-error *ngIf="formValidationErrors['lastname']">{{ formValidationErrors['lastname'] }}</mat-error>
        </mat-form-field>
      </div>

      <!-- Telefonummer und Mail -->
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
          <mat-hint align="start">Maximal 255 Zeichen</mat-hint>
          <mat-label>E-Mail </mat-label>
          <input matInput #inputMail placeholder="max.mustermann@firma.de" formControlName="eMailAddress">
          <mat-hint align="end">{{ inputMail.value?.length || 0 }} / 255 </mat-hint>
          <mat-error *ngIf="formValidationErrors['eMailAddress']">{{ formValidationErrors['eMailAddress'] }}</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
          <mat-hint align="start">Maximal 32 Zeichen</mat-hint>
          <mat-label>Telefon</mat-label>
          <input matInput #inputPhone placeholder="0154 125 57 54" formControlName="phone">
          <mat-hint align="end">{{ inputPhone.value?.length || 0 }} / 32 </mat-hint>
          <mat-error *ngIf="formValidationErrors['phone']">{{ formValidationErrors['phone'] }}</mat-error>
        </mat-form-field>
      </div>

      <!-- Laden der Firmen  -->
      <div fxLayout="column" fxLayoutAlign="start center" fxFlex="1 0 auto" class="my-24" *ngIf="loadingCompaniesInProgress === true">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <p>Firmen werden geladen</p>
      </div>

      <!-- Auswahl der Firma  -->
      <div fxLayout="row" fxLayoutAlign="start center" class="my-16" fxFlex="100%" @ngIfFadeIn *ngIf="loadingCompaniesInProgress === false && companies && companies.length > 0">
        <mat-form-field fxFlex="100%">
          <mat-hint align="start">Optional</mat-hint>
          <mat-label>Firma</mat-label>
          <mat-select placeholder="Stadtwerke Teterow" formControlName="companyId">
            <mat-option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="formValidationErrors['companyId']">{{ formValidationErrors['companyId'] }}</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="column" class="my-16" fxLayoutGap="10px">
        <mat-checkbox fxFlex="100" *ngFor="let role of possibleRoles" (change)="roleChanged($event,role)"> {{ role | besaRoleToName }} </mat-checkbox>
      </div>

      <!-- Abschicken  -->
      <div fxLayout="row" class="my-16" fxLayoutAlign="end center" fxFlex="100">
        <button mat-raised-button color="primary" type="submit" [disabled]="isRequestinInProgress"> Zugang erbitten </button>
      </div>
    </form>

  </div>
  <!-- End Content -->
</div>