<span>
    <input [accept]="accept" [multiple]="mutliple" type="file" (change)="onNativeInputFileSelect($event)" #inputFile hidden />
    <button type="button" mat-raised-button (click)="selectFile()" [disabled]="disabled">
        <mat-icon *ngIf="showIcon === true">{{ icon }} </mat-icon>
        <span> {{ caption }} </span>
    </button>
</span>