<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Kontaktedaten importieren</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="start stretch">

    <!-- Anmelde-Card  -->
    <div class="fuse-card mx-12 my-24 h-100-p" fxLayout="column" fxFlex="0 0 auto" style="min-width: 100%">
      <div class="p-16">
        <div class="h1">Kontakte importieren</div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        <p>Hier können Sie Kontakdaten importieren</p>
        <p>Wählen Sie dazu die Datei aus, die die Kundendaten enthält und Ordnen zu anschließend die Felder zu</p>
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
      <mat-horizontal-stepper linear="true" #stepper="matHorizontalStepper" (selectionChange)="stepChanged($event)">
        <mat-step [completed]="file != null && file.previewLoading === false && file.content">
          <ng-template matStepLabel>Datei</ng-template>
          <div *ngIf="file && file.previewLoading == true" @ngIfFadeIn>
            <mat-progress-bar mode="query"></mat-progress-bar>
            <p>Datei wird eingelesen</p>
          </div>

          <besa-input-file fxFlexAlign="start" fxFlexAlign.xs="end" (onFileSelect)="onFileSelect($event)" [mutliple]="false" [accept]="'.csv'"
            [showIcon]="true" [caption]="'Datei auswählen'">
          </besa-input-file>

          <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
            <button mat-raised-button color="primary" type="button" [disabled]="file == null || file.previewLoading === true || !file.content"
              class="mx-12" matStepperNext>Weiter</button>
          </div>

        </mat-step>
        <mat-step [completed]="missingProperties.length == 0" [formGroup]="form">
          <ng-template matStepLabel>Zuordnung</ng-template>

          <div class="mat-accent-bg my-24" *ngIf="missingProperties.length > 0" @ngIfFadeIn>
            <p>Folgende Zuordnungen fehlen noch</p>
            <ul>
              <li *ngFor="let property of missingProperties"> {{ property | personPropertyToName }} </li>
            </ul>
          </div>

          <mat-checkbox class="my-24" (change)="changeFirstLine($event)">Erste Zeile überspringen</mat-checkbox>

          <div fxLayout="row" class="my-24" fxLayout.lt-sm="column" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
            <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
              <mat-hint align="start">5 Zeichen</mat-hint>
              <mat-label>PLZ</mat-label>
              <input matInput #inputZipCode placeholder="17166" formControlName="defaultPostalCode">
              <mat-hint align="end">{{ inputZipCode.value?.length || 0 }} / 255 </mat-hint>
              <mat-error *ngIf="formValidationErrors['defaultPostalCode']">{{ formValidationErrors['defaultPostalCode'] }}</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
              <mat-hint align="start">Maximal 32 Zeichen</mat-hint>
              <mat-label>Stadt</mat-label>
              <input matInput #inputDefaultCity placeholder="Teterow" formControlName="defaultCity">
              <mat-hint align="end">{{ inputDefaultCity.value?.length || 0 }} / 32 </mat-hint>
              <mat-error *ngIf="formValidationErrors['defaultCity']">{{ formValidationErrors['defaultCity'] }}</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" class="my-24" fxLayout.lt-sm="column" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
            <mat-checkbox formControlName="uniqueSurnameAndLastname">>Eindeuitig anhand von Vor und Nachname?</mat-checkbox>
          </div>
          
          <mat-table #table [dataSource]="lineDataSource">
            <ng-container *ngFor="let index of maxColumnAmount | amountToArray" [matColumnDef]="getColumnName(index)">
              <mat-header-cell *matHeaderCellDef>
                <mat-form-field *ngIf="!propertyMapper[index]">
                  <mat-select placeholder="Eigenschaft" (selectionChange)="propertySelected($event,index)">
                    <mat-option [value]="null"> Nicht importieren </mat-option>
                    <mat-option *ngFor="let value of possibleValues" [value]="value"> {{ value | personPropertyToName }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <span *ngIf="propertyMapper[index]">
                  {{ propertyMapper[index] | personPropertyToName }}
                  <button mat-icon-button (click)="removeIndex(index)">
                    <mat-icon aria-label="Löschen">delete</mat-icon>
                  </button>
                </span>

              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.getValue(index)}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
            <button mat-raised-button class="mx-12" type="button" matStepperPrevious>Zurück</button>
            <button mat-raised-button color="primary" type="button" class="mx-12" matStepperNext [disabled]="missingProperties.length > 0">Starten</button>
          </div>

        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Import</ng-template>
          <div fxLayout="column" fxLayoutAlign="stretch stretch">

            <div fxFlexAlign="center" *ngIf="importInProgress === true" @ngIfFadeIn>
              <div class="p-16">
                <div class="h1">Import wird ausgeführt</div>
              </div>
              <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
              <button mat-raised-button class="mx-12" type="button" matStepperPrevious>Zurück</button>
              <button mat-raised-button color="primary" type="button" class="mx-12" matStepperNext (click)="startImport()" [disabled]="importInProgress === true">Import starten</button>
            </div>
          </div>

        </mat-step>
      </mat-horizontal-stepper>
    </div>

  </div>
</div>