<h1 mat-dialog-title>Daten exportieren</h1>
<div mat-dialog-content>
  <p>Datei generieren</p>
</div>
<div mat-dialog-actions>
  <button class="mx-12" mat-raised-button type="button" (click)="onGenerateCSVFile()">CSV-Datei generieren</button>
</div>
<div mat-dialog-content>
    <p>Datei abspeichern</p>
  </div>
  <div mat-dialog-actions>
      <a [href]="file" [download]="location"  id ="export" role='button' >CSV-Datei abspeichern
      </a>
  </div>