<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column">
    <button mat-fab type="button" fxLayoutAlign="center left" (click)="navigateBack()" matTooltip="Zurück zur Übersicht" matTooltipShowDelay="1000">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="hero-text mb-32" fxLayoutAlign="center center">
      <h1>Planungsdaten aktualisieren - Details</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!details)" @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Details wurden nicht geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Es konnten keine Details geladen werden</p>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && details" @ngIfFadeIn>

      <mat-card>
        <mat-card-header>

        </mat-card-header>
        <mat-card-content>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="h1">
              {{ details.overview.taskType | updateTasksToString }}
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">
                <button mat-icon-button type="button" (click)="cancelTask()" matTooltip="Task abbrechen" matTooltipShowDelay="1000" [disabled]="details.overview.endend">
                  <mat-icon aria-label="Info">clear</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Gestartet</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ details.overview.started | date:'dd.MM.yyyy hh:mm' }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Letzter Heartbeat</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ details.overview.lastHearbeat | date:'dd.MM.yyyy hh:mm' }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="details.overview.endend">
            <div>Beendet</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ details.overview.endend | date:'dd.MM.yyyy hh:mm' }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Wurde abgebrochen?</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">
                <mat-icon>{{ details.overview.wasCanceled === true ? 'check_box' : 'check_box_outline_blank' }} </mat-icon>
              </div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Erstellt von</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">
                {{ details.overview.createdBy.name }}
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="h2 mb-12">
            Elemente
          </div>
          <mat-list>
            <mat-list-item *ngFor="let element of details.elements">
              <h4 matLine>{{ element.state | updateTaskElementStateToString }}</h4>
              <span matLine *ngIf="element.started"> Gestartet: {{ element.started | date:'dd.MM.yyyy hh:mm' }} </span>
              <span matLine *ngIf="element.ended"> Beendet: {{ element.ended | date:'dd.MM.yyyy hh:mm' }} </span>
              <span matLine> Objekt: {{ element.relatedObject.name }} </span>
              <span matLine> Projekt-Adapter: {{ element.relatedObject.projectAdapterId }} </span>
              <span matLine> Typ: {{ element.relatedObject.type }} </span>
              <span matLine> Ergebnis: </span>
              <span matLine> Hinzugefügte Ids: {{ element.result.addedIds }} </span>
              <span matLine> Veränderte Ids: {{ element.result.updatedIds }} </span>
              <span matLine> Gelöschte Ids: {{ element.result.deletedIds }} </span>
              <span matLine> Warnung: {{ element.result.warning }} </span>
              <span matLine> Error: {{ element.result.error }} </span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- End Content -->
  </div>
</div>