<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <!-- <a href="http://themeforest.net/item/fuse-angularjs-material-design-admin-template/12931855?ref=srcn"
           target="_blank" mat-button class="mat-pink-bg" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <mat-icon class="s-16 mr-sm-4">shopping_cart</mat-icon>
            <span>Purchase FUSE (Angular5+)</span>
        </a> -->
        <div fxFlex="1 1 auto"></div>
        <div fxLayout="row" fxLayoutAlign="start center" fxShow.gt-xs>
            <a mat-button [routerLink]="['/member/documentation']">Dokumentation</a>
            <span>&bull;</span>
            <a mat-button [routerLink]="['/member/changelog']">Changelog</a>
        </div>

    </div>

</mat-toolbar>