<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Fehler</h1>
      <h3>Es ist ein Fehler aufgetreten</h3>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32 " fxLayout="row" fxLayoutWrap fxLayoutAlign="center center">
    <div class="fuse-card mat-warn-bg" >
      <div class="p-16">
        <div class="h1">{{ error && error.code > 0 ? error.title : 'Fehler' }}
          <small *ngIf="error && error.code > 0 "> ( {{ error.code }} ) </small>
        </div>
        <div class="h4 secondary-text">{{ error && error.code > 0 ? error.code : 'Keine weiteren Informationen vorhanden' }}</div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        <div *ngIf="error && error.code > 0 ">
          <p>Während der Anwendung ist ein Fehler aufgetreten</p>
          <p> {{ error?.description }} </p>
        </div>
        <p *ngIf="!error || error.code <= 0 ">Es ist ein unbekannter Fehler aufgetaucht. Leider können wir Ihnen keine weiteren Informationen liefern </p>
      </div>
    </div>
  </div>

  <!-- / CONTENT -->
</div>