<p>
    <span *ngIf="message.action === 5">Der Auftrag </span>
    <span *ngIf="message.action === 30">Dein Auftrag</span>
    <strong>{{ details?.jobOverview?.name }} ( {{details?.jobOverview?.jobType | jobTypeToName }} ) </strong>
    wurde am
    <strong> {{ details?.discardedAt | date:'dd.MM.yyyy' }} </strong> um {{ details?.discardedAt | date:'HH:mm' }}
    durch
    <strong> {{ details?.discaredBy?.surname }} {{ details?.discaredBy?.lastname }} </strong>
    abgelehnt
  </p>
  <P>Begründung: {{ details.reason }}</P>
  
  <a mat-raised-button *ngIf="details?.jobOverview" [routerLink]="[getNavigationPathForJob(),details.jobOverview.id]">Zu den Auftragsdetails</a>