<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Vorgänge</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">

    <div class="my-24">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Filter
          </mat-expansion-panel-header>
          <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" [formGroup]="form" style="height: 100%">
            <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
              <mat-form-field fxFlex="100" class="mx-12">
                <mat-hint align="start">Nach Name Gebäude etc. eingeben</mat-hint>
                <mat-label> </mat-label>
                <input type="text" matInput placeholder="Max Mustermann" formControlName="query">
              </mat-form-field>
              <mat-checkbox fxFlex="100" class="mx-12" [indeterminate]="true" formControlName="openState">Nur offene Vorgänge?</mat-checkbox>
              <mat-form-field fxFlex="100" class="mx-12">
                <mat-label>Vorgangsart</mat-label>
                <mat-hint align="start">Type des Vorganges auswählen</mat-hint>
                <mat-select formControlName="type" placeholder="Nach Typ filtern">
                  <mat-option [value]="null">Egal</mat-option>
                  <mat-option *ngFor="let type of procedureTypes" [value]="type">
                    {{type | procedureTypeToName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div fxLayout="row" fxFlex="100">
                <mat-form-field fxFlex="50" class="mx-12">
                  <mat-label>Status</mat-label>
                  <mat-hint align="start">Status wählen</mat-hint>
                  <mat-select formControlName="state" placeholder="Nach Status filtern">
                    <mat-option [value]="null">Egal</mat-option>
                    <mat-option *ngFor="let state of states" [value]="state">
                      {{state | procedureStateToName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="50" class="mx-12">
                  <mat-label>Operator</mat-label>
                  <mat-hint align="start">Vergleich wählen</mat-hint>
                  <mat-select formControlName="stateOperator" placeholder="Gleich">
                    <mat-option *ngFor="let operator of operators" [value]="operator">
                      {{operator | procedureFilterOperatorToName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxFlex="100">
                <mat-form-field fxFlex="50" class="mx-12">
                  <mat-hint align="start">Wohnungs und Geschäftseinheiten</mat-hint>
                  <mat-label>Anzahl der Einheiten </mat-label>
                  <input type="number" matInput placeholder="4" formControlName="buildingUnitAmount">
                </mat-form-field>
                <mat-form-field fxFlex="50" class="mx-12">
                  <mat-label>Operator</mat-label>
                  <mat-hint align="start">Vergleich wählen</mat-hint>
                  <mat-select formControlName="buildingUnitAmountOperation" placeholder="Gleich">
                    <mat-option *ngFor="let operator of operators" [value]="operator">
                      {{operator | procedureFilterOperatorToName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxFlex="100">
                <mat-form-field fxFlex="50" class="mx-12">
                  <input matInput [matDatepicker]="pickerStart" formControlName="startDate" placeholder="Anschlussdatum ab:">
                  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="50" class="mx-12">
                  <input matInput [matDatepicker]="pickerEnd" formControlName="endDate" placeholder="Anschlussdatum bis:">
                  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>
              </div>

              <div fxLayout="column" fxFlex="100" fxLayoutGap="20px">
                <mat-checkbox fxFlex="100" class="mx-12" [indeterminate]="true" formControlName="asSoonAsPossibleState">Nur Vorgänge die schnellstens abgeschlossen werden sollen?</mat-checkbox>
                <mat-checkbox fxFlex="100" class="mx-12" [indeterminate]="true" formControlName="informSalesAfterFinishedState">Nur Vorgänge, bei denene Intresse besteht?</mat-checkbox>
              </div>

            </div>
          </form>
          <mat-action-row>
            <button mat-raised-button (click)="resetFilter()">Zurücksetzen</button>
            <button mat-raised-button (click)="filterItems()">Filtern</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Sortierung
          </mat-expansion-panel-header>
          <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" [formGroup]="sortingForm" style="height: 100%">
            <div fxLayout="row" fxFlex="100">
              <mat-form-field fxFlex="50" class="mx-12">
                <mat-label>Eigenschaft</mat-label>
                <mat-hint align="start">Eigenschaft wählen</mat-hint>
                <mat-select formControlName="property" placeholder="Nach Status filtern">
                  <mat-option *ngFor="let property of sortingProperties" [value]="property">
                    {{property | procedureSortPropertiesToName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="50" class="mx-12">
                <mat-label>Reihenfolge</mat-label>
                <mat-hint align="start">Vergleich wählen</mat-hint>
                <mat-select formControlName="direction" placeholder="Aufsteigend">
                  <mat-option *ngFor="let direction of sortingDirections" [value]="direction">
                    {{direction | procedureSortingDirectionsToName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
          <mat-action-row>
            <button mat-raised-button (click)="resetSorting()">Sortieren</button>
            <button mat-raised-button (click)="sortItems()">Filtern</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Vorgänge werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!procedures || procedures.length == 0)"
      @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Keine Vorgänge vorhanden</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Derzeit sind keine Vorgänge vorhanden</p>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && procedures && procedures.length > 0"
      @ngIfFadeIn>

      <div class="search-results">
        <mat-list infiniteScroll [infiniteScrollContainer]="'.page-layout'" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
          (scrolled)="onScroll()" [fromRoot]="true">
          <mat-list-item *ngFor="let item of procedures">
            <h4 matLine>{{ item.contact.surname }} {{item.contact.lastname }}</h4>
            <span matLine> {{ item.type | procedureTypeToName }} </span>
            <span matLine> {{ item.building.streetName }} </span>
            <span [style.color]="item | procedureStateToColor"> {{ item.isOpen === false ? 'fertig -' : '' }} {{ item.current | procedureStateToName }} </span>
            <button mat-icon-button type="button" (click)="openDetails(item)" matTooltip="Details" matTooltipShowDelay="1000">
              <mat-icon aria-label="Info">info_outline</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
        <div fxLayout="column" fxLayoutGap="10px" *ngIf="loadingMoreDataInProgress === true" fxLayoutAlign="center center" @ngIfFadeIn>
          <p>Weitere Vorgänge werden geladen...</p>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
    </div>
    <!-- End Content -->
  </div>
</div>