<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Waren</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!articles || articles.length == 0)"
      @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Es sind noch keine Waren vorhanden</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Derzeit sind keine Waren vorhanden.</p>
      </div>
      <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
        <button mat-button type="button" (click)="createNewItem()">Neue Waren anlegen</button>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && articles && articles.length > 0" @ngIfFadeIn>
        <mat-toolbar>
            <mat-toolbar-row>
              <span *ngIf="articles.length > 1"> {{ articles.length }} Waren vorhanden</span>
              <span *ngIf="articles.length === 1"> Eine Ware vorhanden </span>
              <span fxFlex="1 1 auto"></span>
              <button mat-icon-button type="button" color="primary" (click)="createNewItem()" matTooltip="Ware hinzufügen" matTooltipShowDelay="1000">
                <mat-icon aria-label="Erstellen">add_box</mat-icon>
              </button>
            </mat-toolbar-row>
          </mat-toolbar>
      <mat-list>
        <mat-list-item *ngFor="let article of articles">
          <h3 matLine> {{ article.name}}</h3>
          <p *ngIf="article.productSoldByMeter" matLine>Meterware</p>
          <p *ngIf="!article.productSoldByMeter" matLine>Stückware</p>
          <p matLine class="articleIsInUse" *ngIf="article.isInUse">Wird aktuell verwendet</p>
          <button mat-icon-button type="button" (click)="editArticle(article)" matTooltip="Ware bearbeiten" matTooltipShowDelay="1000">
              <mat-icon aria-label="Bearbeiten">edit</mat-icon>
          </button>
          <button mat-icon-button type="button" (click)="deleteArticle(article)" matTooltip="Ware löschen" matTooltipShowDelay="1000">
            <mat-icon aria-label="Löschen">delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>

    <!-- End Content -->
  </div>
</div>