<p>
  <span *ngIf="message.action === 6">Der Auftrag </span>
  <span *ngIf="message.action === 29">Dein Auftrag</span>
  <strong>{{ details?.jobOverview?.name }} ( {{details?.jobOverview?.jobType | jobTypeToName }} ) </strong>
  wurde am
  <strong> {{ details?.acceptedAt | date:'dd.MM.yyyy' }} </strong> um {{ details?.acceptedAt | date:'HH:mm' }}
  durch
  <strong> {{ details?.acepptedBy?.surname }} {{ details?.acepptedBy?.lastname }} </strong>
  angenommen
</p>

<a mat-raised-button *ngIf="details?.jobOverview" [routerLink]="[getNavigationPathForJob(details.jobOverview),details.jobOverview.id]">Zu den Auftragsdetails</a>