<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Aufgaben erstellen</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="start stretch">
    <!-- Loading Card  -->

    <div class="fuse-card mx-12 my-24" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="0 0 auto" style="min-width: 100%">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Vorstrecker</span>
          </ng-template>
          <h1>Vorstreckeraufgaben erstellen</h1>
          <div fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center" *ngIf="loadingConstructionStages == true">
            <mat-progress-bar class="w-85-p " mode="indeterminate"></mat-progress-bar>
            <span class="my-12"> Bauabschnitte werden geladen ... </span>
          </div>
          <div *ngIf="loadingConstructionStages == false && (!constructionStages || constructionStages.length == 0)" @ngIfFadeIn>
            <span>Es gibt derzeit keine Bauabschnitte mit offenen Vorstreckersaufgaben</span>
          </div>
          <div *ngIf="loadingConstructionStages == false && constructionStages && constructionStages.length > 0" @ngIfFadeIn>
            <mat-toolbar>
              <mat-toolbar-row>
                <span> Bauabschnitte</span>
                <div fxFlex="1 1 auto"></div>
              </mat-toolbar-row>
            </mat-toolbar>
            <mat-list>
              <mat-list-item *ngFor="let item of constructionStages">
                <h3 matLine> {{ item.name }}</h3>
                <button mat-icon-button type="button" (click)="createBranchOffJobs(item)">
                  <mat-icon aria-label="Löschen">add</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Hausanschlüsse
          </ng-template>
          <h1>Hausanschlussaufgabe erstellen</h1>
          <besa-create-connect-building-task></besa-create-connect-building-task>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Einblasen
          </ng-template>
          <h1>Einblasaufgabe erstellen</h1>
          <besa-create-inject-task></besa-create-inject-task>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            KVZ vorbereiten
          </ng-template>
          <h1>KVZ vorbereiten</h1>
          <besa-create-prepare-branchable-for-splice-task></besa-create-prepare-branchable-for-splice-task>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Kunde splicen
          </ng-template>
          <h1>Kunde splicen</h1>
          <besa-create-splice-customer-task></besa-create-splice-customer-task>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            ODF Spleißen
          </ng-template>
          <h1>Hauptkabel im ODF Spleißen</h1>
          <besa-create-splice-odf-task></besa-create-splice-odf-task>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Aktvierung
          </ng-template>
          <h1>Kunden aktivieren</h1>
          <besa-create-activation-task></besa-create-activation-task>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Kommissionieren
          </ng-template>
          <h1>Kommissionieren</h1>
          <besa-create-inventory-task></besa-create-inventory-task>
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>
  <!-- End Content -->
</div>