<h1 mat-dialog-title>Kunde ist interessiert</h1>
<div mat-dialog-content>
    <mat-accordion [multi]="true" fxFlex="1 0 auto">
        <mat-expansion-panel [formGroup]="form" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Allgemeine Daten
            </mat-panel-title>
            <mat-panel-description>
              Anschlusstermin etc.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">

            <mat-form-field fxFlex="100" class="my-12">
              <mat-hint align="start">Wann soll die Schaltung des Anschlusses erfolgen?</mat-hint>
              <mat-label>Anschluss am:</mat-label>
              <input matInput [matDatepicker]="myDatepicker" placeholder="27.03.2018" formControlName="connectionAppointment">
              <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker>
              <mat-error *ngIf="formValidationErrors['connectionAppointment']">{{ formValidationErrors['connectionAppointment'] }}</mat-error>
            </mat-form-field>
            <mat-checkbox fxFlex="100" formControlName="activationAsSoonAsPossible">Anschluss so schnell wie möglich?</mat-checkbox>

          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [formGroup]="form.get('subscriberEndpointNearConnectionPoint')">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Anschlussdose
            </mat-panel-title>
            <mat-panel-description>
              Informationen zur Anschlussdose
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
            <mat-checkbox fxFlex="100" formControlName="value">Anschlussdose nahe Hausanschluss?</mat-checkbox>
            <mat-form-field fxFlex="100" class="mx-12">
              <mat-hint align="start">Maximal 1000 Zeichen</mat-hint>
              <mat-label>Beschreibung zur Anschlussdose </mat-label>
              <textarea matInput #inputSubscriberEndpointNearConnectionPoint placeholder="Besonders ist... " formControlName="description"
                rows="7"></textarea>
              <mat-hint align="end">{{ inputSubscriberEndpointNearConnectionPoint.value?.length || 0 }} / 1000 </mat-hint>
              <mat-error *ngIf="formValidationErrors['description']">{{ formValidationErrors['description'] }}</mat-error>
            </mat-form-field>

            <div fxLayout="column" fxFlex="1 0 auto" *ngIf="form.value.subscriberEndpointNearConnectionPoint.value === false"
              @ngIfFadeIn fxLayoutAlign="stretch stretch" [formGroup]="form">
              <mat-form-field fxFlex="100" class="my-12">
                <mat-hint align="start">Wie viel Leerrohr wird benötigt</mat-hint>
                <mat-label>Leerrohr in Meter:</mat-label>
                <input matInput type="number" placeholder="15" formControlName="ductAmount">
                <mat-error *ngIf="formValidationErrors['ductAmount']">{{ formValidationErrors['ductAmount'] }}</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="100" class="my-12">
                <mat-hint align="start">Welche Anschlussdose ist gewünscht?</mat-hint>
                <mat-label>Anschlussdosen-Länge:</mat-label>
                <input matInput type="number" placeholder="20" formControlName="subscriberEndpointLength">
                <mat-error *ngIf="formValidationErrors['subscriberEndpointLength']">{{ formValidationErrors['subscriberEndpointLength'] }}</mat-error>
              </mat-form-field>
            </div>

          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [formGroup]="form.get('activePointNearSubscriberEndpoint')">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Aktive Technik
            </mat-panel-title>
            <mat-panel-description>
              Informationen zur aktiven Beschaltung
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
            <mat-checkbox fxFlex="100" formControlName="value">Aktivtechnik nahe Anschlussdose?</mat-checkbox>
            <mat-form-field fxFlex="100" class="mx-12">
              <mat-hint align="start">Maximal 1000 Zeichen</mat-hint>
              <mat-label>Beschreibung zum aktiven Anschluss </mat-label>
              <textarea matInput #activePointNearSubscriberEndpointDescription placeholder="Besonders ist... " formControlName="description"
                rows="7"></textarea>
              <mat-hint align="end">{{ activePointNearSubscriberEndpointDescription.value?.length || 0 }} / 1000 </mat-hint>
              <mat-error *ngIf="formValidationErrors['description']">{{ formValidationErrors['description'] }}</mat-error>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [formGroup]="form.get('powerForActiveEquipment')">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Stromanschluss
            </mat-panel-title>
            <mat-panel-description>
              Informationen zum Strom für die aktive Technik
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
            <mat-checkbox fxFlex="100" formControlName="value">Steckdose für die aktive Technik vorhanden?</mat-checkbox>
            <mat-form-field fxFlex="100" class="mx-12">
              <mat-hint align="start">Maximal 1000 Zeichen</mat-hint>
              <mat-label>Beschreibung zur Stromversorgung </mat-label>
              <textarea matInput #powerForActiveEquipmentDescription placeholder="Besonders ist... " formControlName="description" rows="7"></textarea>
              <mat-hint align="end">{{ powerForActiveEquipmentDescription.value?.length || 0 }} / 1000 </mat-hint>
              <mat-error *ngIf="formValidationErrors['description']">{{ formValidationErrors['description'] }}</mat-error>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
          <button mat-raised-button type="button" color="warn" (click)="cancelCreateCustomer()" class="btn-cancel">
              Abbrechen </button>
          <button mat-raised-button color="primary" class="mx-12" [disabled]="checkIfFormIsValid() == false" (click)="submitCustomer()">Kunden erstellen</button>
        </div>
</div>