<p>
  <span>Der Auftrag </span>
  <strong>{{ details?.jobOverview?.name }} ( {{details?.jobOverview?.jobType | jobTypeToName }} ) </strong>
  wurde am
  <strong> {{ details?.finishedAt | date:'dd.MM.yyyy' }} </strong> um {{ details?.finishedAt | date:'HH:mm' }}
  durch
  <strong> {{ details?.finishedBy?.surname }} {{ details?.finishedBy?.lastname }} </strong>
  beendet
</p>
<p *ngIf="details?.problemHappend?.value === false">Es traten keine Probleme auf </p>
<p *ngIf="details?.problemHappend?.value === true">Es traten Probleme auf: {{ details.problemHappend.description }}</p>

<a mat-raised-button *ngIf="details?.jobOverview" [routerLink]="[getNavigationPathForJob(details.jobOverview),details.jobOverview.id]">Zu
  den Auftragsdetails</a>