<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column">
    <button mat-fab type="button" fxLayoutAlign="center left" (click)="navigateBack()" matTooltip="Zurück zur Übersicht" matTooltipShowDelay="1000">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="hero-text mb-32" fxLayoutAlign="center center">
      <h1>Vorgangdetails</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!data)" @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Details wurden nicht geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Es konnten keine Details geladen werden</p>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && data" @ngIfFadeIn>

      <mat-card>
        <mat-card-header>

        </mat-card-header>
        <mat-card-content>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="h1">
              Aktiver Kunde - {{ data.building.streetName }}
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Abgeschlossen</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ data.isClosed === true ? 'ja' : 'nein' }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="data.appointment">
            <div>Fertig zu stellen bis</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ data.appointment | date: 'dd.MM.yyyy' }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Gestattungsvertrag?</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">
                <mat-icon>{{ data.declarationOfAggrementInStock === true ? 'check_box' : 'check_box_outline_blank' }} </mat-icon>
              </div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Tarifvertrag?</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">
                <mat-icon>{{ data.contractInStock === true ? 'check_box' : 'check_box_outline_blank' }} </mat-icon>
              </div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Anchluss so früh wie möglich?</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">
                <mat-icon>{{ data.activationAsSoonAsPossible === true ? 'check_box' : 'check_box_outline_blank' }} </mat-icon>
              </div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Aktueller Status</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ data.current | procedureStateToName }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Start</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ data.start | procedureStateToName }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Vorrausichtliches Ende</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ data.expectedEnd | procedureStateToName }}</div>
            </div>
          </div>
          <agm-map style="height: 300px" [zoom]="18.0" [latitude]="data.building.coordinate.latitude" [clickableIcons]="false" [scrollwheel]="false"
            [longitude]="data.building.coordinate.longitude">
            <agm-marker [latitude]="data.building.coordinate.latitude" [longitude]="data.building.coordinate.longitude">
            </agm-marker>
          </agm-map>
          <mat-divider></mat-divider>
          <div class="h2 mb-12">
            Verlauf
          </div>
          <mat-list>
            <mat-list-item *ngFor="let element of data.timeline">
              <h3 matLine> {{ element.state | procedureStateToName }} </h3>
              <p matLine *ngIf="element.comment">{{ element.comment }} </p>
              <a matLine [routerLink]="[getJobLink(element),element.relatedJobId]" *ngIf="element.relatedJobId && element.relatedJobType">Auftrags-Details</a>
              <span> {{ element.timestamp | date: 'dd.MM.yyyy HH:mm' }} </span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- End Content -->
  </div>
</div>