<mat-list>
  <mat-list-item *ngFor="let item of startedUploads">
    <mat-label matLine style="font-weight: bold;">{{item.file.name}}</mat-label>
    <mat-progress-bar *ngIf="item.status == 1" matLine color="primary" mode="query"></mat-progress-bar>
    <mat-progress-bar *ngIf="item.status == 2" matLine color="primary" mode="determinate" [value]="item.percentage"></mat-progress-bar>
    <mat-progress-bar *ngIf="item.status == 8" matLine color="warn" mode="determinate" [value]="item.percentage"></mat-progress-bar>
    <p matLine *ngIf="item.status == 1 || item.status == 2 || item.status == 8">
      <span *ngIf="item.status == 1">ausstehend</span>
      <span *ngIf="item.status == 2">wird hochgeladen</span>
      <span *ngIf="item.status == 4">abgeschlossen</span>
      <span *ngIf="item.status == 8">abgebrochen</span>
      <span fxFlex="1 0 auto"></span>
      <span *ngIf="item.percentage < 100">{{(item.percentage / 100) * item.file.size | fileSizeToUnit}} / {{item.file.size | fileSizeToUnit}}</span>
      <span fxFlex="1 0 auto"></span>
      <span>{{item.percentage}} %</span>
    </p>
    <button mat-icon-button type="button" *ngIf="item.status == 4 && canRemoveItems === true" (click)="delete(item)">
      <mat-icon aria-label="Löschen">delete</mat-icon>
    </button>
    <button mat-icon-button type="button" *ngIf="item.status == 1 || item.status == 2 || item.status == 8" (click)="cancel(item)">
      <mat-icon aria-label="Entfernen">clear</mat-icon>
    </button>
  </mat-list-item>
</mat-list>