<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Firma erstellen</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start stretch">

    <div class="fuse-card mat-accent-bg mx-12 my-24" fxLayout="column" fxFlex="0 0 auto" fxFlex.gt-sm="0 0 30%" style="min-width: 100%">
      <div class="p-16">
        <div class="h1">Firma</div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        <p>Hier können Sie eine Firma erstellen</p>
      </div>
    </div>

    <!-- Content  Card  -->
    <form class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" fxFlex.gt-sm="1 0 auto"
      [formGroup]="form" (ngSubmit)="addCompany()" style="height: 100%" @ngIfFadeIn>
      <div class="item-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
        <mat-form-field fxFlex="40" fxFlex.lt-sm="100" class="mx-12">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>Name</mat-label>
          <input matInput #inputName formControlName="name" matTooltip="Geben Sie den Namen der Firma ein" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputName.value?.length || 0 }} / 64</mat-hint>
          <mat-error *ngIf="formValidationErrors['name']">{{formValidationErrors['name']}}</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="40" fxFlex.lt-sm="100" class="mx-12">
          <mat-hint align="start">Maximal 32 Zeichen</mat-hint>
          <mat-label>Telefon</mat-label>
          <input matInput #inputPhone formControlName="phone" matTooltip="Geben Sie die Telefonnummer der Firma ein" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputPhone.value?.length || 0 }} / 32 </mat-hint>
          <mat-error *ngIf="formValidationErrors['phone']">{{formValidationErrors['phone']}}</mat-error>
        </mat-form-field>
      </div>

      <div class="item-row" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="1 0 auto" fxLayout.lt-sm="column">
        <mat-form-field fxFlex="80" class="mx-12" fxFlex.lt-sm="100">
          <mat-hint align="start">Maximal 255 Zeichen</mat-hint>
          <mat-label>Straße</mat-label>
          <input matInput #inputStreet formControlName="street" matTooltip="Geben Sie den Straßennamen der Firma ein" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputStreet.value?.length || 0 }} / 255 </mat-hint>
          <mat-error *ngIf="formValidationErrors['street']">{{formValidationErrors['street']}}</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="20" class="mx-12" fxFlex.lt-sm="100">
          <mat-hint align="start">Maximal 8 Zeichen</mat-hint>
          <mat-label>Hausnummer</mat-label>
          <input matInput #inputStreetNumber formControlName="streetNumber" matTooltip="Geben Sie die Hausnummer der Firma ein" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputStreetNumber.value?.length || 0 }} / 8 </mat-hint>
          <mat-error *ngIf="formValidationErrors['streetNumber']">{{formValidationErrors['streetNumber']}}</mat-error>
        </mat-form-field>
      </div>

      <div class="item-row" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="1 0 auto" fxLayout.lt-sm="column">
        <mat-form-field fxFlex="50" class="mx-12" fxFlex.lt-sm="100">
          <mat-hint align="start">Genau 5 Zeichen</mat-hint>
          <mat-label>Postleitszahl</mat-label>
          <input matInput #inputPostalCode formControlName="postalCode" matTooltip="Geben Sie die Postleitszahl der Firma ein" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputPostalCode.value?.length }} / 5</mat-hint>
          <mat-error *ngIf="formValidationErrors['postalCode']">{{ formValidationErrors['postalCode'] }}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50" class="mx-12" fxFlex.lt-sm="100">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>Stadt</mat-label>
          <input matInput #inputCity formControlName="city" matTooltip="Geben Sie die Stadt der Firma ein" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputCity.value?.length || 0 }} / 64 </mat-hint>
          <mat-error *ngIf="formValidationErrors['city']">{{formValidationErrors['city']}}</mat-error>
        </mat-form-field>
      </div>


      <div>
        <button class="cancel-button" mat-raised-button type="button" color="warn" (click)="cancelAdd()" matTooltip="Erstellvorgang abbrechen" matTooltipShowDelay="1000"> 
          Abbrechen
        </button>
        <button mat-raised-button type="submit" color="primary" matTooltip="Erstellvorgang bestätigen" matTooltipShowDelay="1000">
          Bestätigen
        </button>
      </div>
    </form>

    <!-- End Content -->
  </div>
</div>