<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column">
    <button mat-fab type="button" fxLayoutAlign="center left" (click)="navigateBack()" matTooltip="Zurück zur Kontaktübersicht" matTooltipShowDelay="1000">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="hero-text mb-32" fxLayoutAlign="center center">
      <h1>Kontaktdetails</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!contact)" @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Kontaktdetails wurden nicht geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Es konnten keine Kontaktdetails geladen werden</p>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && contact" @ngIfFadeIn>

      <mat-card>
        <mat-card-header>
          
        </mat-card-header>
        <mat-card-content>
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="h1">
                  {{ contact.surname }} {{ contact.lastname }}
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <button mat-fab type="button" color="accent" (click)="editContact()" matTooltip="Kontakt bearbeiten" matTooltipShowDelay="1000">
                      <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Firma</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ contact.companyName }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Geschlecht</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ contact.type | genderTypeIdToString }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Telefon</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ contact.phone }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>E-Mail-Adresse</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ contact.emailAddress }}</div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="mb-12" fxLayout="row">
            <div class="h2">Adresse</div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Straße</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ contact.address.street }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Hausnummer</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ contact.address.streetNumber }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Stadt</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ contact.address.city }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Postleitszahl</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ contact.address.postalCode }}</div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div></div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-raised-button type="button" color="warn" (click)="deleteContact()" matTooltip="Löschvorgang des Kontakts einleiten" matTooltipShowDelay="1000">Kontakt löschen</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>


    </div>
    <!-- End Content -->
  </div>
</div>