<h1 mat-dialog-title>Fotos aufnehmen</h1>
<div mat-dialog-content fxLayout="column" fxLayoutAlign="stretch stretch" fusePerfectScroll>
  <canvas style="display: none" #pictureConverter>
  </canvas>
  <video fxFlex="100" #video>Vorschau wird geladen</video>

  <input type="file" accept="image/*" capture="environment">

  <!-- <button mat-raised-button fxAlign="end" (click)="takePicture()"> Foto aufnehmen </button> -->

  <div fxFlex="100" *ngFor="let imgSrc of imgDatas">
    <img [src]="imgSrc" class="my-24" />
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button type="button"> Abbrechen </button>
  <button mat-button type="button" cdkFocusInitial> Fertig </button>
</div>