<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Protokolle</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->

    <div class="my-24">
      <mat-accordion>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            Filter
          </mat-expansion-panel-header>
          <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" [formGroup]="form" style="height: 100%">
            <div fxLayout="row" fxFlex="100">
              <mat-form-field fxFlex="50" class="mx-12">
                <input matInput [matDatepicker]="pickerStart" formControlName="startTime" placeholder="Von:">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
              </mat-form-field>
              <mat-form-field fxFlex="50" class="mx-12">
                <input matInput [matDatepicker]="pickerEnd" formControlName="endTime" placeholder="Bis:">
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex="100">
              <mat-form-field fxFlex="50" class="mx-12">
                <mat-label>Vorgang</mat-label>
                <mat-hint align="start">Bspw. erstellt, importiert... </mat-hint>
                <mat-select formControlName="actions" placeholder="Nach Art filtern" multiple>
                  <mat-option *ngFor="let property of possibleActions" [value]="property">
                    {{ property | messageActionToString }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="50" class="mx-12">
                <mat-label>Typ</mat-label>
                <mat-hint align="start">Bspw. Gebäude, Auftrag, Vorgang...</mat-hint>
                <mat-select formControlName="types" placeholder="Nach Typ filtern" multiple>
                  <mat-option *ngFor="let property of possibleTypes" [value]="property">
                    {{ property | messageRelatedObjectTypeToName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
          <mat-action-row>
            <button mat-raised-button (click)="resetFilter()">Zurücksetzen</button>
            <button mat-raised-button (click)="filterItems()">Filtern</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!entries || entries.length == 0)"
      @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Kein Protokolleinträge gefunden</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Derzeit ist kein Protokoll vorhanden</p>
      </div>
    </div>



    <!-- Content  Card  -->
    <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && entries && entries.length > 0"
      @ngIfFadeIn>

      <mat-toolbar>
        <mat-toolbar-row>
          <span *ngIf="entries.length > 1"> {{ entries.length }} Einträge werden angezeigt </span>
          <span *ngIf="entries.length === 1"> Ein Eintrag vorhanden </span>
          <span fxFlex="1 1 auto"></span>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-list infiniteScroll [infiniteScrollContainer]="'.page-layout'" [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [fromRoot]="true">
        <mat-list-item *ngFor="let entry of entries">
          <h3 matLine>{{entry.name}}</h3>
          <p matLine>{{ entry.type | messageRelatedObjectTypeToName }} - {{ entry.action | messageActionToString }}
          </p>
          <p matLine>{{ entry.timestamp | date:'dd.MM.yyyy hh.mm' }} Uhr
            <span *ngIf="entry.sourcedBy"> von {{entry.sourcedBy.surname }} - {{entry.sourcedBy.lastname }} erstellt
            </span>
          </p>
        </mat-list-item>
      </mat-list>
      <div fxLayout="column" fxLayoutGap="10px" *ngIf="loadingMoreDataInProgress === true" fxLayoutAlign="center center"
        @ngIfFadeIn>
        <p>Weitere Einträge werden geladen...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>

    <!-- End Content -->
  </div>
</div>