<div class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
  
      <div class="hero-text mb-32">
        <h1>Aufgaben zuweisen</h1>
      </div>
    </div>
    <!-- / HEADER -->
  
    <!-- CONTENT -->
    <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="start stretch">
      <!-- Loading Card  -->
  
      <div class="fuse-card mx-12 my-24" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="0 0 auto" style="min-width: 100%">
        <mat-tab-group #tabGroup>
          <mat-tab #firstTab>
            <ng-template mat-tab-label>
              <span>Vorstrecker und Hausanschlüsse</span>
            </ng-template>
            <besa-bind-connection-jobs *ngIf="tabGroup.selectedIndex === 0" @ngIfFadeIn></besa-bind-connection-jobs>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span>Einblasen</span>
            </ng-template>
            <besa-bind-inject-jobs *ngIf="tabGroup.selectedIndex === 1" @ngIfFadeIn></besa-bind-inject-jobs>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span>KVZ Vorbeirten</span>
            </ng-template>
            <besa-bind-prepare-branchable-jobs *ngIf="tabGroup.selectedIndex === 2" @ngIfFadeIn></besa-bind-prepare-branchable-jobs>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span>HK im ODF Spleißen</span>
            </ng-template>
            <besa-bind-splice-odf-jobs *ngIf="tabGroup.selectedIndex === 3" @ngIfFadeIn></besa-bind-splice-odf-jobs>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span>Kunden spleißen</span>
            </ng-template>
            <besa-bind-splice-customer-jobs *ngIf="tabGroup.selectedIndex === 4" @ngIfFadeIn></besa-bind-splice-customer-jobs>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span>Kunden aktivieren</span>
            </ng-template>
            <besa-bind-activation-jobs *ngIf="tabGroup.selectedIndex === 5" @ngIfFadeIn></besa-bind-activation-jobs>
          </mat-tab>
        </mat-tab-group>
      </div>
  
    </div>
    <!-- End Content -->
  </div>