<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Details zur Sammelaufgabe</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDetailsInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDetailsInProgress === false && details" @ngIfFadeIn>
      <mat-toolbar>
        <mat-toolbar-row>
          <h2> {{ details.name }} - {{ getJobType() | jobTypeToName }} </h2>
        </mat-toolbar-row>
      </mat-toolbar>
      <h3 class="mat-headline">Zusammenfassung</h3>
      <table class="formated-table">
        <tbody>
          <tr>
            <th> Typ: </th>
            <td> {{ getJobType() | jobTypeToName }}</td>
          </tr>
          <tr>
            <th> Zu erledigen bis: </th>
            <td>
              <div fxLayout="column">
                <span> {{ details.end | date:'dd.MM.yy' }} </span>
                <span> noch {{ details.end | daysLeft}} </span>
              </div>
            </td>
          </tr>
          <tr>
            <th> Status: </th>
            <td>
              <div fxLayout="column">
                <span> {{ details.state | jobStateToName }} </span>
                <span> {{ getFinishedJobs() }} von {{ details.jobs.length }} </span>
                <mat-progress-bar mode="determinate" [value]="details.doingPercentage"> </mat-progress-bar>
              </div>
            </td>
          </tr>
          <tr>
        </tbody>
      </table>
      <h3 class="mat-headline">Aufgaben</h3>
      <mat-list>
        <mat-list-item *ngFor="let job of details.jobs" (click)="navigateToJob(job)">
          <span matLine> {{ job.name }} - {{ job.jobType | jobTypeToName }} </span>
          <span> {{ job.state | jobStateToName }} </span>
        </mat-list-item>
      </mat-list>
    </div>

    <!-- End Content -->
  </div>
</div>