<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Zugriff verweigert</h1>
      <h3>Keine Berechtigung</h3>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32 " fxLayout="row" fxLayoutWrap fxLayoutAlign="center center">
    <div class="fuse-card mat-warn-bg">
      <div class="p-16">
        <div class="h1">Keine Berechtigung</div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        <p> Um diesen Bereich zu betreten, verfügen Sie nicht über die ausreichenden Rechte. </p>
        <p> Der Zugriff wurde verweigert</p>
      </div>
    </div>
  </div>

  <!-- / CONTENT -->
</div>