<div class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
      <div class="hero-text mb-32">
        <h1>Details zum Bauabschnitt</h1>
      </div>
    </div>
    <!-- / HEADER -->
  
    <!-- CONTENT -->
    <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
      <!-- Loading Card  -->
      <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDetailsInProgress === true">
        <div class="p-16">
          <div class="h1">Daten werden geladen</div>
        </div>
        <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
  
      <!-- Content  Card  -->
      <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDetailsInProgress === false && details" @ngIfFadeIn>
        <h2>Bauabschnitt: {{ details.name }} </h2>
        <div fxLayout="row" fxLayoutAlign="center center">
          <span fxFlex="1 1 50%"> Fortschritt:</span>
          <mat-progress-bar fxFlex="1 1 50%" class="w-85-p" mode="determinate" [value]="details.doingPercentage"></mat-progress-bar>
        </div>
        <mat-accordion multi="true" fxLayout="column">
          <mat-expansion-panel class="my-12" *ngFor="let branchable of details.branchables">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span> {{ branchable.name }} </span>
              </mat-panel-title>
              <mat-panel-description>
                <div fxLayout="row">
                  <span fxFlex="1 1 auto"> Fortschritt: </span>
                  <mat-progress-bar fxFlex="1 0 auto" fxFlexAlign="center" class="mx-12" mode="determinate" [value]="branchable.doingPercentage"></mat-progress-bar>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="column" fxLayoutAlign="center center" *ngIf="branchable.jobs.length == 0">
              <p>
                <strong> Keine Aufträge vorhanden </strong>
              </p>
            </div>
            <mat-list *ngIf="branchable.jobs.length > 0">
              <mat-list-item *ngFor="let job of branchable.jobs" [routerLink]="[getNavigationPathForDetails(job),job.jobId]">
                <div matLine fxLayout="row">
                  <mat-icon fxFlex="0 0 auto" *ngIf="job.state === 1">check_box_outline_blank</mat-icon>
                  <mat-icon fxFlex="0 0 auto" *ngIf="job.state === 2 || job.state === 3">check_box</mat-icon>
                  <span fxFlex="1 0 auto">{{ job.branchable.name }} </span>
                </div>
                <button mat-icon-button type="button" (click)="navigateToJob(job)" matTooltip="Details" matTooltipShowDelay="1000">
                  <mat-icon aria-label="Info">info_outline</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
  
        </mat-accordion>
      </div>
  
      <!-- End Content -->
    </div>
  </div>