<h1 mat-dialog-title>
  Gebiet erstellen</h1>
<div mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="start stretch">
      <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="100">
          <mat-form-field fxFlex="100" class="mx-12" fxFlex.lt-sm="100">
            <mat-label>Name</mat-label>
            <input matInput #inputComment placeholder="Name des Gebiets" [(ngModel)]="name" matTooltip="Geben Sie den Namen des Gebiets an"
              matTooltipShowDelay="1000">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="100">
          <h3>Bitte wählen Sie als nächstes die Koordinaten auf der Karte aus</h3>
        </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button type="button" (click)="cancel()">Abbrechen</button>
  <button mat-raised-button type="submit" color="primary" (click)="finish()">Weiter</button>
</div>