<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Bauabschnitte</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!overviewItems || overviewItems.length == 0)"
      @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Es sind noch keine Bauabschnitte vorhanden</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Derzeit sind keine Bauabschnitte vorhanden.</p>
      </div>
      <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
        <button mat-button (click)="createNewItem()" type="button">Neuen Bauabschnitt anlegen</button>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && overviewItems && overviewItems.length > 0"
      @ngIfFadeIn>
      <mat-toolbar>
        <mat-toolbar-row>
          <span> {{ overviewItems.length }} Bauabschnitte vorhanden </span>
          <span fxFlex="1 1 auto"></span>
          <button mat-icon-button type="button" (click)="createNewItem()">
            <mat-icon aria-label="Neuer Bauabschnitt">add</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-list>
        <mat-list-item *ngFor="let item of overviewItems">
          <h3 matLine> {{ item.name }}</h3>
          <div matLine>
            <mat-progress-bar mode="determinate" [value]="item.doingPercentage"></mat-progress-bar>
            <span> {{ item.doingPercentage }} </span>
          </div>
          <button mat-icon-button type="button" (click)="goToEdit(item)">
            <mat-icon aria-label="Bearbeiten">edit</mat-icon>
          </button>
          <button mat-icon-button type="button" (click)="deleteItem(item)">
              <mat-icon aria-label="Löschen">delete</mat-icon>
            </button>
          
        </mat-list-item>
      </mat-list>
    </div>

    <!-- End Content -->
  </div>
</div>