<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Vorgänge importieren</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="start stretch">

    <!-- Anmelde-Card  -->
    <div class="fuse-card mx-12 my-24 h-100-p" fxLayout="column" fxFlex="0 0 auto" style="min-width: 100%">
      <div class="p-16">
        <div class="h1">Vorgänge importieren</div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        <p>Hier können Sie Vorgaänge importieren</p>
        <p>Wählen Sie dazu die Datei aus, die die Vorgänge enthält und Ordnen zu anschließend die Felder zu</p>
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
      <mat-horizontal-stepper linear="true" #stepper="matHorizontalStepper" (selectionChange)="stepChanged($event)">
        <mat-step [completed]="file != null && file.previewLoading === false && file.content">
          <ng-template matStepLabel>Datei</ng-template>
          <div *ngIf="file && file.previewLoading == true" @ngIfFadeIn>
            <mat-progress-bar mode="query"></mat-progress-bar>
            <p>Datei wird eingelesen</p>
          </div>

          <besa-input-file fxFlexAlign="start" fxFlexAlign.xs="end" (onFileSelect)="onFileSelect($event)" [mutliple]="false" [accept]="'.csv'"
            [showIcon]="true" [caption]="'Datei auswählen'">
          </besa-input-file>

          <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
            <button mat-raised-button color="primary" type="button" [disabled]="file == null || file.previewLoading === true || !file.content"
              class="mx-12" matStepperNext>Weiter</button>
          </div>

        </mat-step>
        <mat-step [completed]="missingProperties.length == 0" [formGroup]="form">
          <ng-template matStepLabel>Zuordnung</ng-template>

          <div class="mat-accent-bg my-24" *ngIf="missingProperties.length > 0" @ngIfFadeIn>
            <p>Folgende Zuordnungen fehlen noch</p>
            <ul>
              <li *ngFor="let property of missingProperties"> {{ property | procedurePropertToName }} </li>
            </ul>
          </div>

          <mat-checkbox class="my-24" (change)="changeFirstLine($event)">Erste Zeile überspringen</mat-checkbox>

          <div fxLayout="column" class="my-24" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
            <mat-slide-toggle formControlName="skipError">Import bei Fehlern abbrechen?</mat-slide-toggle>
            <mat-slide-toggle formControlName="rolebackIfErrorHappend">Import bei Fehlern rückgänge machen??</mat-slide-toggle>
            <mat-form-field fxFlex="100%">
                <mat-hint align="start">Bspw. ASAP</mat-hint>
                <mat-label>Bezeichnung für schnellstmöglichen Anschluss </mat-label>
                <input matInput #inputASAP placeholder="ASAP" formControlName="asSoonAsPossibleString">
                <mat-hint align="end">{{ inputASAP.value?.length || 0 }} / 128 </mat-hint>
              <mat-error *ngIf="formValidationErrors['asSoonAsPossibleString']">{{ formValidationErrors['asSoonAsPossibleString'] }}</mat-error>
            </mat-form-field>
          </div>

          <mat-table #table [dataSource]="lineDataSource">
            <ng-container *ngFor="let index of maxColumnAmount | amountToArray" [matColumnDef]="getColumnName(index)">
              <mat-header-cell *matHeaderCellDef>
                <mat-form-field *ngIf="!propertyMapper[index]">
                  <mat-select placeholder="Eigenschaft" (selectionChange)="propertySelected($event,index)">
                    <mat-option [value]="null"> Nicht importieren </mat-option>
                    <mat-option *ngFor="let value of possibleValues" [value]="value"> {{ value | procedurePropertToName }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <span *ngIf="propertyMapper[index]">
                  {{ propertyMapper[index] | procedurePropertToName }}
                  <button mat-icon-button (click)="removeIndex(index)">
                    <mat-icon aria-label="Löschen">delete</mat-icon>
                  </button>
                </span>

              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.getValue(index)}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
            <button mat-raised-button class="mx-12" type="button" matStepperPrevious>Zurück</button>
            <button mat-raised-button color="primary" type="button" class="mx-12" matStepperNext [disabled]="missingProperties.length > 0">Starten</button>
          </div>

        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Import</ng-template>
          <div fxLayout="column" fxLayoutAlign="stretch stretch">

            <div fxFlexAlign="center" *ngIf="importInProgress === true" @ngIfFadeIn>
              <div class="p-16">
                <div class="h1">Import wird ausgeführt</div>
              </div>
              <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
              </div>
            </div>

            <div fxFlexAlign="center" *ngIf="importResult" @ngIfFadeIn>
              <div class="p-16">
                <div class="h1">Ergebnis</div>
              </div>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Entwicklerinformationen
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
                    <p>{{ importResult | json }} </p>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>

            <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
              <button mat-raised-button class="mx-12" type="button" matStepperPrevious>Zurück</button>
              <button mat-raised-button color="primary" type="button" class="mx-12" matStepperNext (click)="startImport()" [disabled]="importInProgress === true">Import starten</button>
            </div>

            <button mat-button (click)="openDialog()">Dialog öffnen</button>

            <a href="data:application/csv;charset=utf-8,%22Column%20One%22%2C%22Column%20Two%22%2C%22Column%20Three%22%0D%0A%22Row%201%20Col%201%22%2C%22Row%201%20Col%202%22%2C%22Row%201%20Col%203%20%22%0D%0A%22Row%202%20Col%201%22%2C%22Row%202%20Col%202%22%2C%22Row%202%20Col%203%22%0D%0A%22Row%203%20Col%201%22%2C%22Row%203%20Col%202%22%2C%22Row%203%20Col%203%22"
              download="test2432424.csv" id="export" role='button'>Click On This Here Link To Export The Table Data into a CSV File
            </a>

            <mat-table #table [dataSource]="lineDataSource" *ngIf="importResult">
              <ng-container *ngFor="let index of maxColumnAmount | amountToArray" [matColumnDef]="getColumnName(index)">
                <mat-header-cell *matHeaderCellDef>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.getValue(index)}}</mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [ngStyle]="{'background-color': checkItem(i) === true ? '#ff3b26' : 'lightgreen'}"
                [matTooltip]="getTooltip(i)"></mat-row>
            </mat-table>
          </div>

        </mat-step>
      </mat-horizontal-stepper>
    </div>

  </div>
</div>