<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Meine Aufgaben</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="start stretch">
    <!-- Loading Card  -->

    <div class="fuse-card my-32 " *ngIf="loadingInProgress === true">
      <div class="p-16">
        <div class="h1">Laden</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        <p>Es werden die aktuellen Aufgaben geladen</p>
      </div>
    </div>

    <div class="fuse-card my-32 " *ngIf="loadingInProgress === false && (!jobs || jobs.length == 0)" @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Keine Aufgaben</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Derzeit liegen keine Aufträge zum Bestätigen vor</p>
      </div>
    </div>

    <div class="fuse-card mx-12 my-24" *ngIf="loadingInProgress === false && jobs && jobs.length > 0" @ngIfFadeIn fxLayout="column"
      fxLayoutAlign="start stretch" fxFlex="0 0 auto" style="min-width: 100%">
      <mat-toolbar>
        <mat-toolbar-row>
          <span>{{ jobs.length }} Aufträge zum Bestätigen </span>
          <span fxFlex="1 1 auto"></span>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-list>
        <mat-list-item *ngFor="let job of jobs" (click)="navigateToJob(job)">
          <h3 matLine> {{ job.name }} - {{ job.jobType | jobTypeToName }} </h3>
        </mat-list-item>
      </mat-list>
    </div>

  </div>
  <!-- End Content -->
</div>