<form class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" (submit)="createJob()"
  style="height: 100%" [formGroup]="form">
  <div class="p-16" fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="center center" *ngIf="loadingCablesInProgress === true">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <p>Kabel werden geladen...</p>
  </div>
  <div fxLayout="column" fxFlex="1 0 auto" class="mat-accent-bg p-12 my-24" fxLayoutAlign="stretch stretch" @ngIfFadeIn *ngIf="loadingCablesInProgress === false && !cables && cables.length == 0">
    <p>Es wurden keine Kabel geladen</p>
  </div>
  <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" @ngIfFadeIn *ngIf="loadingCablesInProgress === false && cables && cables.length > 0">
    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
      <mat-form-field fxFlex="100" class="mx-12" fxFlex.lt-sm="100">
        <mat-label>Kabel</mat-label>
        <mat-hint align="start">Hauptkabel (HK) auswählen</mat-hint>
        <mat-select formControlName="mainCableId" placeholder="HK Bocksbergweg" (selectionChange)="cableChanged($event)">
          <mat-option *ngFor="let cable of cables" [value]="cable.id">
            {{cable.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" class="mat-warn-bg p-12 my-24" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" @ngIfFadeIn *ngIf="selectedCable && selectedCable.jobExists === true">
      <p>Zu diesem Hauptkabel wurde bereits an Auftrag angelegt. Wählen Sie ein anderes Kabel </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
      <button mat-raised-button color="primary" type="submit" class="mx-12" [disabled]="form.invalid === true || !this.selectedCable || selectedCable.jobExists === true || createTaskInProgress === true">Erstellen</button>
    </div>
  </div>
</form>