<mat-card>
  <mat-card-header>
    <mat-card-title>Spleißübersicht</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-accordion class="my-24">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Anzeige
          </mat-panel-title>
          <mat-panel-description>
            Spalten ein und ausblenden
          </mat-panel-description>

        </mat-expansion-panel-header>
        <mat-selection-list (selectionChange)="columnsChanged($event)">
          <mat-list-option *ngFor="let column of possibleColumns" [selected]="true" [value]="column">
            {{ getNiceColumName(column) }}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filter
          </mat-panel-title>
          <mat-panel-description>
            Spleiße ein und ausblenden
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="20px">
          <div fxFlex="0 0 33%" fxFlex.lt-md="100%" fxLayout="column">
            <div class="h3"> Spleißtyp </div>
            <mat-selection-list (selectionChange)="typesChanged($event)">
              <mat-list-option *ngFor="let type of possibleSpliceTypes" [value]="type">
                {{ getSpliceTypeName(type) }}
              </mat-list-option>
            </mat-selection-list>
          </div>
          <div fxFlex="0 0 33%" fxFlex.lt-md="100%" fxLayout="column">
            <div class="h3"> Bündel </div>
            <mat-selection-list (selectionChange)="bundleChanged($event)">
              <mat-list-option *ngFor="let bundle of possibleBundles" [value]="bundle">
                {{bundle}}
              </mat-list-option>
            </mat-selection-list>
          </div>
          <div fxFlex="0 0 33%" fxFlex.lt-md="100%" fxLayout="column">
            <div class="h3"> Name </div>
            <mat-selection-list (selectionChange)="nameChanged($event)">
              <mat-list-option *ngFor="let name of possibleNames" [value]="name">
                {{name}}
              </mat-list-option>
            </mat-selection-list>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <table mat-table [dataSource]="spliceDataSource" class="spliceTable my-24">
      <ng-container matColumnDef="firstCableName">
        <th mat-header-cell *matHeaderCellDef> Kabel 1 </th>
        <td mat-cell *matCellDef="let element"> {{element.firstFiber.name}} </td>
      </ng-container>
      <ng-container matColumnDef="firstFiber">
        <th mat-header-cell *matHeaderCellDef> Faser 1 </th>
        <td mat-cell *matCellDef="let element">
          <span [ngSwitch]="element.firstFiber.color && element.firstFiber.color.indexOf('/') < 0">
            <span *ngSwitchCase="true">
              {{ element.firstFiber.numberinBundle}}
            </span>
            <span *ngSwitchCase="false">
              {{element.firstFiber.bundleNumber }} - {{ element.firstFiber.numberinBundle}}
            </span>
          </span>
      </ng-container>
      <ng-container matColumnDef="firstFiberNumber">
        <th mat-header-cell *matHeaderCellDef> Nr 1 </th>
        <td mat-cell *matCellDef="let element"> {{element.firstFiber.fiberNumber }} </td>
      </ng-container>
      <ng-container matColumnDef="firstFiberColor">
        <th mat-header-cell *matHeaderCellDef> Farbe </th>
        <td mat-cell *matCellDef="let element"> {{element.firstFiber.color }} </td>
      </ng-container>

      <ng-container matColumnDef="secondCableName">
        <th mat-header-cell *matHeaderCellDef> Kabel 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.secondFiber?.name}} </td>
      </ng-container>
      <ng-container matColumnDef="secondFiber">
        <th mat-header-cell *matHeaderCellDef> Faser 2 </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.secondFiber" [ngSwitch]="element.secondFiber.color && element.secondFiber.color.indexOf('/') < 0">
            <span *ngSwitchCase="true">
              {{ element.secondFiber.numberinBundle }}
            </span>
            <span *ngSwitchCase="false">
              {{ element.secondFiber.bundleNumber }} - {{ element.secondFiber.numberinBundle}}
            </span>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="secondFiberNumber">
        <th mat-header-cell *matHeaderCellDef> Nr 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.secondFiber?.fiberNumber }} </td>
      </ng-container>
      <ng-container matColumnDef="secondFiberColor">
        <th mat-header-cell *matHeaderCellDef> Farbe </th>
        <td mat-cell *matCellDef="let element"> {{element.secondFiber?.color }} </td>
      </ng-container>

      <ng-container matColumnDef="spliceNumber">
        <th mat-header-cell *matHeaderCellDef> Spleiß </th>
        <td mat-cell *matCellDef="let element"> {{element.number }}</td>
      </ng-container>
      <ng-container matColumnDef="spliceTray">
        <th mat-header-cell *matHeaderCellDef> Kassette </th>
        <td mat-cell *matCellDef="let element"> {{element.tray }} </td>
      </ng-container>
      <ng-container matColumnDef="spliceType">
        <th mat-header-cell *matHeaderCellDef> Art </th>
        <td mat-cell *matCellDef="let element"> {{ getSpliceTypeName(element.type) }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
  </mat-card-content>
</mat-card>