<h1 mat-dialog-title>Neue Datei erstellen</h1>
<div mat-dialog-content>
    <mat-list *ngIf="files.length > 0 && uploadingInProgress === false" @ngIfFadeIn>
        <mat-list-item *ngFor="let file of files">
          <img matListAvatar [src]="file.imgAsString" alt="..." *ngIf="file.type === 'image' && file.previewLoading === false" @ngIfFadeIn>
          <h3 matLine> {{ file.name }} </h3>
          <div matLine fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" *ngIf="file.type === 'image' && file.previewLoading === true">
            <p fxFlex="100">Vorschau wird geladen...</p>
            <mat-progress-bar fxFlex="100" class="mx-24" [mode]="'indeterminate'"></mat-progress-bar>
          </div>
          <button type="button" mat-icon-button (click)="showPreview(file)" *ngIf="file.type === 'image' && file.previewLoading === false">
            <mat-icon aria-label="Vorschau">pageview</mat-icon>
          </button>
          <button type="button" mat-icon-button (click)="removeFile(file)">
            <mat-icon aria-label="Entfernen">delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>

      <besa-upload [canRemoveItems]="false" [hidden]="uploadingInProgress === false" #upload></besa-upload>
      
    <besa-input-file [disabled]="uploadingInProgress === true" [accept]="'*/*'" fxFlexAlign.xs="end" (onFileSelect)="onFileSelect($event)"
    [mutliple]="false" [showIcon]="true" [caption]="'Datei auswählen'">
  </besa-input-file>
</div>
<div mat-dialog-actions>
  <button class="mx-12" mat-raised-button (click)="onNoClick()">Abbrechen</button>
  <button class="mx-12" mat-raised-button color="warn" (click)="onYesClick()" cdkFocusInitial> Erstellen </button>
</div>