<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Kontakte</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Kontakte werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!contacts || contacts.length == 0)"
      @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Keine Kontakte vorhanden</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Derzeit sind keine Kontakte vorhanden</p>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && contacts && contacts.length > 0" @ngIfFadeIn>
      <mat-toolbar>
        <mat-toolbar-row>
          <mat-form-field>
            <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="searchString" placeholder="Suche" matTooltip="Suchen Sie einen Kontakt"
              matTooltipShowDelay="1000">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="contactSelected($event)" [displayWith]="displayContactResult">
              <mat-option *ngFor="let option of searchContact" [value]="option">
                {{ option.surname }} {{ option.lastname }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <span fxFlex="1 1 auto"></span>
          <button mat-icon-button (click)="createNewContact()" type="button" matTooltip="Fügen Sie einen neuen Kontakt hinzu" matTooltipShowDelay="1000">
            <mat-icon>person_add</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>

      <div class="search-results">
        <mat-list infiniteScroll [infiniteScrollContainer]="'.page-layout'" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
          (scrolled)="onScroll()" [fromRoot]="true">
          <mat-list-item *ngFor="let item of contacts">
            <h4 matLine>{{item.surname}} {{ item.lastname }}</h4>
            <button mat-icon-button type="button" (click)="openDetails(item)" matTooltip="Details" matTooltipShowDelay="1000">
              <mat-icon aria-label="Info">info_outline</mat-icon>
            </button>
            <button mat-icon-button type="button" [matMenuTriggerFor]="card20Menu" aria-label="more" matTooltip="Weiteres" matTooltipShowDelay="1000">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #card20Menu="matMenu">
              <button fxLayout="row" fxLayoutAlign="start center" mat-menu-item type="button" (click)="editContact(item)" matTooltip="Kontakt bearbeiten"
                matTooltipShowDelay="1000">
                <mat-icon aria-label="Bearbeiten">edit</mat-icon>
                <span>Bearbeiten</span>
              </button>
              <button fxLayout="row" fxLayoutAlign="start center" mat-menu-item type="button" (click)="deleteContact(item)" matTooltip="Kontakt löschen"
                matTooltipShowDelay="1000">
                <mat-icon aria-label="Löschen">delete</mat-icon>
                <span>Löschen</span>
              </button>
            </mat-menu>
          </mat-list-item>
        </mat-list>
        <div fxLayout="column" fxLayoutGap="10px" *ngIf="loadingMoreDataInProgress === true" fxLayoutAlign="center center" @ngIfFadeIn>
          <p>Weitere Kontakte werden geladen...</p>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
    </div>
    <!-- End Content -->
  </div>
</div>