<div class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
      <div class="hero-text mb-32">
        <h1>Bauabschnitte</h1>
      </div>
    </div>
    <!-- / HEADER -->
  
    <!-- CONTENT -->
    <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
      <!-- Loading Card  -->
      <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="itemsAreLoading === true">
        <div class="p-16">
          <div class="h1">Daten werden geladen</div>
        </div>
        <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
  
      <!-- Content  Card  -->
      <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="itemsAreLoading === false && (!items || items.length == 0)"
        @ngIfFadeIn>
        <div class="p-16">
          <div class="h1">Es sind noch keine Bauabschnitte vorhanden</div>
        </div>
        <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
          <p>Derzeit sind keine Bauabschnitte vorhanden.</p>
        </div>
      </div>
  
      <!-- Content  Card  -->
      <div class="my-32" fxFlexLayout="stretch" *ngIf="itemsAreLoading === false && items && items.length > 0"
        @ngIfFadeIn>
        <mat-toolbar>
          <mat-toolbar-row>
            <span> {{ items.length }} Bauabschnitte vorhanden </span>
            <span fxFlex="1 1 auto"></span>
          </mat-toolbar-row>
        </mat-toolbar>
        <mat-list>
          <mat-list-item *ngFor="let item of items" (click)="navigateToDetails(item)">
            <h3 matLine> {{ item.name }}</h3>
            <h4 matLine>
              <span *ngFor="let branchable of item.branchables"> {{ branchable.name }} </span>
            </h4>
            <div matLine class="my-12">
              <mat-progress-bar class="w-85-p" mode="determinate" [value]="item.doingPercentage"></mat-progress-bar>
              <span> {{ item.doingPercentage }} </span>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
  
      <!-- End Content -->
    </div>
  </div>