<p>
  Der Vorgang {{ details?.procedure?.name }} wurde am beendet. </p>
<p>
  <span *ngIf="details?.procedure?.type === 1 && details.procedure.contact">
    Das Gebäude {{ details.procedure.building.streetName }} wurde erfolgreich mit dem Netz verbunden
    <besa-person-info-short-view [contact]="details.procedure.contact"></besa-person-info-short-view>
  </span>
  <span *ngIf="details?.procedure?.type === 2 && details.procedure.contact">
    Der Kunde
    {{ details.procedure.contact.surname }}
    {{ details.procedure.contact.lastname }}
    wurde erfolgreich ans Netz gebracht.

    <besa-person-info-short-view [contact]="details.procedure.contact"></besa-person-info-short-view>
  </span>

</p>

<p>Aktueller Zustand: {{ details.procedure.current | procedureStateToName }}</p>
<p>Erwarterter Enzustand: {{ details.procedure.end | procedureStateToName }}</p>

<a mat-raised-button *ngIf="details?.procedure" [routerLink]="[getNavigationPathForProcedure(details.procedure),details.procedure.id]">Zu
    den Auftragsdetails</a>