<h1 mat-dialog-title>Dateivorschau</h1>
<div mat-dialog-content>
  <img [src]="imgSrc">
</div>
<div mat-dialog-actions>
  <button mat-button type="button" [mat-dialog-close] cdkFocusInitial>Ok</button>
</div>