<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Benutzer</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!users || users.length == 0)"
      @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Keine Benutzer vorhanden</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Derzeit sind keine Benutzer vorhanden</p>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && users && users.length > 0" @ngIfFadeIn>
      <mat-toolbar>
        <mat-toolbar-row>
          <span> {{ users.length }} Benutzer vorhanden </span>
          <span fxFlex="1 1 auto"></span>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-list>
        <mat-list-item *ngFor="let user of users">
          <h3 matLine> {{ user.surname }} {{ user.lastname }}</h3>
          <p matLine *ngIf="user.companyInfo">{{ user.companyInfo.name }}</p>
          <button mat-icon-button type="button" (click)="openDetails(user)" matTooltip="Details" matTooltipShowDelay="1000">
            <mat-icon aria-labelledby="Details">info_outline</mat-icon>
          </button>
          <button mat-icon-button type="button" [matMenuTriggerFor]="itemMenu" aria-label="more" matTooltip="Weiteres" matTooltipShowDelay="1000">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #itemMenu="matMenu">
            <button fxLayout="row" fxLayoutAlign="start center" mat-menu-item type="button" (click)="editUser(user)" matTooltip="Benutzer bearbeiten" matTooltipShowDelay="1000">
              <mat-icon aria-label="Bearbeiten">edit</mat-icon>
              <span>Bearbeiten</span>
            </button>
            <button fxLayout="row" fxLayoutAlign="start center" mat-menu-item type="button" (click)="deleteUser(user)" matTooltip="Benutzer löschen" matTooltipShowDelay="1000">
              <mat-icon aria-label="Löschen">delete</mat-icon>
              <span>Löschen</span>
            </button>
          </mat-menu>
        </mat-list-item>
      </mat-list>
    </div>

    <!-- End Content -->
  </div>
</div>