<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Melden Sie sich an</h1>
      <h3>Für die Funktionen von Besa ist eine Anmeldung notwendig</h3>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="center center">
    <!-- Loading Card  -->
    <div class="fuse-card my-32 " *ngIf="loginInProgress === true">
      <div class="p-16">
        <div class="h1">In Bearbeitung</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        <p>Anmeldeserver wird kontaktiert...</p>
      </div>
    </div>

    <!-- AuthService Unreachable Card  -->
    <div class="fuse-card my-32 mat-warn-bg" *ngIf="authServiceIsReachable === false">
      <div class="p-16">
        <div class="h1">Fehler</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Es war nicht möglich den Anmeldeserver zu erreichen. Ein Login ist daher nicht möglich</p>
      </div>
    </div>

    <!-- Anmelde-Card  -->
    <div class="fuse-card" *ngIf="tryAccessMemberArea === false">
      <div class="p-16">
        <div class="h1">Melden Sie sich an und schon geht es los </div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        Nach einer Anmeldung stehen Ihnen alle Funktionen von Besa zur Verfügung
      </div>
      <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
        <button mat-button type="button" color="accent" (click)="startLogin()">Anmelden</button>
      </div>
    </div>

    <!-- Access Restricted Area  -->
    <div class="fuse-card mat-accent-bg"  *ngIf="tryAccessMemberArea === true">
      <div class="p-16">
        <div class="h1">Zugriff verweigert </div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        <p>Dieser Bereich steht Ihnen erst nach einer Anmeldung zur Verfügung. </p>
        <p *ngIf="autoRedirect === true"> Sie werden angemeldet.... </p>
      </div>
      <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center" *ngIf="autoRedirect === false">
        <button mat-button type="button" (click)="accessRestrictedArea()">Anmelden</button>
      </div>
    </div>
    <!-- End Content -->
  </div>
</div>