<form class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" (submit)="createInventoryJob()"
  style="height: 100%" [formGroup]="form">
  <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
      <mat-form-field fxFlex="100" class="mx-12" fxFlex.lt-sm="100">
        <mat-hint align="start">Waren auswählen</mat-hint>
        <mat-select placeholder="Ware 1" name="articles" (change)="articleSelected($event)">
          <mat-option *ngFor="let article of articleResult" [value]="article.name">
            {{article.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="mx-12" fxFlexLayout="stretch">
      <mat-list>
        <mat-list-item *ngFor="let item of articlesForm.controls; let i = index" [formGroup]="item" [attr.data-index]="i">
          <h3 matLine>{{ item.value.name }}</h3>
          <mat-form-field fxFlex="1 0 auto">
            <mat-label>Menge</mat-label>
            <input type="text" matInput formControlName="amount" placeholder="30">
          </mat-form-field>
          <button mat-icon-button type="button" (click)="removeArticle(item,i)" mat-Tooltip="Ware entfernen" matTooltipShowDelay="1000">
            <mat-icon aria-labelledby="Ware entfernen">delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>

    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" [formGroup]="form.get('searchTerms')">
      <mat-form-field fxFlex="100" class="mx-12" fxFlex.lt-sm="100">
        <mat-hint align="start">Abholer auswählen</mat-hint>
        <mat-label>Abholer</mat-label>
        <input type="text" matInput placeholder="" formControlName="contactTermValue" [matAutocomplete]="auto">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="contactSelected($event)" [displayWith]="displayContactResult">
        <mat-option *ngFor="let option of contactResult" [value]="option">
          {{ option.surname }} {{ option.lastname }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
      <mat-form-field fxFlex="50" class="mx-12" fxFlex.lt-sm="100">
        <mat-hint align="start">Abholzeitpunkt auswählen</mat-hint>
        <mat-label>Datum</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex="50" class="mx-12" fxFlex.lt-sm="100">
        <mat-hint>Uhrzeit angeben</mat-hint>
        <mat-label>Uhrzeit</mat-label>
        <input matInput formControlName="time" placeholder="12:00">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
      <button mat-raised-button color="primary" type="submit" class="mx-12" [disabled]="form.invalid === true || createTaskInProgress === true">Erstellen</button>
    </div>
  </div>
</form>