<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Details zur Kundenanfrage </h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDetailsInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDetailsInProgress === false && details" @ngIfFadeIn>
      <h2>Anschluss: {{ details.building.streetName }} </h2>

      <table class="formated-table">
        <tbody>
          <tr>
            <th> Typ </th>
            <td> {{ details.onlyHouseConnection === true ? 'Hausanschluss' : 'aktiver Kunde' }}</td>
          </tr>
          <tr>
            <th> Gebäude </th>
            <td> {{ details.building.streetName }}
              <p *ngIf="details.building.householdUnits > 0"> WE: {{ details.building.householdUnits }} </p>
              <p *ngIf="details.building.commercialUnits > 0"> WE: {{ details.building.commercialUnits }} </p>
            </td>
          </tr>
          <tr *ngIf="details.flat">
            <th> Wohnung </th>
            <td> {{ details.flat.number }}
              <p> {{ details.flat.floor }} </p>
              <p *ngIf="details.flat.description"> {{ details.flat.description }} </p>
            </td>
          </tr>
          <tr *ngIf="details.owner">
            <th> Eigentümer </th>
            <td>
              <besa-person-info-short-view [contact]="details.owner"></besa-person-info-short-view>
            </td>
          </tr>
          <tr *ngIf="details.customer">
            <th> Kunde </th>
            <td>
              <besa-person-info-short-view [contact]="details.customer"></besa-person-info-short-view>
            </td>
          </tr>
          <tr *ngIf="details.architect">
            <th> Architekt </th>
            <td>
              <besa-person-info-short-view [contact]="details.architect"></besa-person-info-short-view>
            </td>
          </tr>
          <tr *ngIf="details.workman">
            <th> Baufirma </th>
            <td>
              <besa-person-info-short-view [contact]="details.workman"></besa-person-info-short-view>
            </td>
          </tr>
          <tr>
            <th> Beschreibung zum Hausanschluss </th>
            <td> {{ details.descriptionForHouseConnection ? details.descriptionForHouseConnection : '- keine Beschreibung vorhanden
              -' }} </td>
          </tr>
          <tr>
            <th> Kunde führt Tiefbaumaßnahmen aus? </th>
            <td>
              <mat-icon>{{ details.civilWorkIsDoneByCustomer === true ? 'check_box' : 'check_box_outline_blank' }} </mat-icon>
            </td>
          </tr>
          <tr>
            <th> Andere Medien werden angeschlossen?</th>
            <td>
              <mat-icon>{{ details.connectionOfOtherMediaRequired === true ? 'check_box' : 'check_box_outline_blank' }} </mat-icon>
            </td>
          </tr>
          <tr *ngIf="details.onlyHouseConnection === false">
            <th> Dose nahe am Hausanschluss?</th>
            <td>
              <mat-icon>{{ details.subscriberEndpointNearConnectionPoint.value === true ? 'check_box' : 'check_box_outline_blank' }}
              </mat-icon>
              <p *ngIf="details.subscriberEndpointNearConnectionPoint.value === true ">{{ details.subscriberEndpointNearConnectionPoint.description }} </p>
            </td>
          </tr>
          <tr *ngIf="details.onlyHouseConnection === false">
            <th> Kundenanschluss Gerät nahe der Anschlussdose?</th>
            <td>
              <mat-icon>{{ details.activePointNearSubscriberEndpoint.value === true ? 'check_box' : 'check_box_outline_blank' }}
              </mat-icon>
              <p *ngIf="details.activePointNearSubscriberEndpoint.value === true ">{{ details.activePointNearSubscriberEndpoint.description }} </p>
            </td>
          </tr>
          <tr *ngIf="details.onlyHouseConnection === false && details.activePointNearSubscriberEndpoint.value === false">
            <th> Leerohr für Innnenverlegung</th>
            <td>
              {{ details.ductAmount }} m
            </td>
          </tr>
          <tr *ngIf="details.onlyHouseConnection === false && details.activePointNearSubscriberEndpoint.value === false">
            <th> Ungefähre Länge von HÜP bis zur Dose?</th>
            <td>
              {{ details.subscriberEndpointLength }} m
            </td>
          </tr>
          <tr *ngIf="details.onlyHouseConnection === false">
            <th> Strom für aktive Technik beim Kunden vorhanden?</th>
            <td>
              <mat-icon>{{ details.powerForActiveEquipment.value === true ? 'check_box' : 'check_box_outline_blank' }}
              </mat-icon>
              <p *ngIf="details.powerForActiveEquipment.value === true ">{{ details.powerForActiveEquipment.description }} </p>
            </td>
          </tr>
          <tr *ngIf="details.onlyHouseConnection === false">
            <th> Angenommen am </th>
            <td> {{ details.connectionAppointment | date:'dd.MM.yy' }} </td>
          </tr>
        </tbody>
      </table>

      <div @ngIfFadeIn *ngIf="
      details && details.mostRecentJob">
        <h2>Aktueller Auftrag:</h2>
        <table class="formated-table">
          <tbody>
            <tr>
              <th> Typ </th>
              <td> {{ details.mostRecentJob.jobType | jobTypeToName }} </td>
            </tr>
            <tr>
              <th> Status </th>
              <td> {{ details.mostRecentJob.state | jobStateToName }} </td>
            </tr>
            <tr>
              <th> Details </th>
              <td>
                <a [routerLink]="[getJobLink(), details.mostRecentJob.id]">Hier Klicken </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div fxFlex="100" class="mat-warn-bg p-12 my-24" @ngIfFadeIn *ngIf="
      details && details.isInProgress === true">
        <p>Zu diesem Gebäude und Wohnung ist bereits ein Vorgang aktiv. Es kann daher kein weiterer Auftrag erstellt werden</p>
      </div>

      <div fxFlex="100" class="mat-warn-bg p-12 my-24" @ngIfFadeIn *ngIf="
      details && details.isInProgress === false && details.mostRecentJob && details.mostRecentJob.state !== 3 &&  details.mostRecentJob.jobType !== 10">
        <p>Der aktuellen Auftrag wurde noch nicht als bestätigt markiert. Ein neuer Auftrag kann daher nicht erstellt werden</p>
      </div>

      <div class="my-24" fxLayout="row" fxLayoutAlign="end center">
        <button class="mx-12" mat-raised-button color="warn" type="button" (click)="closeRequest()" [disabled]="deleteInProgress === true"> Antrag ablehnen</button>

        <button mat-raised-button color="primary" type="button" (click)="createConnectBuildingJob()" [disabled]="createJobInProgress === true"
          *ngIf="createConnectBuildingJobPossible() === true"> Hausanschlussaufgabe erstellen </button>
        <button mat-raised-button color="primary" type="button" (click)="createJob()" [disabled]="createJobInProgress === true" *ngIf="createInjectJobPossible() === true">
          Einblasaufgabe erstellen </button>
        <button mat-raised-button color="primary" type="button" (click)="createJob()" [disabled]="createJobInProgress === true" *ngIf="createSpliceJobPossible() === true">
          Spleißaufgabe erstellen </button>
        <button mat-raised-button color="primary" type="button" (click)="createJob()" [disabled]="createJobInProgress === true" *ngIf="createActivationJobPossible() === true">
          Aktivierungsaufgabe erstellen </button>
      </div>

    </div>

    <!-- End Content -->
  </div>
</div>