<form class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" [formGroup]="form"
  (submit)="createConnectBuildingJob()" style="height: 100%">
  <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" [formGroup]="form.get('searchTerms')">
      <mat-form-field fxFlex="1 0 auto">
        <mat-hint align="start">Name der Straße eingeben</mat-hint>
        <mat-label>Straßenname und Nummer</mat-label>
        <input type="text" matInput placeholder="Brückenstücke 4" formControlName="buildingTermValue" [matAutocomplete]="auto">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="buildingSelected($event)" [displayWith]="displayBuildingResult">
        <mat-option *ngFor="let option of buildingResult" [value]="option">
          {{ option.streetName }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="20px" fxLayoutAlign="stretch stretch" [formGroup]="form.get('searchTerms')">
      <mat-form-field fxFlex="1 0 auto">
        <mat-hint align="start">Vorname, Nachname oder Firmennamen eingeben</mat-hint>
        <mat-label>Eigentümer</mat-label>
        <input type="text" matInput placeholder="Max Mustermann" formControlName="searchOwnerValue" [matAutocomplete]="autoOwner">
      </mat-form-field>
      <mat-autocomplete #autoOwner="matAutocomplete" (optionSelected)="contactSelected($event,'owner')" [displayWith]="displayContactResult">
        <mat-option *ngFor="let option of ownerResult" [value]="option">
          {{ displayContactResult(option) }}
        </mat-option>
      </mat-autocomplete>
      <p fxFlex="0 0 auto" fxFlexAlign="center"> oder:</p>
      <div fxFlex="0 0 auto" fxFlexAlign="center">
        <button type="button" mat-raised-button (click)="openCreateContactDialog('owner')">Person erstellen</button>
      </div>
    </div>

    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="20px" fxLayoutAlign="stretch stretch" [formGroup]="form.get('searchTerms')">
      <mat-form-field fxFlex="1 0 auto">
        <mat-hint align="start">Vorname, Nachname oder Firmennamen eingeben</mat-hint>
        <mat-label>Architect</mat-label>
        <input type="text" matInput placeholder="Max Mustermann" formControlName="searchArchitectValue" [matAutocomplete]="autoArchitect">
      </mat-form-field>
      <mat-autocomplete #autoArchitect="matAutocomplete" (optionSelected)="contactSelected($event,'architect')" [displayWith]="displayContactResult">
        <mat-option *ngFor="let option of architectResult" [value]="option">
          {{ displayContactResult(option) }}
        </mat-option>
      </mat-autocomplete>
      <p fxFlex="0 0 auto" fxFlexAlign="center"> oder:</p>
      <div fxFlex="0 0 auto" fxFlexAlign="center">
        <button type="button" mat-raised-button (click)="openCreateContactDialog('architect')">Person erstellen</button>
      </div>
    </div>

    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="20px" fxLayoutAlign="stretch stretch" [formGroup]="form.get('searchTerms')">
      <mat-form-field fxFlex="1 0 auto">
        <mat-hint align="start">Vorname, Nachname oder Firmennamen eingeben</mat-hint>
        <mat-label>Baufirma</mat-label>
        <input type="text" matInput placeholder="Max Mustermann" formControlName="searchWorkmanValue" [matAutocomplete]="autoWorkman">
      </mat-form-field>
      <mat-autocomplete #autoWorkman="matAutocomplete" (optionSelected)="contactSelected($event,'workman')" [displayWith]="displayContactResult">
        <mat-option *ngFor="let option of workmanResult" [value]="option">
          {{ displayContactResult(option) }}
        </mat-option>
      </mat-autocomplete>
      <p fxFlex="0 0 auto" fxFlexAlign="center"> oder:</p>
      <div fxFlex="0 0 auto" fxFlexAlign="center">
        <button type="button" mat-raised-button (click)="openCreateContactDialog('workman')">Person erstellen</button>
      </div>
    </div>

    <div fxLayout="row" fxFlex="1 0 auto">
      <mat-slide-toggle formControlName="onlyHouseConnection">
        Nur Hausanschluss
      </mat-slide-toggle>
    </div>

    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="20px" fxLayoutAlign="stretch stretch" @ngIfFadeIn *ngIf="form.value.onlyHouseConnection === false"
      [formGroup]="form.get('searchTerms')">
      <mat-form-field fxFlex="1 0 auto">
        <mat-hint align="start">Vorname, Nachname oder Firmennamen eingeben</mat-hint>
        <mat-label>Kunde</mat-label>
        <input type="text" matInput placeholder="Max Mustermann" formControlName="searchCustomermValue" [matAutocomplete]="autoCustomer">
      </mat-form-field>
      <mat-autocomplete #autoCustomer="matAutocomplete" (optionSelected)="contactSelected($event,'customer')" [displayWith]="displayContactResult">
        <mat-option *ngFor="let option of customerResult" [value]="option">
          {{ displayContactResult(option) }}
        </mat-option>
      </mat-autocomplete>
      <p fxFlex="0 0 auto" fxFlexAlign="center"> oder:</p>
      <div fxFlex="0 0 auto" fxFlexAlign="center">
        <button type="button" mat-raised-button (click)="openCreateContactDialog('customer')">Person erstellen</button>
      </div>
    </div>

    <mat-form-field fxFlex="100" class="mx-12">
      <mat-hint align="start">Maximal 1000 Zeichen</mat-hint>
      <mat-label>Beschreibung zum Hausanschluss </mat-label>
      <textarea matInput #inputHouseConnectionDescription placeholder="Bei diesem Anschluss muss beachten werden, dass ..." formControlName="description"
        rows="7"></textarea>
      <mat-hint align="end">{{ inputHouseConnectionDescription.value?.length || 0 }} / 1000 </mat-hint>
      <mat-error *ngIf="formValidationErrors['description']">{{ formValidationErrors['description'] }}</mat-error>
    </mat-form-field>

    <mat-checkbox fxFlex="100" formControlName="civilWorkIsDoneByCustomer">Tiefbau erfolgt durch Kunden?</mat-checkbox>
    <mat-checkbox fxFlex="100" formControlName="connectionOfOtherMediaRequired">Anschluss weiterer Medien notwendig</mat-checkbox>

    <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">

      <mat-form-field fxFlex="100" class="my-12">
        <mat-hint align="start">Wann soll die Schaltung des Anschlusses erfolgen?</mat-hint>
        <mat-label>Anschluss am:</mat-label>
        <input matInput [matDatepicker]="myDatepicker" placeholder="27.03.2018" formControlName="connectionAppointment">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
        <mat-error *ngIf="formValidationErrors['connectionAppointment']">{{ formValidationErrors['connectionAppointment'] }}</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
      <button mat-raised-button color="primary" type="submit" class="mx-12" [disabled]="checkForm() == false || createTaskInProgress === true">Erstellen</button>
    </div>
  </div>
</form>