<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Dateien</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden gelanden</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>
    <!-- / HEADER -->
  
    <!-- CONTENT -->
    <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
      <!-- Loading Card  -->
      <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
        <div class="p-16">
          <div class="h1">Daten werden geladen</div>
        </div>
        <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center" *ngIf="loadingDataInProgress === false && files.length === 0">
        <p>Derzeit sind keine Dateien vorhanden</p>
        <button mat-raised-button color="primary" (click)="addFile()">Datei hochladen</button>
      </div>
  
      <!-- Content  Card  -->
      <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && files && files.length > 0" @ngIfFadeIn>
        <div class="search-results" data-infinite-scroll infiniteScrollDistance="2" infiniteScrollThrottle="50" (scrolled)="onScroll()">
          <mat-list infiniteScroll [infiniteScrollContainer]="'.page-layout'" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
          (scrolled)="onScroll()" [fromRoot]="true">
            <mat-list-item *ngFor="let item of files">
              <mat-icon mat-list-icon>{{item.type | fileTypeToIcon}}</mat-icon>
              <h4 matLine>{{item.name}}</h4>
              <label matLine>{{item.size | fileSizeToUnit}}</label>
              <button mat-icon-button type="button" (click)="openDetails(item)">
                <mat-icon aria-label="Info">info_outline</mat-icon>
              </button>
              <a mat-icon-button type="button" (click)="downloadFile(item.id)">
                <mat-icon aria-label="Open">open_in_new</mat-icon>
              </a>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
    <!-- End Content -->
  </div>
</div>