<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Ware erstellen</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start stretch">
    <!-- Loading Card  -->


    <!-- Anmelde-Card  -->
    <div class="fuse-card mat-accent-bg mx-12 my-24" fxLayout="column" fxFlex="0 0 auto" fxFlex.gt-sm="0 0 30%" style="min-width: 100%">
      <div class="p-16">
        <div class="h1">Waren</div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        <p>Hier können Sie eine Ware erstellen</p>
      </div>
    </div>

    <form class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" fxFlex.gt-sm="1 0 auto"
      name="form" [formGroup]="form" @ngIfFadeIn (submit)="createArticle()" style="height: 100%">

      <div class="h2 mb-24">Ware erstellen</div>

      <!-- Name -->
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>Name der Ware </mat-label>
          <input matInput #inputName formControlName="name" matTooltip="Geben Sie den Namen der Ware an" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputName.value?.length || 0 }} / 64 </mat-hint>
          <mat-error *ngIf="hasFormError('name')">{{ getFormError('name') }}</mat-error>
        </mat-form-field>
      </div>

      <!-- Meterware -->
      <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
          <mat-checkbox fxFlex="50" fxFlexAlign="center" fxFlexAlign.lt-sm="start" fxFlex.lt-sm="100" class="mx-12" formControlName="productSoldByMeter" matTooltip="Wird die Ware als Meterware verkauft? Sonst wird sie Stückware verkauft" matTooltipShowDelay="1000" matTooltipPosition="left">
              Wird als Meterware verkauft?
            </mat-checkbox>
      </div>

      <!-- Abschicken  -->
      <div fxLayout="row" class="my-16" fxLayoutAlign="end center" fxFlex="100">
          <button mat-raised-button type="button" color="warn" (click)="cancelAdd()" matTooltip="Erstellvorgang abbrechen" matTooltipShowDelay="1000">
              Abbrechen
            </button>
        <button mat-raised-button color="primary" type="submit" [disabled]="createInProgress" matTooltip="Erstellvorgang bestätigen" matTooltipShowDelay="1000"> Erstellen</button>
      </div>
    </form>

  </div>
  <!-- End Content -->
</div>