<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Neuen Kunden hinzufügen</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start stretch">
    <!-- Loading Card  -->


    <!-- Anmelde-Card  -->
    <div class="fuse-card mat-accent-bg mx-12 my-24" fxLayout="column" fxFlex="0 0 auto" fxFlex.gt-sm="0 0 30%" style="min-width: 100%">
      <div class="p-16">
        <div class="h1">Kunden</div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        <p>Hier können Sie einen neuen Kunden erstellen</p>
        <p>Wurde ein Kunde erstellt, wird dem Projektmanagement eine Aufgabe hinzugefügt, welche die Koordinierung aller weiteren
          Schritte veranlasst
        </p>
      </div>
    </div>

    <form class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" fxFlex.gt-sm="1 0 auto"
      name="form" [formGroup]="form" (submit)="createCustomer()" style="height: 100%">
      <mat-horizontal-stepper linear="true" #stepper="matHorizontalStepper" (selectionChange)="stepChanged($event)">
        <mat-step [completed]="checkIfBuildingAndFlatFormIsValid()">
          <ng-template matStepLabel>Gebäude & Wohnung </ng-template>
          <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
            <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
              <mat-form-field fxFlex="1 0 auto">
                <mat-hint align="start">Name der Straße eingeben</mat-hint>
                <mat-label>Straßenname und Nummer</mat-label>
                <input type="text" matInput placeholder="Brückenstücke 4" formControlName="buildingTermValue" [matAutocomplete]="auto">
              </mat-form-field>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="buildingSelected($event)" [displayWith]="displayCabinentResult">
                <mat-option *ngFor="let option of buildingResult" [value]="option">
                  {{ option.streetName }}
                </mat-option>
              </mat-autocomplete>
            </div>

            <div fxLayout="row" class="my-24" fxFlex="1 0 auto" @ngIfFadeIn fxLayoutAlign="center center" *ngIf="loadingBuildingDetails === true">
              <div fxLayout="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                <p>Arbeitstatus zum Gebäude wird abgerufen...</p>
              </div>
            </div>

            <div fxLayout="row" fxFlex="1 0 auto" @ngIfFadeIn *ngIf="currentBulding && loadingBuildingDetails === false" [formGroup]="form.get('buildingAndFlat')">
              <mat-slide-toggle (change)="activeConnectionChanged($event)" formControlName="isActiveConnectionRequired">
                Aktiver Anschluss
              </mat-slide-toggle>
            </div>

            <div fxFlex="100" class="mat-warn-bg p-12 my-24" @ngIfFadeIn *ngIf="
            loadingBuildingDetails === false && currentBulding && buildingIsConnected === true && form.value.buildingAndFlat.isActiveConnectionRequired === false">
              <p>Dieses Gebäude ist bereits angeschlossen. Daher ist es nur möglich einen aktiven Anschluss zu schalten</p>
            </div>

            <div *ngIf="
            loadingBuildingDetails === false && currentBulding && buildingIsConnected === false" @ngIfFadeIn fxLayout="column"
              fxFlex="100" fxLayoutGap="20px">

              <div fxFlex="100" class="mat-accent-bg p-12 my-24">
                <p>Um den Hausanschluss zu planen, muss der Eigentümer angegeben werden.
                  <br> Optional kann auch eine Baufirma und Archtiekt eingetragen werden</p>
              </div>

              <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="20px" fxLayoutAlign="stretch stretch">
                <mat-form-field fxFlex="1 0 auto">
                  <mat-hint align="start">Vorname, Nachname oder Firmennamen eingeben</mat-hint>
                  <mat-label>Eigentümer</mat-label>
                  <input type="text" matInput placeholder="Max Mustermann" formControlName="searchOwnerValue" [matAutocomplete]="autoOwner">
                </mat-form-field>
                <mat-autocomplete #autoOwner="matAutocomplete" (optionSelected)="contactSelected($event,'owner')" [displayWith]="displayContactResult">
                  <mat-option *ngFor="let option of ownerResult" [value]="option">
                    {{ displayContactResult(option) }}
                  </mat-option>
                </mat-autocomplete>
                <p fxFlex="0 0 auto" fxFlexAlign="center"> oder:</p>
                <div fxFlex="0 0 auto" fxFlexAlign="center">
                  <button type="button" mat-raised-button (click)="openCreateContactDialog('owner')">Person erstellen</button>
                </div>
              </div>

              <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="20px" fxLayoutAlign="stretch stretch">
                <mat-form-field fxFlex="1 0 auto">
                  <mat-hint align="start">Vorname, Nachname oder Firmennamen eingeben</mat-hint>
                  <mat-label>Architekt</mat-label>
                  <input type="text" matInput placeholder="Max Mustermann" formControlName="searchArchitectValue" [matAutocomplete]="autoArchitect">
                </mat-form-field>
                <mat-autocomplete #autoArchitect="matAutocomplete" (optionSelected)="contactSelected($event,'architect')" [displayWith]="displayContactResult">
                  <mat-option *ngFor="let option of architectResult" [value]="option">
                    {{ displayContactResult(option) }}
                  </mat-option>
                </mat-autocomplete>
                <p fxFlex="0 0 auto" fxFlexAlign="center"> oder:</p>
                <div fxFlex="0 0 auto" fxFlexAlign="center">
                  <button type="button" mat-raised-button (click)="openCreateContactDialog('architect')">Person erstellen</button>
                </div>
              </div>

              <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="20px" fxLayoutAlign="stretch stretch">
                <mat-form-field fxFlex="1 0 auto">
                  <mat-hint align="start">Vorname, Nachname oder Firmennamen eingeben</mat-hint>
                  <mat-label>Baufirma</mat-label>
                  <input type="text" matInput placeholder="Max Mustermann" formControlName="searchWorkmanValue" [matAutocomplete]="autoWorkman">
                </mat-form-field>
                <mat-autocomplete #autoWorkman="matAutocomplete" (optionSelected)="contactSelected($event,'workman')" [displayWith]="displayContactResult">
                  <mat-option *ngFor="let option of workmanResult" [value]="option">
                    {{ displayContactResult(option) }}
                  </mat-option>
                </mat-autocomplete>
                <p fxFlex="0 0 auto" fxFlexAlign="center"> oder:</p>
                <div fxFlex="0 0 auto" fxFlexAlign="center">
                  <button type="button" mat-raised-button (click)="openCreateContactDialog('workman')">Person erstellen</button>
                </div>
              </div>
            </div>

            <div *ngIf="
            loadingBuildingDetails === false && currentBulding && form.value.buildingAndFlat.isActiveConnectionRequired === true"
              @ngIfFadeIn fxLayout="column" fxFlex="100" fxLayoutGap="20px">

              <div fxLayout="row" class="my-24 mat-accent-bg" @ngIfFadeIn fxLayoutAlign="center center" *ngIf="loadingFlatNeeded === false">
                <p class="p-24"> Dieses Gebäude besitzt nur eine Einheit. Eine Auswahl der Wohnung ist nicht nötig</p>
              </div>

              <div fxLayout="row" class="my-24" fxFlex="1 0 auto" @ngIfFadeIn fxLayoutAlign="center center" *ngIf="loadingFlatsInProgress === true">
                <div fxLayout="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                  <p>Wohnungen zu dem Gebäude weden geladen...</p>
                </div>
              </div>

              <div fxLayout="row" class="my-24" @ngIfFadeIn fxLayoutAlign="start center" *ngIf="loadingFlatNeeded === true && loadingFlatsInProgress === false && this.possibleFlats.length == 0">
                <button mat-raised-button type="button" (click)="openCreateFlatDialog()"> Erste Wohnung erstellen </button>
              </div>

              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start stretch" fxFlex="1 0 auto" class="my-24" @ngIfFadeIn *ngIf="loadingFlatNeeded === true && loadingFlatsInProgress === false && this.possibleFlats.length > 0">
                <mat-form-field fxFlex="50" fxFlex.lt-sm="100" [formGroup]="form.get('buildingAndFlat')">
                  <mat-hint align="start">Wohnung auswählen</mat-hint>
                  <mat-label>Wohnung</mat-label>
                  <mat-select placeholder="4.01" formControlName="flatId">
                    <mat-option *ngFor="let flat of possibleFlats " [value]="flat.id">{{ flat.number }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="formValidationErrors['flatId']">{{ formValidationErrors['flatId'] }}</mat-error>
                </mat-form-field>
                <div fxFlex="50" fxFlex.lt-sm="100" fxFlexAlign="center">
                  <button mat-raised-button type="button" (click)="openCreateFlatDialog()"> Neue Wohnung erstellen </button>
                </div>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
              <button mat-raised-button color="primary" type="button" class="mx-12" matStepperNext [disabled]="checkIfBuildingAndFlatFormIsValid() === false">Weiter</button>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="form.get('houseConnection')" *ngIf="buildingIsConnected === false">
          <ng-template matStepLabel>Hausanschluss</ng-template>
          <div fxLayout="column" fxFlex="1 0 auto" fxLayoutGap="20px" fxLayoutAlign="stretch stretch" [formGroup]="form.get('houseConnection')">
            <mat-form-field fxFlex="100" class="mx-12">
              <mat-hint align="start">Maximal 1000 Zeichen</mat-hint>
              <mat-label>Beschreibung zum Hausanschluss </mat-label>
              <textarea matInput #inputHouseConnectionDescription placeholder="Bei diesem Anschluss muss beachten werden, dass ..." formControlName="description"
                rows="7"></textarea>
              <mat-hint align="end">{{ inputHouseConnectionDescription.value?.length || 0 }} / 1000 </mat-hint>
              <mat-error *ngIf="formValidationErrors['description']">{{ formValidationErrors['description'] }}</mat-error>
            </mat-form-field>

            <mat-checkbox fxFlex="100" formControlName="civilWorkIsDoneByCustomer">Tiefbau erfolgt durch Kunden?</mat-checkbox>
            <mat-checkbox fxFlex="100" formControlName="connectioOfOtherMediaRequired">Anschluss weiterer Medien notwendig</mat-checkbox>

            <mat-checkbox fxFlex="100" formControlName="informSalesAfterFinish" *ngIf="form.value.buildingAndFlat.isActiveConnectionRequired === false">Kunde hat Interesse an Produkten</mat-checkbox>

            <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
              <button mat-raised-button class="mx-12" type="button" matStepperPrevious>Zurück</button>
              <button mat-raised-button color="primary" type="button" class="mx-12" matStepperNext *ngIf="form.value.buildingAndFlat.isActiveConnectionRequired === true">Weiter</button>
              <button mat-raised-button color="primary" type="submit" class="mx-12" matStepperNext *ngIf="form.value.buildingAndFlat.isActiveConnectionRequired === false">Kunden erstellen</button>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="form.get('activeConnenction')" *ngIf="form.value.buildingAndFlat.isActiveConnectionRequired === true">
          <ng-template matStepLabel>Kunde</ng-template>
          <div fxLayout="column" fxFlex="1 0 auto" fxLayoutGap="20px" fxLayoutAlign="stretch stretch">
            <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="20px" fxLayoutAlign="stretch stretch">
              <mat-form-field fxFlex="1 0 auto">
                <mat-hint align="start">Vorname, Nachname oder Firmennamen eingeben</mat-hint>
                <mat-label>Kunde</mat-label>
                <input type="text" matInput placeholder="Max Mustermann" formControlName="searchCustomermValue" [matAutocomplete]="autoCustomer">
              </mat-form-field>
              <mat-autocomplete #autoCustomer="matAutocomplete" (optionSelected)="contactSelected($event,'customer')" [displayWith]="displayContactResult">
                <mat-option *ngFor="let option of customerResult" [value]="option">
                  {{ displayContactResult(option) }}
                </mat-option>
              </mat-autocomplete>
              <p fxFlex="0 0 auto" fxFlexAlign="center"> oder:</p>
              <div fxFlex="0 0 auto" fxFlexAlign="center">
                <button type="button" mat-raised-button (click)="openCreateContactDialog('customer')">Person erstellen</button>
              </div>
            </div>

            <mat-accordion [multi]="true" fxFlex="1 0 auto">
              <mat-expansion-panel [formGroup]="form.get('activeConnenction')" [expanded]="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Allgemeine Daten
                  </mat-panel-title>
                  <mat-panel-description>
                    Anschlusstermin etc.
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">

                  <mat-slide-toggle formControlName="activationAsSoonAsPossible" #inputAsSoonAsPossible>
                    Anschluss so schnell wie möglich?
                  </mat-slide-toggle>

                  <mat-form-field fxFlex="100" class="my-12" *ngIf="inputAsSoonAsPossible.checked === false" @ngIfFadeIn>
                    <mat-hint align="start">Wann soll die Schaltung des Anschlusses erfolgen?</mat-hint>
                    <mat-label>Anschluss am:</mat-label>
                    <input matInput [matDatepicker]="myDatepicker" placeholder="27.03.2018" formControlName="connectionAppointment">
                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker></mat-datepicker>
                    <mat-error *ngIf="formValidationErrors['connectionAppointment']">{{ formValidationErrors['connectionAppointment'] }}</mat-error>
                  </mat-form-field>

                </div>
              </mat-expansion-panel>
              <mat-expansion-panel [formGroup]="form.get('activeConnenction').get('subscriberEndpointNearConnectionPoint')">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Anschlussdose
                  </mat-panel-title>
                  <mat-panel-description>
                    Informationen zur Anschlussdose
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
                  <mat-checkbox fxFlex="100" formControlName="value">Anschlussdose nahe Hausanschluss?</mat-checkbox>
                  <mat-form-field fxFlex="100" class="mx-12">
                    <mat-hint align="start">Maximal 1000 Zeichen</mat-hint>
                    <mat-label>Beschreibung zur Anschlussdose </mat-label>
                    <textarea matInput #inputSubscriberEndpointNearConnectionPoint placeholder="Besonders ist... " formControlName="description"
                      rows="7"></textarea>
                    <mat-hint align="end">{{ inputSubscriberEndpointNearConnectionPoint.value?.length || 0 }} / 1000 </mat-hint>
                    <mat-error *ngIf="formValidationErrors['description']">{{ formValidationErrors['description'] }}</mat-error>
                  </mat-form-field>

                  <div fxLayout="column" fxFlex="1 0 auto" *ngIf="form.value.activeConnenction.subscriberEndpointNearConnectionPoint.value === false"
                    @ngIfFadeIn fxLayoutAlign="stretch stretch" [formGroup]="form.get('activeConnenction')">
                    <mat-form-field fxFlex="100" class="my-12">
                      <mat-hint align="start">Wie viel Leerrohr wird benötigt</mat-hint>
                      <mat-label>Leerrohr in Meter:</mat-label>
                      <input matInput type="number" placeholder="15" formControlName="ductAmount">
                      <mat-error *ngIf="formValidationErrors['ductAmount']">{{ formValidationErrors['ductAmount'] }}</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="100" class="my-12">
                      <mat-hint align="start">Welche Anschlussdose ist gewünscht?</mat-hint>
                      <mat-label>Anschlussdosen-Länge:</mat-label>
                      <input matInput type="number" placeholder="20" formControlName="subscriberEndpointLength">
                      <mat-error *ngIf="formValidationErrors['subscriberEndpointLength']">{{ formValidationErrors['subscriberEndpointLength'] }}</mat-error>
                    </mat-form-field>
                  </div>

                </div>
              </mat-expansion-panel>
              <mat-expansion-panel [formGroup]="form.get('activeConnenction').get('activePointNearSubscriberEndpoint')">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Aktive Technik
                  </mat-panel-title>
                  <mat-panel-description>
                    Informationen zur aktiven Beschaltung
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
                  <mat-checkbox fxFlex="100" formControlName="value">Aktivtechnik nahe Anschlussdose?</mat-checkbox>
                  <mat-form-field fxFlex="100" class="mx-12">
                    <mat-hint align="start">Maximal 1000 Zeichen</mat-hint>
                    <mat-label>Beschreibung zum aktiven Anschluss </mat-label>
                    <textarea matInput #activePointNearSubscriberEndpointDescription placeholder="Besonders ist... " formControlName="description"
                      rows="7"></textarea>
                    <mat-hint align="end">{{ activePointNearSubscriberEndpointDescription.value?.length || 0 }} / 1000 </mat-hint>
                    <mat-error *ngIf="formValidationErrors['description']">{{ formValidationErrors['description'] }}</mat-error>
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel [formGroup]="form.get('activeConnenction').get('powerForActiveEquipment')">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Stromanschluss
                  </mat-panel-title>
                  <mat-panel-description>
                    Informationen zum Strom für die aktive Technik
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
                  <mat-checkbox fxFlex="100" formControlName="value">Steckdose für die aktive Technik vorhanden?</mat-checkbox>
                  <mat-form-field fxFlex="100" class="mx-12">
                    <mat-hint align="start">Maximal 1000 Zeichen</mat-hint>
                    <mat-label>Beschreibung zur Stromversorgung </mat-label>
                    <textarea matInput #powerForActiveEquipmentDescription placeholder="Besonders ist... " formControlName="description" rows="7"></textarea>
                    <mat-hint align="end">{{ powerForActiveEquipmentDescription.value?.length || 0 }} / 1000 </mat-hint>
                    <mat-error *ngIf="formValidationErrors['description']">{{ formValidationErrors['description'] }}</mat-error>
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
            </mat-accordion>

            <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
              <button mat-raised-button class="mx-12" type="button" matStepperPrevious>Zurück</button>
              <button mat-raised-button color="primary" type="submit" class="mx-12" matStepperNext [disabled]="checkIfActiveConnenctionIsValid() == false">Kunden erstellen</button>
            </div>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
    </form>

  </div>
  <!-- End Content -->
</div>