<!-- SIDEBAR HEADER -->
<div fxLayout="column" fxLayoutAlign="space-between start" class="header mat-accent-bg p-24 pb-4">

    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">mail
        </mat-icon>
        <span class="logo-text" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Nachrichten</span>
    </div>

</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content" fusePerfectScrollbar [@animate]="{value:'*',params:{y:'50px'}}">
    <h3>Filtern nach:</h3>
    <div class="nav">
        <div class="nav-item">
            <mat-radio-group [(ngModel)]="filterMarkedAsRead">
                <mat-radio-button class="nav-link" *ngFor="let item of filterMarkedAsReadValues" [value]="item">{{item
                    | markedAsRead}}</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="nav-subheader">Zeitspanne</div>

        <div>
            <input matInput [matDatepicker]="picker1" placeholder="Von" [(ngModel)]="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <input matInput [matDatepicker]="picker2" placeholder="Bis" [(ngModel)]="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </div>

        <div class="nav-subheader">Aktion</div>

        <div class="nav-item" *ngFor="let item of filterActionTypes">
            <mat-checkbox class="nav-link" matRipple [checked]="item.isSelected" (change)="updateFilterMessages(item, $event)">{{
                item.value
                | messageActionToString}}</mat-checkbox>
        </div>

        <div class="nav-subheader">Type</div>

        <div class="nav-item" *ngFor="let item of filterMessageActions">
            <mat-checkbox class="nav-link" matRipple [checked]="item.isSelected" (change)="updateFilterActions(item, $event)">{{
                item.value | messageRelatedObjectTypeToName}}</mat-checkbox>
        </div>

        <div class="nav-subheader">Gelesene / ungelesene Nachrichten</div>


    </div>

</div>
<!-- / SIDEBAR CONTENT -->