<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Seite wurde nicht gefunden</h1>
      <h3>Es wurde kein passender Inhalt gefunden</h3>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="row" fxLayoutAlign="center center">
    <div class="fuse-card mat-accent-bg">
      <div class="p-16">
        <div class="h1">Es wurde eine Seite aufgerufen, die nicht (mehr) existiert
        </div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        <p>Es konnten keine Seiten gefunden werden, die mit der angegebenen URL übereinstimmt. Haben Sie sich vielleicht vertippt?</p>
      </div>
    </div>
  </div>


  <!-- / CONTENT -->
</div>