<div class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
      <div class="hero-text mb-32">
        <h1>Aufgaben</h1>
      </div>
    </div>
    <!-- / HEADER -->
  
    <!-- CONTENT -->
    <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
  
      <div class="my-24">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Filter
            </mat-expansion-panel-header>
            <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" [formGroup]="form" style="height: 100%">
  
              <mat-form-field fxFlex="100" class="mx-12">
                <mat-hint align="start">Name, Firma etc tippen</mat-hint>
                <mat-label> </mat-label>
                <input type="text" matInput placeholder="..." formControlName="query">
              </mat-form-field>
  
              <div fxLayout="row" fxFlex="100">
                <mat-form-field fxFlex="50" class="mx-12">
                  <mat-label>Eigenschaft</mat-label>
                  <mat-hint align="start">Eigenschaft wählen</mat-hint>
                  <mat-select formControlName="sortProperty" placeholder="Nach Status filtern">
                    <mat-option *ngFor="let property of sortingProperties" [value]="property">
                      {{property | jobCollectionSortPropertiesToName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="50" class="mx-12">
                  <mat-label>Reihenfolge</mat-label>
                  <mat-hint align="start">Vergleich wählen</mat-hint>
                  <mat-select formControlName="sortDirection" placeholder="Aufsteigend">
                    <mat-option *ngFor="let direction of sortingDirections" [value]="direction">
                      {{direction | procedureSortingDirectionsToName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </form>
            <mat-action-row>
              <button mat-raised-button (click)="resetFilter()">Zurücksetzen</button>
              <button mat-raised-button (click)="filterItems()">Filtern</button>
            </mat-action-row>
          </mat-expansion-panel>
  
        </mat-accordion>
      </div>
  
      <!-- Loading Card  -->
      <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
        <div class="p-16">
          <div class="h1">Aufträge werden geladen</div>
        </div>
        <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
  
      <!-- Content  Card  -->
      <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!boundedJobs || boundedJobs.length == 0)"
        @ngIfFadeIn>
        <div class="p-16">
          <div class="h1">Keine zugewiesenen Aufgaben vorhanden</div>
        </div>
        <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
          <p>Derzeit sind keine Aufgaben einer Firma zugeordnet</p>
        </div>
        <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
          <button mat-raised-button (click)="createNewCollectionJob()">Aufträge binden</button>
        </div>
      </div>
  
      <!-- Content  Card  -->
      <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && boundedJobs && boundedJobs.length > 0"
        @ngIfFadeIn>
  
        <div class="search-results">
          <mat-toolbar>
            <mat-toolbar-row>
              <span *ngIf="boundedJobs.length > 1"> {{ boundedJobs.length }} Aufträge vorhanden </span>
              <span *ngIf="boundedJobs.length === 1"> Eine Auftrag vorhanden </span>
              <span fxFlex="1 1 auto"></span>
              <button mat-icon-button type="button" color="primary" (click)="createNewCollectionJob()" matTooltip="Aufträge binden" matTooltipShowDelay="1000">
                <mat-icon aria-label="Erstellen">add_box</mat-icon>
              </button>
            </mat-toolbar-row>
          </mat-toolbar>
          <mat-list infiniteScroll [infiniteScrollContainer]="'.page-layout'" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()" [fromRoot]="true">
            <mat-list-item *ngFor="let item of boundedJobs">
              <h4 matLine>{{ item.name}} </h4>
              <span matLine> {{ item.boundedTo.name }} </span>
              <span matLine> {{ item.finishedTill | date:'dd.MM.yyyy' }} </span>
              <span class="mx-12">{{ (item.percentage * 100) | number:'1.1-1' }}%</span>
              <button type="button" (click)="deleteJob(item)" matTooltip="Bindung löschen" matTooltipShowDelay="1000">
                <mat-icon aria-label="Löschen">delete</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
          <div fxLayout="column" fxLayoutGap="10px" *ngIf="loadingMoreDataInProgress === true" fxLayoutAlign="center center" @ngIfFadeIn>
            <p>Weitere Aufträge werden geladen...</p>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </div>
      <!-- End Content -->
    </div>
  </div>