<div *ngIf="!message || !message.actionDetails" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <mat-icon class="s-128 mb-16 select-message-icon hint-text" [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">
        email
    </mat-icon>
    <span class="select-message-text hint-text" [@animate]="{value:'*',params:{delay:'400ms'}}">
        <span>Keine Nachricht gewählt </span>
    </span>
</div>

<div *ngIf="message && message.actionDetails">

    <div class="mail-header" fxLayout="row" fxLayoutAlign="space-between center">

        <div>
            <div class="subject" flex>{{message.actionDetails.name}}</div>
        </div>
    </div>

    <div class="mail-content">
        <besa-message-action-collection-job-details  *ngIf="message.action === 28"
            [message]="message" [details]="message.actionDetails"></besa-message-action-collection-job-details>
        <besa-message-action-details *ngIf="message.action === 1 || message.action === 2 || message.action === 3 || message.action === 24" [message]="message" [details]="message.actionDetails"></besa-message-action-details>
        <besa-message-action-employes-bound-details *ngIf="message.action === 8 || message.action === 9"  [message]="message" [details]="message.actionDetails"></besa-message-action-employes-bound-details>
        <besa-message-action-job-acknowledged-details *ngIf="message.action === 6 || message.action === 29" [message]="message" [details]="message.actionDetails"></besa-message-action-job-acknowledged-details>
        <besa-message-action-job-bound-details *ngIf="message.action === 7"  [message]="message" [details]="message.actionDetails"></besa-message-action-job-bound-details>
        <besa-message-action-job-discard-details *ngIf="message.action === 5 || message.action === 30"  [message]="message" [details]="message.actionDetails"></besa-message-action-job-discard-details>
        <besa-message-action-job-finished-details *ngIf="message.action === 4"  [message]="message" [details]="message.actionDetails"></besa-message-action-job-finished-details>
        <besa-message-action-job-finish-job-administrative-detail *ngIf="message.action === 27"  [message]="message" [details]="message.actionDetails"></besa-message-action-job-finish-job-administrative-detail>
        <besa-message-action-procedure-finished-details *ngIf="message.action === 26"  [message]="message" [details]="message.actionDetails">
        </besa-message-action-procedure-finished-details>
        <besa-message-action-remove-member-details *ngIf="message.action === 25"  [message]="message" [details]="message.actionDetails"></besa-message-action-remove-member-details>
        <besa-message-action-update-from-adapter-details *ngIf="message.action >= 10 && message.action <= 22"  [message]="message" [details]="message.actionDetails"></besa-message-action-update-from-adapter-details>
    </div>
</div>