<div fxLayout="column" fxLayoutAlign="stretch stretch">
  <h1>Aufgaben bündeln</h1>
  <div fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center" *ngIf="loadingConstructionStages == true">
    <mat-progress-bar class="w-85-p " mode="indeterminate"></mat-progress-bar>
    <span class="my-12"> Abschnitte mit ungebundenen Aufgaben werden geladen ... </span>
  </div>
  <div fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="stretch stretch" *ngIf="loadingConstructionStages == false && (!constructionStages || constructionStages.length == 0)"
    @ngIfFadeIn>
    <span>Es gibt derzeit keine Bauabschnitte mit ungebundenen Vorstreckersaufgaben</span>
  </div>
  <div fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="stretch stretch" *ngIf="loadingConstructionStages == false && constructionStages && constructionStages.length > 0"
    @ngIfFadeIn>
    <mat-horizontal-stepper linear="true" #stepper="matHorizontalStepper" (selectionChange)="stepChanged($event)">
      <mat-step [completed]="jobs.length > 0">
        <ng-template matStepLabel>Auswahl der Gebäude</ng-template>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let stage of constructionStages" (opened)="loadConstructionStageDetails(stage)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ stage.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div fxLayout="column" fxLayoutAlign="start center" fxFlex="1 0 auto" class="my-24" *ngIf="loadingDetailsInProgress === true">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              <p>Details werden geladen</p>
            </div>

            <mat-selection-list fxLayout="column" fxFlex="1 0 auto" *ngIf="loadingDetailsInProgress == false && constructionStageDetails[stage.id]"
              @ngIfFadeIn (selectionChange)="jobAdded($event)">
              <div *ngFor="let branchable of constructionStageDetails[stage.id].branchables">
                <h3 matSubheader> {{ branchable.name }}</h3>
                <p *ngIf="branchable.jobs.length === 0"> Keine Aufgaben vorhanden </p>
                <mat-list-option *ngFor="let job of branchable.jobs" [value]="job">
                  {{ job.building.streetName }}
                </mat-list-option>
                <mat-divider></mat-divider>
              </div>
            </mat-selection-list>
          </mat-expansion-panel>
        </mat-accordion>
        <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
          <button type="button" mat-raised-button color="primary" matStepperNext>Nächster Schritt: Auswahl Unternehmen</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="form">
        <ng-template matStepLabel>Zuweisung</ng-template>

        <form class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
          [formGroup]="form">

          <!-- Laden der Firmen  -->
          <div fxLayout="column" fxLayoutAlign="start center" fxFlex="1 0 auto" class="my-24" *ngIf="loadingCompaniesInProgress === true">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            <p>Firmen werden geladen</p>
          </div>

          <!-- Auswahl der Firma  -->
          <div fxLayout="row" fxLayoutAlign="start center" class="my-16" @ngIfFadeIn *ngIf="loadingCompaniesInProgress === false && companies && companies.length > 0">
            <mat-form-field fxFlex="100%">
              <mat-label>Firma</mat-label>
              <mat-select placeholder="Stadtwerke Teterow" formControlName="companyId">
                <mat-option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</mat-option>
              </mat-select>
              <mat-error *ngIf="formValidationErrors['companyId']">{{ formValidationErrors['companyId'] }}</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
            <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
              <mat-hint align="start">Maximal 128 Zeichen</mat-hint>
              <mat-label>Name der Aufgabe </mat-label>
              <input matInput #inputName placeholder="Hausanschlüsse..." formControlName="name">
              <mat-hint align="end">{{ inputName.value?.length || 0 }} / 128 </mat-hint>
              <mat-error *ngIf="formValidationErrors['name']">{{ formValidationErrors['name'] }}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="my-12">
              <mat-hint align="start">Das Datum muss in der Zukunft sein</mat-hint>
              <mat-label>Ausführung bis</mat-label>
              <input matInput [matDatepicker]="myDatepicker" placeholder="27.03.2018" formControlName="finishTill">
              <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker>
              <mat-error *ngIf="formValidationErrors['finishTill']">{{ formValidationErrors['finishTill'] }}</mat-error>
            </mat-form-field>
          </div>
        </form>

        <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
          <button mat-raised-button class="mx-12" type="button" matStepperPrevious>Vorheriger Schritt: Auswahl Gebäude</button>
          <button mat-raised-button color="primary" class="mx-12" type="button" matStepperNext>Nächster Schritt: Zusammenfassung</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Zusammenfassung</ng-template>
        <mat-accordion class="my-24" multi="true">
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Ausgewählte Vorstrecker
              </mat-panel-title>
              <mat-panel-description>
                {{ jobs.length }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list dense>
              <mat-list-item *ngFor="let job of jobs"> {{ job.building.streetName }} </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Ausgewählte Firma
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table class="formated-table">
              <tbody>
                <tr>
                  <th> Name der Aufgabe: </th>
                  <td> {{ getTaskName() }}</td>
                </tr>
                <tr>
                  <th> Vergeben an Firma: </th>
                  <td> {{ getCompanyName() }} </td>
                </tr>
                <tr>
                  <th> Zu erledigen bis: </th>
                  <td>
                    {{ getFinishedDate() | date:'dd.MM.yyyy' }}
                  </td>
                </tr>
              </tbody>
            </table>

          </mat-expansion-panel>
        </mat-accordion>

        <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
          <button mat-raised-button class="mx-12" matStepperPrevious type="button">Vorheriger Schritt: Auswahl Firma</button>
          <button mat-raised-button color="primary" class="mx-12" type="submit" (click)="bindJobs()" [disabled]="bindingInProgress === true">Erstellen</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>