<h1 mat-dialog-title>
  {{data.title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="settings">
    <div *ngIf="data.type === 1" fxLayout="column" fxLayoutAlign="start stretch">
      <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="1 0 auto" fxLayout.lt-sm="column">
        <mat-form-field fxFlex="70" class="mx-12" fxFlex.lt-sm="100">
          <mat-hint align="start">Maximal 255 Zeichen</mat-hint>
          <mat-label>Straße </mat-label>
          <input matInput #inputStreet placeholder="Musterstr." formControlName="streetName" matTooltip="Geben Sie die Straße an"
            matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputStreet.value?.length || 0 }} / 255 </mat-hint>
        </mat-form-field>

        <mat-form-field fxFlex="30" class="mx-12" fxFlex.lt-sm="100">
          <mat-hint align="start">Maximal 8 Zeichen</mat-hint>
          <mat-label>Nummer</mat-label>
          <input matInput #inputStreetNumber placeholder="4a" formControlName="streetNumber" matTooltip="Geben Sie die Hausnummer an"
            matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputStreetNumber.value?.length || 0 }} / 8 </mat-hint>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="1 0 auto" fxLayout.lt-sm="column" class="div_form">
        <mat-form-field fxFlex="50" class="mx-12" fxFlex.lt-sm="100">
          <mat-label>Private Haushalte</mat-label>
          <input matInput #inputHousehold placeholder="2" formControlName="householdUnits" matTooltip="Geben Sie die Anzahl der privaten Haushalte an"
            matTooltipShowDelay="1000" type="number">
        </mat-form-field>

        <mat-form-field fxFlex="50" class="mx-12" fxFlex.lt-sm="100">
          <mat-label>Gewerbliche Haushalte</mat-label>
          <input matInput #inputCommercial placeholder="2" formControlName="commercialUnits" matTooltip="Geben Sie die Anzahl der kommerziellen Haushalte an"
            matTooltipShowDelay="1000" type="number">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayout.lt-sm="column">
        <mat-list>
          <mat-list-item *ngFor="let item of data.buildingDetails.coordinates">
            <h4 mat-line>Lat: {{item.latitude}} Long: {{item.longitude}}</h4>
            <button mat-icon-button (click)="deleteCoordinate(item)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayout.lt-sm="column">
        <mat-form-field fxFlex="40" class="mx-12" fxFlex.lt-sm="100">
          <mat-label>Breitengrad </mat-label>
          <input matInput #inputLat matTooltip="Geben Sie den Breitengrad an" matTooltipShowDelay="1000">
        </mat-form-field>
        <mat-form-field fxFlex="40" class="mx-12" fxFlex.lt-sm="100">
          <mat-label>Längengrad </mat-label>
          <input matInput #inputLong matTooltip="Geben Sie den Längengrad an" matTooltipShowDelay="1000">
        </mat-form-field>
        <button mat-raised-button color="primary" matTooltip="Koordinaten hinzufügen" matTooltipShowDelay="1000"
          (click)="addCoordinate(inputLat?.value, inputLong?.value)">Erstellen</button>
      </div>
      <!-- <mat-expansion-panel #dataPanel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Dateien zum Hochladen
                    </mat-panel-title>
                    <mat-panel-description>
                      {{ files.length }}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p *ngIf="files.length == 0">Noch keine Dateien ausgewählt</p>
          
                  <mat-list *ngIf="files.length > 0 && uploadingInProgress === false" @ngIfFadeIn>
                    <mat-list-item *ngFor="let file of files">
                      <img matListAvatar [src]="file.imgAsString" alt="..." *ngIf="file.type === 'image' && file.previewLoading === false" @ngIfFadeIn>
                      <h3 matLine> {{ file.name }} </h3>
                      <div matLine fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" *ngIf="file.type === 'image' && file.previewLoading === true">
                        <p fxFlex="100">Vorschau wird geladen...</p>
                        <mat-progress-bar fxFlex="100" class="mx-24" [mode]="'indeterminate'"></mat-progress-bar>
                      </div>
                      <button type="button" mat-icon-button (click)="removeFile(file)">
                        <mat-icon aria-label="Entfernen">delete</mat-icon>
                      </button>
                    </mat-list-item>
                  </mat-list>
          
                  <besa-upload [canRemoveItems]="false" [hidden]="uploadingInProgress === false" #upload></besa-upload>
                </mat-expansion-panel>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" class="my-16" fxLayoutAlign="end center" fxLayoutAlign.xs="stretch stretch" fxFlex="100">
  
                  <besa-input-file [disabled]="uploadingInProgress === true" fxFlexAlign="start" fxFlexAlign.xs="end" *ngIf="uploadingInProgress === false" (onFileSelect)="onFileSelect($event)"
                    [mutliple]="true" [accept]="'image/*'" [showIcon]="true" [caption]="'Foto machen'" [icon]="'photo_camera'" [capture]="'environment'">
                  </besa-input-file>
          
                  <besa-input-file [disabled]="uploadingInProgress === true" [accept]="'*/*'" fxFlexAlign.xs="end"  (onFileSelect)="onFileSelect($event)" [mutliple]="true"
                    [showIcon]="true" [caption]="'Datei hinzufügen'">
                  </besa-input-file>
                </div> -->
      <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="1 0 auto" fxLayout.lt-sm="column">
        <mat-form-field fxFlex="100" class="mx-12" fxFlex.lt-sm="100">
          <mat-label>Kommentar</mat-label>
          <textarea matInput #inputComment placeholder="Schreiben sie einen Kommentar..." formControlName="comment"
            matTooltip="Geben Sie ein Kommentar ab" matTooltipShowDelay="1000"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="data.type === 3" fxLayout="column" fxLayoutAlign="start stretch">
      <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="1 0 auto" fxLayout.lt-sm="column">
        <mat-form-field fxFlex="100" class="mx-12" fxFlex.lt-sm="100">
          <mat-hint align="start">Maximal 255 Zeichen</mat-hint>
          <mat-label>Straße </mat-label>
          <input matInput #inputStreet2 placeholder="Musterstr." formControlName="streetName" matTooltip="Geben Sie die Straße an"
            matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputStreet2.value?.length || 0 }} / 255 </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayout.lt-sm="column">
        <mat-form-field fxFlex="40" class="mx-12" fxFlex.lt-sm="100">
          <mat-label>Breitengrad </mat-label>
          <input matInput #inputLat2 matTooltip="Geben Sie den Breitengrad an" matTooltipShowDelay="1000">
        </mat-form-field>
        <mat-form-field fxFlex="40" class="mx-12" fxFlex.lt-sm="100">
          <mat-label>Längengrad </mat-label>
          <input matInput #inputLong2 matTooltip="Geben Sie den Längengrad an" matTooltipShowDelay="1000">
        </mat-form-field>
        <button mat-raised-button color="primary" matTooltip="Koordinaten hinzufügen" matTooltipShowDelay="1000"
          (click)="addCoordinate(inputLat2?.value, inputLong2?.value)">Erstellen</button>
      </div>
      <!-- <mat-expansion-panel #dataPanel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Dateien zum Hochladen
                    </mat-panel-title>
                    <mat-panel-description>
                      {{ files.length }}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p *ngIf="files.length == 0">Noch keine Dateien ausgewählt</p>
          
                  <mat-list *ngIf="files.length > 0 && uploadingInProgress === false" @ngIfFadeIn>
                    <mat-list-item *ngFor="let file of files">
                      <img matListAvatar [src]="file.imgAsString" alt="..." *ngIf="file.type === 'image' && file.previewLoading === false" @ngIfFadeIn>
                      <h3 matLine> {{ file.name }} </h3>
                      <div matLine fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" *ngIf="file.type === 'image' && file.previewLoading === true">
                        <p fxFlex="100">Vorschau wird geladen...</p>
                        <mat-progress-bar fxFlex="100" class="mx-24" [mode]="'indeterminate'"></mat-progress-bar>
                      </div>
                      <button type="button" mat-icon-button (click)="removeFile(file)">
                        <mat-icon aria-label="Entfernen">delete</mat-icon>
                      </button>
                    </mat-list-item>
                  </mat-list>
          
                  <besa-upload [canRemoveItems]="false" [hidden]="uploadingInProgress === false" #upload></besa-upload>
                </mat-expansion-panel>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" class="my-16" fxLayoutAlign="end center" fxLayoutAlign.xs="stretch stretch" fxFlex="100">
  
                  <besa-input-file [disabled]="uploadingInProgress === true" fxFlexAlign="start" fxFlexAlign.xs="end" *ngIf="uploadingInProgress === false" (onFileSelect)="onFileSelect($event)"
                    [mutliple]="true" [accept]="'image/*'" [showIcon]="true" [caption]="'Foto machen'" [icon]="'photo_camera'" [capture]="'environment'">
                  </besa-input-file>
          
                  <besa-input-file [disabled]="uploadingInProgress === true" [accept]="'*/*'" fxFlexAlign.xs="end"  (onFileSelect)="onFileSelect($event)" [mutliple]="true"
                    [showIcon]="true" [caption]="'Datei hinzufügen'">
                  </besa-input-file>
                </div> -->
      <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="1 0 auto" fxLayout.lt-sm="column">
        <mat-form-field fxFlex="100" class="mx-12" fxFlex.lt-sm="100">
          <mat-label>Kommentar</mat-label>
          <textarea matInput #inputComment2 placeholder="Schreiben sie einen Kommentar..." formControlName="comment"
            matTooltip="Geben Sie ein Kommentar ab" matTooltipShowDelay="1000"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button type="button" (click)="cancel()">Abbrechen</button>
  <button mat-raised-button type="submit" color="primary" (click)="finish()">Speichern</button>
</div>