<h1 mat-dialog-title>
  Job administrativ beenden</h1>
<div mat-dialog-content>
  <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="stretch stretch" fxFlex="1 0 auto" name="form" [formGroup]="form"
    (submit)="onYesClick()">

    <!-- <div class="h2 mb-24">Warenauftrag abschließen</div> -->

    <div fxFlex="100" class="mx-12">
      <mat-checkbox formControlName="createNextJobInPipeLine" fxFlex="100" class="mx-12">Nachfolgeauftrag erstellen?</mat-checkbox>
    </div>

    <!-- <mat-form-field fxFlex="100" class="mx-12">
      <mat-hint align="start">Maximal 1000 Zeichen</mat-hint>
      <mat-label>Kommentar </mat-label>
      <textarea matInput #comment placeholder="(Optional) Besonders ist das..." formControlName="comment" rows="7"></textarea>
      <mat-hint align="end">{{ comment.value?.length || 0 }} / 1000 </mat-hint>
      <mat-error *ngIf="formValidationErrors['comment']">{{ formValidationErrors['comment'] }}</mat-error>
    </mat-form-field> -->

    <div fxLayout="row" class="my-16" fxLayoutAlign="end center" fxLayoutGap="10px" fxFlex="100">
      <button mat-raised-button color="warn" (click)="onNoClick()" type="button" class="btn-cancel">
        Abbrechen </button>
      <button mat-raised-button color="primary" type="submit">
        Aufgabe beenden </button>
    </div>
  </form>
</div>