<mat-toolbar class="p-0 mat-elevation-z1">

    <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && !rightNavbar" (click)="toggleSidebarOpen('navbar')"
                fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>

            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
                <div class="logo ml-16">
                    <img class="logo-icon" src="assets/images/logos/fuse.svg">
                </div>
            </div>

            <div class="px-8 px-mat-16">
                <fuse-shortcuts [navigation]="navigation"></fuse-shortcuts>
            </div>

        </div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center" *ngIf="user">

            <div class="toolbar-separator"></div>
            <button mat-icon-button (click)=" refreshContent()" class="user-button" matTooltip="Daten neu laden">
                <mat-icon>autorenew</mat-icon>
            </button>
            <div class="toolbar-separator"></div>

            <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="avatar" src="assets/images/avatars/profile.jpg">
                    <span class="username mr-12" fxHide fxShow.gt-sm>{{ user.surname }} {{ user.lastname }} </span>
                    <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                </div>
            </button>




            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

                <a mat-menu-item class="" [routerLink]="['member/dashboard']">
                    <mat-icon>content_paste</mat-icon>
                    <span>Meine Aufgaben</span>
                </a>
                <button mat-menu-item type="button" class="" (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>

            </mat-menu>

            <div class="toolbar-separator"></div>

            <!-- <button mat-button type="button" [matMenuTriggerFor]="messageMenu" class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon class="icon" *ngIf="unreadMessages.length === 0">email</mat-icon>
                    <mat-icon class="icon" [matBadge]="unreadMessages.length" matBadgeColor="warn" *ngIf="unreadMessages.length > 0">email</mat-icon>
                    <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                </div>
            </button> -->

            <!-- <fuse-search-bar (input)="search($event)"></fuse-search-bar> -->

            <mat-menu #messageMenu="matMenu" [overlapTrigger]="false">
                <!-- <mat-card class="example-card">
                            <mat-card-header>
                              <mat-card-title>5 neue Nachrichten</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                              <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                bred for hunting.
                              </p>
                            </mat-card-content>
                          </mat-card> -->

                <div fxLayout="row" fxLayoutAlign="start center">
                    <div *ngIf="unreadMessages.length === 1">1 neue Nachricht</div>
                    <div *ngIf="unreadMessages.length === 0">keine neue Nachrichten</div>
                    <div *ngIf="unreadMessages.length > 1">{{unreadMessages.length}} neue Nachrichten</div>
                </div>
                <mat-divider></mat-divider>
                <div *ngFor="let item of unreadMessages">
                    <button mat-menu-item type="button" class="" (click)="openMessages()">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
                                {{item.actionDetails.name}} {{item.action}}
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" style="margin-left: 10px;">
                                <div class="time">{{item.timeStamp | date:'hh:mm'}} Uhr</div>
                            </div>
                        </div>
                    </button>
                </div>
                <mat-divider></mat-divider>
                <button mat-menu-item type="button" class="" (click)="openMessages()">
                    <mat-icon>mail_outline</mat-icon>
                    <span>weitere Nachrichten</span>
                </button>


            </mat-menu>


            <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

            <button mat-icon-button class="quick-panel-toggle-button" (click)="toggleSidebarOpen('quickPanel')" aria-label="Toggle quick panel">
                <mat-icon class="icon">format_list_bulleted</mat-icon>
            </button>

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && rightNavbar" fxHide fxShow.gt-xs></div>

            <button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && rightNavbar" (click)="toggleSidebarOpen('navbar')"
                fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>

        </div>

    </div>

</mat-toolbar>