<form class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" [formGroup]="form"
  (submit)="createTask()" style="height: 100%">
  <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" [formGroup]="form.get('searchTerms')">
      <mat-form-field fxFlex="1 0 auto">
        <mat-hint align="start">Vorname, Nachname oder Firmennamen eingeben</mat-hint>
        <mat-label>Kunde</mat-label>
        <input type="text" matInput placeholder="Max Mustermann" formControlName="searchCustomerValue" [matAutocomplete]="autoContact">
      </mat-form-field>
      <mat-autocomplete #autoContact="matAutocomplete" (optionSelected)="customerSelected($event)" [displayWith]="displayContactResult">
        <mat-option *ngFor="let option of customerResult" [value]="option">
          {{ displayContactResult(option) }}
        </mat-option>
      </mat-autocomplete>
      <p fxFlex="0 0 auto" fxFlexAlign="center"> oder:</p>
      <div fxFlex="0 0 auto" fxFlexAlign="center">
        <button type="button" mat-raised-button (click)="openCreateContactDialog()">Person erstellen</button>
      </div>
    </div>
    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" [formGroup]="form.get('searchTerms')">
      <mat-form-field fxFlex="1 0 auto">
        <mat-hint align="start">Name der Straße eingeben</mat-hint>
        <mat-label>Straßenname und Nummer</mat-label>
        <input type="text" matInput placeholder="Brückenstücke 4" formControlName="buildingTermValue" [matAutocomplete]="autoBuilding">
      </mat-form-field>
      <mat-autocomplete #autoBuilding="matAutocomplete" (optionSelected)="buildingSelected($event)" [displayWith]="displayBuildingResult">
        <mat-option *ngFor="let option of buildingResult" [value]="option">
          {{ option.streetName }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="p-16" fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="center center" *ngIf="loadBuildingDataInProgress === true">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <p>Wohnungen werden geladen...</p>
    </div>

    <div fxLayout="row" class="mat-accent-bg p-12 my-24" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" @ngIfFadeIn *ngIf="showFlatSelect == false && form.value.flatId > 0">
      <p>Dieses Gebäude verfügt nur über eine Wohnung. Diese wird automatisch gewählt</p>
    </div>

    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" @ngIfFadeIn *ngIf="loadBuildingDataInProgress === false && showFlatSelect === true">
      <mat-form-field fxFlex="1 0 auto" *ngIf="currentFlats.length > 0">
        <mat-hint align="start">Wählen Sie eine Wohnung aus</mat-hint>
        <mat-label>Wohnung</mat-label>
        <mat-select placeholder="Wohnung 1" formControlName="flatId">
          <mat-option *ngFor="let flat of currentFlats" [value]="flat.id">
            {{ flat.number }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p fxFlex="0 0 auto" fxFlexAlign="center" *ngIf="createFlat"> oder:</p>
      <div fxFlex="0 0 auto" fxFlexAlign="center" *ngIf="createFlat">
        <button type="button" mat-raised-button (click)="openCreateFlatDialog()">Wohnung erstellen</button>
      </div>
    </div>

    <div class="p-16" fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="center center" *ngIf="loadingDeviesInProgress === true">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <p>Geräte werden geladen...</p>
    </div>

    <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" @ngIfFadeIn *ngIf="loadingDeviesInProgress === false && devices && devices.length > 0">
      <mat-form-field fxFlex="1 0 auto">
        <mat-hint align="start">Optinal: Wählen Sie eine Gerät aus</mat-hint>
        <mat-label>Zugangsgerät</mat-label>
        <mat-select placeholder="Wähle ein Gerät" formControlName="deviceId">
          <mat-option [value]="null">Kein Geräte</mat-option>
          <mat-option *ngFor="let device of devices" [value]="device.id">
            {{ device.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
      <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
        <mat-hint align="start">Optinal: Wählen Sie ein Netz aus</mat-hint>
        <mat-label>IPv4 Netz</mat-label>
        <mat-select placeholder="/29" formControlName="addressRequirement">
          <mat-option *ngFor="let networkOption of networkOptions" [value]="networkOption">
            {{ networkOption | activationJobIpAddressRequirementsToName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox formControlName="unchagedIpAdress" fxFlex="50" fxFlex.lt-sm="100" class="mx-12">Feste IPv4 Adresse?</mat-checkbox>
    </div>


    <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
      <button mat-raised-button color="primary" type="submit" class="mx-12" [disabled]="form.invalid === true || createTaskInProgress === true">Erstellen</button>
    </div>
  </div>
</form>