<div class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text mb-32">
            <h1>Planungsdaten aktualisieren</h1>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="start stretch">
        <!-- Loading Card  -->
        <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
            <div class="p-16">
                <div class="h1">Daten werden geladen</div>
            </div>
            <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
        </div>

        <div class="fuse-card mx-12 my-24" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="0 0 auto" style="min-width: 100%"
            *ngIf="!loadingDataInProgress">
            <mat-tab-group>
                <mat-tab *ngFor="let item of tabs">
                    <ng-template mat-tab-label>
                        <span>{{ item.tab | updateTasksToString }}</span>
                    </ng-template>
                    <mat-list>
                        <mat-list-item>
                            <h4 matLine>Neuen Task starten</h4>
                            <button mat-raised-button color="primary" (click)="startTask(item)" [disabled]="isStartTaskDisabled(item.tab)">
                                Starten
                            </button>
                        </mat-list-item>
                        <mat-list-item *ngFor="let item2 of item.elements">
                            <h4 matLine>{{ item2.taskType | updateTasksToString }} - Gestartet von {{ item2.createdBy.name }} </h4>
                            <span matLine> Gestartet: {{ item2.started | date:'dd.MM.yyyy hh:mm' }} </span>
                            <span matLine *ngIf="item2.endend"> Abgeschlossen: {{ item2.endend | date:'dd.MM.yyyy hh:mm' }} </span>
                            <span matLine> Letzter Heartbeat: {{ item2.lastHearbeat | date:'dd.MM.yyyy hh:mm' }} </span>
                            <span matLine> Abgebrochen: {{ item2.wasCanceled }} </span>
                            <button mat-icon-button type="button" (click)="openDetails(item2)" matTooltip="Details" matTooltipShowDelay="1000">
                                <mat-icon aria-label="Info">info_outline</mat-icon>
                            </button>
                            <button mat-icon-button type="button" (click)="cancelTask(item2)" matTooltip="Task abbrechen" matTooltipShowDelay="1000" [disabled]="item2.wasCanceled || item2.endend">
                                <mat-icon aria-label="Info">clear</mat-icon>
                            </button>
                        </mat-list-item>
                        <mat-list-item *ngIf="item.elements.length === 0">
                            keine Einträge vorhanden
                        </mat-list-item>
                    </mat-list>
                </mat-tab>
            </mat-tab-group>
        </div>

    </div>
    <!-- End Content -->
</div>