<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column">
    <button mat-fab type="button" fxLayoutAlign="center left" (click)="navigateBack()" matTooltip="Zurück zur Kundenübersicht"
      matTooltipShowDelay="1000">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="hero-text mb-32" fxLayoutAlign="center center">
      <h1>Kundendetails</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!contact)" @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Kundendetails wurden nicht geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Es konnten keine Kundendetails geladen werden</p>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && contact" @ngIfFadeIn>

      <mat-card>
        <mat-card-header>

        </mat-card-header>
        <mat-card-content>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="h1">
              {{ contact.contact.surname }} {{ contact.contact.lastname }}
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-fab type="button" color="warn" (click)="contactNotInterested()" matTooltip="Kunde ist nicht interessiert" matTooltipShowDelay="1000" class="header-button">
                    <mat-icon>clear</mat-icon>
                </button>
                <button mat-fab type="button" color="accent" (click)="contactInterested()" matTooltip="Kunde ist interessiert" matTooltipShowDelay="1000">
                    <mat-icon>done</mat-icon>
                </button>
              </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Telefon</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ contact.contact.phone }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Straße, Hausnummer</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ contact.contact.address.street }} {{ contact.contact.address.streetNumber }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Postleitszahl, Stadt</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ contact.contact.address.postalCode }} {{contact.contact.address.city}}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="contact.contact.companyName">
            <div>Firma</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ contact.contact.companyName }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="contact.contact.emailAddress">
            <div>EMail-Addresse</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ contact.contact.emailAddress }}</div>
            </div>
          </div>

          <mat-divider></mat-divider>
          <div class="mb-12 item-under-divider" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Status</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text" *ngIf="contact.closed">geschlossen</div>
              <div class="secondary-text" *ngIf="!contact.closed">offen</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="contact.closeComment">
            <div>Kommentar</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ contact.closeComment }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="contact.finshedAt">
            <div>Beendet am</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ contact.finshedAt }}</div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="mb-12 item-under-divider" fxLayout="row" fxLayoutAlign="space-between center">
              <div>Gebäude</div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="secondary-text">{{ contact.building.streetName }}</div>
              </div>
            </div>
        </mat-card-content>
      </mat-card>


    </div>
    <!-- End Content -->
  </div>
</div>