<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Kunden Anfragen</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!items || items.length == 0)"
      @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Keine offenen Kundenanfragen vorhanden</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Derzeit gibt es noch keine Anfragen vom Vertrieb, die noch nicht bearbeitet wurden</p>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && items && items.length > 0" @ngIfFadeIn>
      <mat-toolbar>
        <mat-toolbar-row>
          <span> {{ items.length }} Anfragen vorhanden </span>
          <span fxFlex="1 1 auto"></span>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-list>
        <mat-list-item *ngFor="let item of items">
          <h3 matLine> {{ item.building.streetName }}</h3>
          <strong matLine>{{ item.onlyHouseConnection === true ? 'Nur Hauanschluss' : 'aktiver Kunde' }} </strong>
          <p matLine> {{ item.primaryPerson.type | personTypeToName }}
            <span *ngIf="item.primaryPerson.surname">
              {{ item.primaryPerson.surname }}
            </span> {{ item.primaryPerson.lastname }}
            <small *ngIf="item.primaryPerson.companyName">({{ item.primaryPerson.companyName }} ) </small>
          </p>
          <button mat-icon-button type="button" (click)="gotoDetails(item)" matTooltip="Details zeigen">
            <mat-icon aria-label="Bearbeiten">info</mat-icon>
          </button>
          <button mat-icon-button type="button" (click)="deleteItem(item)" matTooltip="Anfrage löschen">
            <mat-icon aria-label="Löschen">delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>

    <!-- End Content -->
  </div>
</div>