<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Zugang wurde erbeten</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="center center">
    <!-- Loading Card  -->
    <div class="fuse-card my-32 " *ngIf="preperationInProgress === true">
      <div class="p-16">
        <div class="h1">In Bearbeitung</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        <p>Anfrage wird geprüft</p>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" *ngIf="preperationInProgress === false && redirectInit === false" @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Anfrage wurde gesendet </div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Sie haben bereits um Zugang gebeten. Diese Anfrage wird derzeit bearbeitet</p>
      </div>
    </div>

    <div class="fuse-card my-32 " *ngIf="preperationInProgress === false && redirectInit === true" @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Weiterleitung</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Sie werden weitergeleitet...</p>
      </div>
    </div>

    <!-- End Content -->
  </div>
</div>