<h1 mat-dialog-title>
  Neue Wohnung erstellen</h1>
<div mat-dialog-content>
  <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="stretch stretch" fxFlex="1 0 auto" name="form" [formGroup]="form"
    (submit)="onYesClick()">

    <mat-form-field fxFlex="100" class="mx-12">
      <mat-hint align="start">Maximal 128 Zeichen</mat-hint>
      <mat-label>Wohnungsnummer </mat-label>
      <input matInput #inputNumber placeholder="4. Etage rechts" formControlName="number">
      <mat-hint align="end">{{ inputNumber.value?.length || 0 }} / 128 </mat-hint>
      <mat-error *ngIf="formValidationErrors['number']">{{ formValidationErrors['number'] }}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="100" class="mx-12">
      <mat-hint align="start">Maximal 128 Zeichen</mat-hint>
      <mat-label>Geschoss </mat-label>
      <input matInput #inputFloor placeholder="1. OG" formControlName="floor">
      <mat-hint align="end">{{ inputFloor.value?.length || 0 }} / 128 </mat-hint>
      <mat-error *ngIf="formValidationErrors['floor']">{{ formValidationErrors['floor'] }}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="100" class="mx-12">
      <mat-hint align="start">Maximal 1000 Zeichen</mat-hint>
      <mat-label>Beschreibung </mat-label>
      <textarea matInput #inputDescription placeholder="Diese Wohnung findet man über den Hinterhof...." formControlName="description"
        rows="7"></textarea>
      <mat-hint align="end">{{ inputDescription.value?.length || 0 }} / 1000 </mat-hint>
      <mat-error *ngIf="formValidationErrors['description']">{{ formValidationErrors['description'] }}</mat-error>
    </mat-form-field>

    <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center" @ngIfFadeIn *ngIf="inProgress === true">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <p>Wohnung wird erstellt...</p>
    </div>

    <div fxFlex="100" class="mat-warn-bg p-12 my-24" @ngIfFadeIn *ngIf="inProgress === false && errorHappend === true ">
      <p>Beim Erstellen ist ein Fehler aufgetreten</p>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button type="button" (click)="onNoClick()" [disabled]="inProgress === true">Abbrechen</button>
  <button mat-raised-button type="submit" color="primary" (click)="onYesClick()" [disabled]="inProgress === true">Erstellen</button>
</div>