<div fxLayout="row" fxLayoutAlign="start center">

    <div class="info" fxFlex FlexLayout="column">

        <div class="row-1" fxLayout="row" fxLayoutAlign="start center">

            <div class="name" fxLayout="row" fxLayoutAlign="start center" fxFlex>
                <span class="text-truncate">
                    <!-- {{message.actionDetails.name}}  -->
                    {{message.relatedObjectType | messageRelatedObjectTypeToName }}
                </span>
                <mat-icon *ngIf="!message.markedAsRead">new_releases</mat-icon>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">

                <div class="time">{{message.timeStamp | date:'dd.MM.yyyy HH:mm'}} Uhr</div>

            </div>

        </div>

        <div class="row-2" fxLayout="row" fxLayoutAlign="start center">

            <div fxLayout="column" fxLayoutAlign="start start">

                <div class="subject text-truncate">
                    <!-- {{mail.subject}} -->
                    {{ getMessageSubject(message) }}
                    <!-- {{message.action | messageActionToString}} -->
                </div>

                <div class="message text-truncate">
                    <!-- {{mail.message | htmlToPlaintext | slice:0:180}}{{mail.message.length > 180 ? '...' : ''}} -->

                </div>

                <div class="labels" fxLayout="row wrap" fxHide fxShow.gt-sm>
                    <!-- <div class="label" *ngFor="let labelId of mail.labels"
                         fxLayout="row" fxLayoutAlign="start center">
                        <div class="label-color"
                             [ngStyle]="{'background-color': labels | getById:labelId:'color'}"></div>
                        <div class="label-title">{{labels | getById:labelId:'title'}}</div>
                    </div> -->
                </div>

            </div>

        </div>

    </div>

</div>