<h1 mat-dialog-title>
  {{data.title}}</h1>
<div mat-dialog-content>
  <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="1 0 auto" fxLayout.lt-sm="column">
    <mat-form-field fxFlex="100" class="mx-12" fxFlex.lt-sm="100">
      <mat-label>Kommentar</mat-label>
      <textarea matInput #inputComment placeholder="Schreiben sie einen Kommentar..." [(ngModel)]="comment" matTooltip="Geben Sie ein Kommentar ab"
        matTooltipShowDelay="1000"></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button type="button" (click)="cancel()">Abbrechen</button>
  <button mat-raised-button type="submit" color="primary"
    (click)="finish()">Beenden</button>
</div>