<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Dateiinfos</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!file)" @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Dateiinfos wurde nicht geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Es konnten keine Dateiinfos geladen werden</p>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && file" @ngIfFadeIn>
      <!--  && employees && employees.length > 0 -->
      <form class="example-container" [formGroup]="form" (ngSubmit)="editFile()">
        <mat-form-field floatLabel="auto">
          <mat-label>Dateiname</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="formValidationErrors['name']">{{formValidationErrors['name']}}</mat-error>
        </mat-form-field>

        <table class="formated-table">
          <tbody>
            <tr>
              <th> Dateityp: </th>
              <td> {{file.extention}}</td>
            </tr>
            <tr>
              <th> Größe: </th>
              <td>
                {{file.size | fileSizeToUnit}}
              </td>
            </tr>
          </tbody>
        </table>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Zugriffsrechte
              </mat-panel-title>
              <mat-panel-description>
                Zugriff hinzufügen / entfernen
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              Vorhanden
              <mat-list-item *ngFor="let access of file.accessControl">
                <h3 matLine>
                  <strong>{{ access.objectType | fileAccessObjectTypeToName }} </strong> - {{ access.objectName }} </h3>
                <button mat-icon-button>
                  <mat-icon aria-label="Löschen" (click)="removeAccess(access)">delete</mat-icon>
                </button>
              </mat-list-item>
              Hinzufügen
              <br>
              <div [formGroup]="form.get('newAccessEntry')">
                <mat-form-field>
                  <mat-select formControlName="searchAccessType">
                    <mat-option *ngFor="let item of selectOptions" [value]="item">{{item | fileAccessObjectTypeToName}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-hint align="start">Suche</mat-hint>
                  <mat-label>Name des Zugriffs</mat-label>
                  <input type="text" matInput formControlName="searchTermValue" [matAutocomplete]="auto">
                </mat-form-field>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="accessSelected($event)" [displayWith]="displayAccessResult">
                  <mat-option *ngFor="let option of searchAccess" [value]="option">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
        <button class="cancel-button" mat-raised-button type="button" color="warn" (click)="cancelEdit()">
          Abbrechen
        </button>
        <button mat-raised-button type="submit" [disabled]="changeInProgress === true" color="primary">
          Speichern
        </button>
      </form>
    </div>

    <!-- End Content -->
  </div>
</div>