<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Kontakt bearbeiten</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="start stretch" fxLayout.gt-sm="row">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!contact)" @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Kontakt wurde nicht geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Es konnte kein Kontakt geladen werden</p>
      </div>
    </div>

    <div class="fuse-card mat-accent-bg mx-12 my-24" fxLayout="column" fxFlex="0 0 auto" fxFlex.gt-sm="0 0 30%" style="min-width: 100%"
      *ngIf="loadingDataInProgress === false && contact" @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Kontakt bearbeiten</div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        <p>Hier können Sie einen Kontakt bearbeiten</p>
        <p>Beschreibungstext zum Kontakt...
        </p>
      </div>
    </div>

    <!-- Content  Card  -->
    <form class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" fxFlex.gt-sm="1 0 auto"
      [formGroup]="form" (ngSubmit)="editContact()" *ngIf="loadingDataInProgress === false && contact" style="height: 100%;" @ngIfFadeIn>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12 item-row">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>Vorname</mat-label>
          <input matInput #inputSurname formControlName="surname" matTooltip="Ändern Sie den Vornamen des Kontakts" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputSurname.value?.length || 0 }} / 64</mat-hint>
          <mat-error *ngIf="formValidationErrors['surname']">{{formValidationErrors['surname']}}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12 item-row">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>Nachname</mat-label>
          <input matInput #inputLastname formControlName="lastname" matTooltip="Ändern Sie den Nachnamen des Kontakts" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputLastname.value?.length || 0 }} / 64</mat-hint>
          <mat-error *ngIf="formValidationErrors['lastname']">{{formValidationErrors['lastname']}}</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12 item-row">
          <mat-label>Geschlecht</mat-label>
          <mat-select formControlName="type" matTooltip="Ändern Sie das Geschlecht des Kontakts" matTooltipShowDelay="1000">
            <mat-option *ngFor="let item of genderSelectOptions" [value]="item">{{item | genderTypeIdToString}}</mat-option>
          </mat-select>
          <mat-hint align="start">Bitte auswählen</mat-hint>
        </mat-form-field>
        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12 item-row">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>Firmenname</mat-label>
          <input matInput #inputCompanyName formControlName="companyName" matTooltip="Ändern Sie den Firmennamen des Kontakts" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputCompanyName.value?.length || 0 }} / 64</mat-hint>
          <mat-error *ngIf="formValidationErrors['companyName']">{{formValidationErrors['companyName']}}</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12 item-row">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>E-Mail-Adresse</mat-label>
          <input matInput #inputEMailAddress formControlName="emailAddress" matTooltip="Ändern Sie die E-Mail-Adresse des Kontakts" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputEMailAddress.value?.length || 0 }} / 64</mat-hint>
          <mat-error *ngIf="formValidationErrors['emailAddress']">{{formValidationErrors['emailAddress']}}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12 item-row">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>Telefon</mat-label>
          <input matInput #inputPhone formControlName="phone" matTooltip="Ändern Sie die Telefonnummer des Kontakts" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputPhone.value?.length || 0 }} / 64</mat-hint>
          <mat-error *ngIf="formValidationErrors['phone']">{{formValidationErrors['phone']}}</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
        <mat-form-field fxFlex="80" fxFlex.lt-sm="100" class="mx-12 item-row">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>Straße</mat-label>
          <input matInput #inputStreet formControlName="street" matTooltip="Ändern Sie die Straße des Kontakts" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputStreet.value?.length || 0 }} / 64</mat-hint>
          <mat-error *ngIf="formValidationErrors['street']">{{formValidationErrors['street']}}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="20" fxFlex.lt-sm="100" class="mx-12 item-row">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>Hausnummer</mat-label>
          <input matInput #inputStreetNumber formControlName="streetNumber" matTooltip="Ändern Sie die Hausnummer des Kontakts" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputStreetNumber.value?.length || 0 }} / 64</mat-hint>
          <mat-error *ngIf="formValidationErrors['streetNumber']">{{formValidationErrors['streetNumber']}}</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
        <mat-form-field fxFlex="70" fxFlex.lt-sm="100" class="mx-12 item-row">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>Stadt</mat-label>
          <input matInput #inputCity formControlName="city" matTooltip="Ändern Sie die Stadt des Kontakts" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputCity.value?.length || 0 }} / 64</mat-hint>
          <mat-error *ngIf="formValidationErrors['city']">{{formValidationErrors['city']}}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="30" fxFlex.lt-sm="100" class="mx-12 item-row">
          <mat-hint align="start">Genau 5 Zeichen</mat-hint>
          <mat-label>Postleitszahl</mat-label>
          <input matInput #inputPostalCode formControlName="postalCode" matTooltip="Ändern Sie die Postleitszahl des Kontakts" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputPostalCode.value?.length || 0 }} / 5</mat-hint>
          <mat-error *ngIf="formValidationErrors['postalCode']">{{formValidationErrors['postalCode']}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <button class="cancel-button" mat-raised-button type="button" color="warn" (click)="cancelEdit()" matTooltip="Kontakt bearbeiten abbrechen" matTooltipShowDelay="1000">
          Abbrechen
        </button>
        <button mat-raised-button type="submit" color="primary" matTooltip="Kontakt bearbeiten bestätigen" matTooltipShowDelay="1000">
          Bestätigen
        </button>
      </div>
    </form>

    <!-- End Content -->
  </div>
</div>