<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Details zur Aufgabe</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16  px-sm-24" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlex="100" fxFlexAlign="center" *ngIf="loadingDetailsInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlex="100" fxFlexLayout="stretch" *ngIf="loadingDetailsInProgress === false && details" @ngIfFadeIn>
      <div class="my-24" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end stretch">
        <button color="primary" mat-raised-button type="button" (click)="openFinishJobAdministrativeDialog()" *ngIf="finishJobAdministrativeVisible === true">
          Administrativ beenden</button>
        <button color="primary" mat-raised-button type="button" (click)="navigateToFinishJob()" *ngIf="details && details.state === 1">
          Fertig</button>
      </div>
      <mat-toolbar>
        <mat-toolbar-row>
          <h2>Spleißen: {{ details.buildingInfo.streetName }} </h2>
        </mat-toolbar-row>
      </mat-toolbar>
      <div>
        <agm-map style="height: 300px" [zoom]="18.0" [latitude]="details.branchable.coordinate.latitude" [clickableIcons]="false"
          [scrollwheel]="false" [longitude]="details.branchable.coordinate.longitude">
          <agm-marker [latitude]="details.branchable.coordinate.latitude" [longitude]="details.branchable.coordinate.longitude">
            <agm-info-window>
              <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="row">
                  <div fxFlex="0 0 100%">
                    {{ details.branchable.name }} nach {{ details.buildingInfo.streetName }}
                  </div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="0 0 50%">
                    Rohrfarbe:
                  </div>
                  <div fxFlex="0 0 50%">
                    <strong [style.color]="details.ductColor.rgbHexValue | toColor"> {{ details.ductColor.name }} </strong>
                  </div>
                </div>
                <!-- <div fxLayout="row">
                  <div fxFlex="0 0 50%">
                    Länge:
                  </div>
                  <div fxFlex="0 0 50%">
                    {{ details.expectedLength | number:'1.1-1' }} m
                  </div>
                </div> -->
                <div fxLayout="row">
                  <div fxFlex="0 0 50%">
                    Kabel 1:
                  </div>
                  <div fxFlex="0 0 50%">
                    <span *ngIf="details.buildingCable"> {{ details.buildingCable.name }} ({{ details.buildingCable.fiberAmount }} Fasern) </span>
                    <span *ngIf="!details.buildingCable"> Keine Informationen vorhanden </span>
                  </div>
                </div>
                <div fxLayout="row" *ngIf="details.mainCable">
                  <div fxFlex="0 0 50%">
                    Kabel 2:
                  </div>
                  <div fxFlex="0 0 50%">
                    <span *ngIf="details.mainCable"> {{ details.mainCable.name }} ({{ details.mainCable.fiberAmount }} Fasern) </span>
                    <span *ngIf="!details.mainCable"> Keine Informationen vorhanden </span>
                  </div>
                </div>
              </div>
            </agm-info-window>
          </agm-marker>
          <agm-marker [latitude]="details.buildingInfo.coordinate.latitude" [longitude]="details.buildingInfo.coordinate.longitude">
            <agm-info-window>
              <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="row">
                  <div fxFlex="0 0 100%">
                    {{ details.buildingInfo.streetName }}
                  </div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="0 0 50%">
                    Kotankt:
                  </div>
                  <div fxFlex="0 0 50%">
                    <besa-person-info-short-view [contact]="details.customer"></besa-person-info-short-view>
                  </div>
                </div>
              </div>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
      <mat-tab-group>
        <mat-tab *ngIf="showFinishInfo === true && details.finishInfo">
          <ng-template mat-tab-label>
            <span>Abgabe</span>
          </ng-template>
          <h2>Aufgabe abgeschlossen:</h2>
          <table class="formated-table">
            <tbody>
              <tr>
                <th> Beendet am </th>
                <td> {{ details.finishInfo.finishedAt | date:'dd.MM.yy' }} </td>
              </tr>
              <tr>
                <th> Beendet durch </th>
                <td> {{ details.finishInfo.finishedBy.surname }} {{ details.finishInfo.finishedBy.lastname }}
                  <span *ngIf="details.finishInfo.finishedBy.companyInfo">
                    ( {{ details.finishInfo.finishedBy.companyInfo.name }} )
                  </span>
                </td>
              </tr>
              <tr>
                <th> Probleme? </th>
                <td>
                  <span *ngIf="details.finishInfo.problemHappend.value === true">ja
                    <br> {{ details.finishInfo.problemHappend.description }} </span>
                  <span *ngIf="details.finishInfo.problemHappend.value === false">nein </span>
                </td>
              </tr>
              <tr *ngIf="details.finishInfo.acceptedAt">
                <th> Angenommen am </th>
                <td> {{ details.finishInfo.acceptedAt | date:'dd.MM.yy' }} </td>
              </tr>
              <tr *ngIf="details.finishInfo.acceptedBy">
                <th> Angenommen durch </th>
                <td> {{ details.finishInfo.acceptedBy.surname }} {{ details.finishInfo.acceptedBy.lastname }}
                  <span *ngIf="details.finishInfo.acceptedBy.companyInfo">
                    ( {{ details.finishInfo.acceptedBy.companyInfo.name }} )
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <h3>Dateien:</h3>
          <mat-list>
            <mat-list-item *ngFor="let item of details.finishInfo.files">
              <mat-icon mat-list-icon>{{item.type | fileTypeToIcon}}</mat-icon>
              <h4 matLine>{{item.name}}.{{ item.extention }}</h4>
              <span matLine>{{item.size | fileSizeToUnit}}</span>
              <button *ngIf="item.type === 1" matTooltip="Vorschau anzeigen" mat-icon-button type="button" (click)="showPreview(item)">
                <mat-icon aria-label="Vorschau">pageview</mat-icon>
              </button>
              <a mat-icon-button target="_blank" matTooltip="Datei downloaden" [href]="getFileUrl(item)">
                <mat-icon aria-label="Open">get_app</mat-icon>
              </a>
            </mat-list-item>
          </mat-list>
          <div class="my-24" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end stretch" *ngIf="details.state === 2">
            <button color="warn" mat-raised-button type="button" (click)="discardJob()" [disabled]="actionInProgress === true"> Ablehnen</button>
            <button color="primary" mat-raised-button type="button" (click)="acknowledgeJob()" [disabled]="actionInProgress === true">
              Bestätigen</button>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Protokoll</span>
          </ng-template>
          <h2>Protokoll</h2>
          <table class="formated-table">
            <tbody>
              <tr>
                <th>
                  <h3>Hausanschluss</h3>
                </th>
              </tr>
              <tr>
                <th>Art:</th>
                <td>{{ details.branchableType | numberToBranchableType }}</td>
              </tr>
              <tr>
                <th>KVZ:</th>
                <td>{{ details.branchable.name }}</td>
              </tr>
              <tr>
                <th>Fasern-Hausanschlusskabel:</th>
                <td>
                  <span *ngIf="details.buildingCable"> {{ details.buildingCable.name }} ({{ details.buildingCable.fiberAmount }} Fasern) </span>
                  <span *ngIf="!details.buildingCable"> Keine Informationen vorhanden </span>
                </td>
              </tr>
              <tr>
                <th>Fasern-Hauptkabel:</th>
                <td>{{ details.mainCable.fiberAmount }}</td>
              </tr>
              <tr>
                <th>Reserve in Kasette:</th>
                <td>{{ details.trayNumberForFiberBuffer }}</td>
              </tr>
            </tbody>
          </table>
          <mat-slide-toggle (change)="tableViewChanged($event)" [(ngModel)]="tableViewDesc" *ngIf="details.entries && details.entries.length > 0">
            Tausche Kabelansicht
          </mat-slide-toggle>
          <div class="example-container mat-elevation-z8">
            <span *ngIf="!details.entries || details.entries.length === 0">Keine Informationen vorhanden</span>
            <table mat-table #table [dataSource]="tableData" *ngIf="details.entries && details.entries.length > 0" class="spliceTable my-24 mat-elevation-z8">
              <ng-container matColumnDef="firstFiberName">
                <th mat-header-cell *matHeaderCellDef> Kabel 1 </th>
                <td mat-cell *matCellDef="let element"> {{element.firstFiber.name}} </td>
              </ng-container>
              <ng-container matColumnDef="firstFiberBundle">
                <th mat-header-cell *matHeaderCellDef> Faser 1 </th>
                <td mat-cell *matCellDef="let element">
                  <span [ngSwitch]="element.firstFiber.color && element.firstFiber.color.indexOf('/') < 0">
                    <span *ngSwitchCase="true">
                      {{ element.firstFiber.numberinBundle}}
                    </span>
                    <span *ngSwitchCase="false">
                      {{element.firstFiber.bundleNumber }} - {{ element.firstFiber.numberinBundle}}
                    </span>
                  </span>
              </ng-container>
              <ng-container matColumnDef="firstFiberNumber">
                <th mat-header-cell *matHeaderCellDef> Nr 1 </th>
                <td mat-cell *matCellDef="let element"> {{element.firstFiber.fiberNumber }} </td>
              </ng-container>
              <ng-container matColumnDef="firstFiberColor">
                <th mat-header-cell *matHeaderCellDef> Farbe </th>
                <td mat-cell *matCellDef="let element"> {{element.firstFiber.color }} </td>
              </ng-container>

              <ng-container matColumnDef="secondFiberName">
                <th mat-header-cell *matHeaderCellDef> Kabel 2 </th>
                <td mat-cell *matCellDef="let element"> {{element.secondFiber?.name}} </td>
              </ng-container>
              <ng-container matColumnDef="secondFiberBundle">
                <th mat-header-cell *matHeaderCellDef> Faser 2 </th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.secondFiber" [ngSwitch]="element.secondFiber.color && element.secondFiber.color.indexOf('/') < 0">
                    <span *ngSwitchCase="true">
                      {{ element.secondFiber.numberinBundle }}
                    </span>
                    <span *ngSwitchCase="false">
                      {{ element.secondFiber.bundleNumber }} - {{ element.secondFiber.numberinBundle}}
                    </span>
                  </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="secondFiberNumber">
                <th mat-header-cell *matHeaderCellDef> Nr 2 </th>
                <td mat-cell *matCellDef="let element"> {{element.secondFiber?.fiberNumber }} </td>
              </ng-container>
              <ng-container matColumnDef="secondFiberColor">
                <th mat-header-cell *matHeaderCellDef> Farbe </th>
                <td mat-cell *matCellDef="let element"> {{element.secondFiber?.color }} </td>
              </ng-container>

              <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef> Spleiß </th>
                <td mat-cell *matCellDef="let element"> {{element.number }}</td>
              </ng-container>
              <ng-container matColumnDef="tray">
                <th mat-header-cell *matHeaderCellDef> Kassette </th>
                <td mat-cell *matCellDef="let element"> {{element.tray }} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
              <tr mat-row *matRowDef="let myRowData; columns: displayColumns"></tr>
            </table>
          </div>

        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Dateien ({{ details.files ? details.files.length : '0' }})
            </span>
          </ng-template>
          <p *ngIf="!details.files || details.files.length == 0"> Keien Dateien vorhanden </p>
          <mat-list *ngIf="details.files && details.files.length > 0">
            <mat-list-item *ngFor="let item of details.files">
              <mat-icon mat-list-icon>{{item.type | fileTypeToIcon}}</mat-icon>
              <h4 matLine>{{item.name}}.{{ item.extention }}</h4>
              <span matLine>{{item.size | fileSizeToUnit}}</span>
              <button *ngIf="item.type === 1" matTooltip="Vorschau anzeigen" mat-icon-button (click)="showPreview(item)">
                <mat-icon aria-label="Vorschau">pageview</mat-icon>
              </button>
              <a mat-icon-button target="_blank" matTooltip="Datei downloaden" [href]="getFileUrl(item)">
                <mat-icon aria-label="Open">get_app</mat-icon>
              </a>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
      <div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="10px" *ngIf="details.state === 1">
        <button class="my-24" color="primary" fxFlexAlign="end" mat-raised-button type="button" (click)="navigateToFinishJob()">
          Fertig</button>
      </div>
    </div>
  </div>
  <!-- End Content -->
</div>