<div *ngIf="contact">
  {{ contact.type | personTypeToName }}
  <span *ngIf="contact.surname">
    {{ contact.surname }}
  </span> {{ contact.lastname }}
  <small *ngIf="contact.companyName">({{ contact.companyName }} ) </small>
  <p> {{ contact.address.street }} {{ contact.address.streetNumber }} </p>
  <p> {{ contact.address.postalCode }} {{ contact.address.city }} </p>
  <p> {{ contact.emailAddress }} </p>
  <p *ngIf="contact.phone"> {{ contact.phone }} </p>
</div>