<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-form-field>
      <input matInput placeholder="Musterstraße 1" [(ngModel)]="data.inputValue">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="mx-12" mat-raised-button type="button" (click)="onNoClick()">{{ data.noLabel ? data.noLabel : 'Nein' }}</button>
  <button class="mx-12" mat-raised-button type="button" color="warn" (click)="onYesClick()" cdkFocusInitial> {{ data.yesLabel ? data.yesLabel : 'Ja' }} </button>
</div>