<form class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" [formGroup]="form"
  (submit)="createSpliceCustomerTask()" style="height: 100%">
  <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" [formGroup]="form.get('searchTerms')">
      <mat-form-field fxFlex="1 0 auto">
        <mat-hint align="start">Vorname, Nachname oder Firmennamen eingeben</mat-hint>
        <mat-label>Kunde</mat-label>
        <input type="text" matInput placeholder="Max Mustermann" formControlName="searchCustomerValue" [matAutocomplete]="autoContact">
      </mat-form-field>
      <mat-autocomplete #autoContact="matAutocomplete" (optionSelected)="customerSelected($event)" [displayWith]="displayContactResult">
        <mat-option *ngFor="let option of customerResult" [value]="option">
          {{ displayContactResult(option) }}
        </mat-option>
      </mat-autocomplete>
      <p fxFlex="0 0 auto" fxFlexAlign="center"> oder:</p>
      <div fxFlex="0 0 auto" fxFlexAlign="center">
        <button type="button" mat-raised-button (click)="openCreateContactDialog()">Person erstellen</button>
      </div>
    </div>
    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" [formGroup]="form.get('searchTerms')">
      <mat-form-field fxFlex="1 0 auto">
        <mat-hint align="start">Name der Straße eingeben</mat-hint>
        <mat-label>Straßenname und Nummer</mat-label>
        <input type="text" matInput placeholder="Brückenstücke 4" formControlName="buildingTermValue" [matAutocomplete]="autoBuilding">
      </mat-form-field>
      <mat-autocomplete #autoBuilding="matAutocomplete" (optionSelected)="buildingSelected($event)" [displayWith]="displayBuildingResult">
        <mat-option *ngFor="let option of buildingResult" [value]="option">
          {{ option.streetName }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" class="mat-accent-bg p-12 my-24" @ngIfFadeIn *ngIf="customerIsSelected && buildingIsSelected && !injectJobIsCompleted && !loadBuildingDataInProgress">
      <p>Das Einblasen wurde noch nicht abgeschlossen, bitte wählen sie einen anderen Kunden</p>
    </div>

    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" @ngIfFadeIn *ngIf="customerIsSelected && buildingIsSelected && injectJobIsCompleted && showFlatSelect && !loadBuildingDataInProgress">
      <mat-form-field fxFlex="1 0 auto" *ngIf="currentFlats.length > 0">
        <mat-hint align="start">Wählen Sie eine Wohnung aus</mat-hint>
        <mat-label>Wohnung</mat-label>
        <mat-select placeholder="Wohnung 1" [(value)]="selectedFlat">
          <mat-option *ngFor="let flat of currentFlats" [value]="flat">
            {{ flat.number }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p fxFlex="0 0 auto" fxFlexAlign="center" *ngIf="createFlat && currentFlats.length > 0"> oder:</p>
      <div fxFlex="0 0 auto" fxFlexAlign="center" *ngIf="createFlat">
        <button type="button" mat-raised-button (click)="openCreateFlatDialog()">Wohnung erstellen</button>
      </div>
    </div>

    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" @ngIfFadeIn *ngIf="selectedFlat && !showFlatSelect && !loadBuildingDataInProgress">
      Ausgewählte Wohnung: {{ selectedFlat.number }}
    </div>

    <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
      <button mat-raised-button color="primary" type="submit" class="mx-12" [disabled]="form.invalid === true || createTaskInProgress === true || !selectedFlat">Erstellen</button>
    </div>
  </div>
</form>