<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Benutzer bearbeiten</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="start stretch" fxLayout.gt-sm="row">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!user)" @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Benutzer wurde nicht geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Es konnte kein Benutzer geladen werden</p>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card mat-accent-bg mx-12 my-24" fxLayout="column" fxFlex="0 0 auto" fxFlex.gt-sm="0 0 30%" style="min-width: 100%"
      *ngIf="loadingDataInProgress === false && user" @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Benutzer bearbeiten</div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        <p>Hier können Sie einen Benutzer bearbeiten</p>
        <p>Beschreibungstext zum Benutzer...
        </p>
      </div>
    </div>

    <form class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" fxFlex.gt-sm="1 0 auto"
      [formGroup]="form" (ngSubmit)="editUser()" style="height: 100%" *ngIf="loadingDataInProgress === false && user" @ngIfFadeIn>
      <div class="item-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>Vorname</mat-label>
          <input matInput #inputSurname formControlName="surname" matTooltip="Ändern Sie den Vornamen des Benutzers" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputSurname.value?.length || 0 }} / 64</mat-hint>
          <mat-error *ngIf="formValidationErrors['surname']">{{formValidationErrors['surname']}}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>Nachname</mat-label>
          <input matInput #inputLastname formControlName="lastname" matTooltip="Ändern Sie den Nachnamen des Benutzers" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputLastname.value?.length || 0 }} / 64</mat-hint>
          <mat-error *ngIf="formValidationErrors['lastname']">{{formValidationErrors['lastname']}}</mat-error>
        </mat-form-field>
      </div>
      <div class="item-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>Telefon</mat-label>
          <input matInput #inputPhone formControlName="phone" matTooltip="Ändern Sie die Telefonnummer des Benutzers" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputPhone.value?.length || 0 }} / 32</mat-hint>
          <mat-error *ngIf="formValidationErrors['phone']">{{formValidationErrors['phone']}}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>E-Mail-Adresse</mat-label>
          <input matInput #inputEmail formControlName="eMailAddress" matTooltip="Ändern Sie die E-Mail-Adresse des Benutzers" matTooltipShowDelay="1000">
          <mat-hint align="end">{{ inputEmail.value?.length || 0 }} / 64</mat-hint>
          <mat-error *ngIf="formValidationErrors['eMailAddress']">{{formValidationErrors['eMailAddress']}}</mat-error>
        </mat-form-field>
      </div>

      <div class="item-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
          <mat-checkbox fxFlex="100" formControlName="isManagement">Management</mat-checkbox>
        </div>

      <div fxLayout="column" class="my-16" fxLayoutGap="10px">
        <mat-checkbox fxFlex="100" *ngFor="let role of possibleRoles" [checked]="hasRole(role)" (change)="roleChanged($event,role)" matTooltip="Rolle hinzufügen / entfernen" matTooltipShowDelay="1000" matTooltipPosition="left">
          {{ role | besaRoleToName }} </mat-checkbox>
      </div>
      <div>
        <button class="cancel-button" mat-raised-button type="button" color="warn" (click)="cancelEdit()" matTooltip="Benutzer bearbeiten abbrechen" matTooltipShowDelay="1000">
          Abbrechen
        </button>
        <button mat-raised-button type="submit" color="primary" matTooltip="Benutzer bearbeiten bestätigen" matTooltipShowDelay="1000">
          Bestätigen
        </button>
      </div>
    </form>
    <!-- End Content -->
  </div>
</div>