<h1 mat-dialog-title>
    Warenauftrag abschließen</h1>
  <div mat-dialog-content>
    <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="stretch stretch" fxFlex="1 0 auto" name="form" [formGroup]="form"
      (submit)="finishJob()">
  
      <!-- <div class="h2 mb-24">Warenauftrag abschließen</div> -->

      <mat-form-field fxFlex="100" class="mx-12">
        <mat-hint align="start">Maximal 1000 Zeichen</mat-hint>
        <mat-label>Kommentar </mat-label>
        <textarea matInput #comment placeholder="(Optional) Besonders ist das..." formControlName="comment" rows="7"></textarea>
        <mat-hint align="end">{{ comment.value?.length || 0 }} / 1000 </mat-hint>
        <mat-error *ngIf="formValidationErrors['comment']">{{ formValidationErrors['comment'] }}</mat-error>
      </mat-form-field>

      <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" [formGroup]="form.get('problemHappend')">
        <mat-checkbox fxFlex="100" formControlName="value">Sind Probleme aufgetreten?</mat-checkbox>
        <mat-form-field fxFlex="100" class="mx-12" *ngIf="form.value.problemHappend.value === true" @ngIfFadeIn>
          <mat-hint align="start">Maximal 1000 Zeichen</mat-hint>
          <mat-label>Beschreibung </mat-label>
          <textarea matInput #problemDescription placeholder="Problem, da..." formControlName="description" rows="7"></textarea>
          <mat-hint align="end">{{ problemDescription.value?.length || 0 }} / 1000 </mat-hint>
          <mat-error *ngIf="formValidationErrors['description']">{{ formValidationErrors['description'] }}</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" class="my-16" fxLayoutAlign="end center" fxFlex="100">
          <button mat-raised-button color="warn" (click)="cancelFinishJob()"  class="btn-cancel">
              Abbrechen </button>
          <button mat-raised-button color="primary" type="submit">
            Aufgabe beenden </button>
        </div>
    </form>
  </div>