<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Aufgaben umwandeln</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="start stretch">
    <!-- Loading Card  -->

    <div class="fuse-card mx-12 my-24" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="0 0 auto" style="min-width: 100%">
      <mat-tab-group #tabGroup>
        <mat-tab #firstTab>
          <ng-template mat-tab-label>
            <span>Vorstrecker zu Hausanschlüsse</span>
          </ng-template>
          <besa-convert-branch-off-job-to-connect-building-job *ngIf="tabGroup.selectedIndex === 0" @ngIfFadeIn></besa-convert-branch-off-job-to-connect-building-job>
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>
  <!-- End Content -->
</div>