<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Meine Aufgaben</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="start stretch">
    <!-- Loading Card  -->

    <div class="fuse-card my-32 " *ngIf="loadingNextJobsInProgress === true">
      <div class="p-16">
        <div class="h1">Laden</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        <p>Es werden die aktuellen Aufgaben geladen</p>
      </div>
    </div>

    <div class="fuse-card my-32 " *ngIf="loadingNextJobsInProgress === false && (!nextJobs || nextJobs.length == 0)"
      @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Keine Aufgaben</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Derzeit liegen keine aktuellen Aufträge vor</p>
      </div>
    </div>

    <div class="fuse-card mx-12 my-24" *ngIf="loadingNextJobsInProgress === false && nextJobs && nextJobs.length > 0"
      @ngIfFadeIn fxLayout="column" fxLayoutAlign="start stretch" fxFlex="0 0 auto" style="min-width: 100%">
      <mat-toolbar>
        <mat-toolbar-row>
          <span>{{ nextJobs.length }} Offene Aufgaben vorhanden </span>
          <span fxFlex="1 1 auto"></span>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-list>
        <mat-list-item *ngFor="let job of nextJobs" (click)="navigateToJob(job)">
          <h3 matLine> {{ job.name }} - {{ job.jobType | jobTypeToName }} </h3>
          <span matLine> {{ job.taskAmount }} Aufgaben </span>
          <div fxLayout="column">
            <span>
              {{ job.endDate | daysLeft }}
            </span>
            <span>
              {{ job.endDate | date:'dd.MM.yy' }}
            </span>
          </div>
        </mat-list-item>
      </mat-list>


      <mat-toolbar class="my-24">
        <mat-toolbar-row>
          <span *ngIf="unreadMessages && unreadMessages.length > 0">Neue Nachrichten {{ unreadMessages.length }} </span>
          <span *ngIf="!unreadMessages || unreadMessages.length == 0">Keine neuen Nachrichten </span>

          <span fxFlex="1 1 auto"></span>
        </mat-toolbar-row>
      </mat-toolbar>

      <div fxFlex="100" *ngIf="!unreadMessages || unreadMessages.length == 0">
        <p class="my-24">
          Derzeit sind keine neuen Nachrichten vorhanden
        </p>
      </div>

      <mat-list *ngIf="unreadMessages && unreadMessages.length > 0">
        <mat-list-item *ngFor="let item of unreadMessages">
          <h3 matLine> {{item.actionDetails.name}} {{item.action | messageActionToString}} </h3>
          <div fxLayout="column">
            <span>
              {{ item.timeStamp | date:'dd.MM.yy HH:mm' }} Uhr
            </span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>

  </div>
  <!-- End Content -->
</div>