<form class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" [formGroup]="form"
  (submit)="createPrepareBranchableForSpliceJob()" style="height: 100%">
  <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" [formGroup]="form.get('searchTerms')">
      <mat-form-field fxFlex="1 0 auto">
        <mat-hint align="start">Name des KVZ eingeben</mat-hint>
        <mat-label>KVZ</mat-label>
        <input type="text" matInput placeholder="Brückenstücke 4" formControlName="prepareBranchableTermValue" [matAutocomplete]="auto">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="prepareBranchableSelected($event)" [displayWith]="displayBranchableResult">
        <mat-option *ngFor="let option of prepareBranchableResult" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
      <button mat-raised-button color="primary" type="submit" class="mx-12" [disabled]="form.invalid === true || createTaskInProgress === true">Erstellen</button>
    </div>
  </div>
</form>