<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Gebietsplanung</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="start stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <div class="fuse-card mx-12 my-24" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="0 0 auto" style="min-width: 100%">
      <mat-horizontal-stepper [linear]="false" #stepper>
        <mat-step>
          <div *ngIf="!loadingDataInProgress">
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
              <div fxFill></div>
              <div fxFlex="auto" fxFlexOffset="-5">
                <button mat-fab class="button_add" (click)="addArea()" *ngIf="!createPolygonMode">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-raised-button class="button_add" (click)="cancelPolygon()" *ngIf="createPolygonMode" color="warn">
                  Erstellen abbrechen
                </button>
                <button mat-raised-button class="button_add" (click)="cancelSelection()" *ngIf="createPolygonMode" color="warn">
                  Auswahl abbrechen
                </button>
                <button mat-raised-button class="button_add" (click)="finishAddArea()" *ngIf="createPolygonMode" color="primary" [disabled]="newPolygon.length<3">
                  Polygon abschließen
                </button>
              </div>
            </div>
            <agm-map style="height: 500px" [zoom]="13" [latitude]="polygons[0].coordinates[0].lat" [longitude]="polygons[0].coordinates[0].lng"
              (mapClick)="mapClicked($event)">
              <!-- (mapClick)="mapClicked($event)" -->
              <div *ngFor="let item of polygons">
                <agm-polygon [paths]="item.coordinates" (polyClick)="polyClicked(item)" [fillColor]="item.color" [strokeColor]="item.color">

                </agm-polygon>
              </div>
            </agm-map>
            <div *ngIf="selectedArea.areaName != ''">
              <button mat-button matStepperNext (click)="loadDataForSecondTab()" *ngIf="!createPolygonMode">Weiter (mit {{selectedArea.id
                | areaIdToString:polygons}})</button>
            </div>
          </div>
          <ng-template matStepLabel>Gebiet auswählen</ng-template>
        </mat-step>
        <mat-step #step2>
          <ng-template matStepLabel>Gebiet bearbeiten</ng-template>
          <div *ngIf="!loadingDataInProgress">
            <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingSecondTabDataInProgress === true">
              <div class="p-16">
                <div class="h1">Daten werden geladen</div>
              </div>
              <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
              </div>
            </div>
            <mat-tab-group *ngIf="!loadingSecondTabDataInProgress && details">
              <mat-tab>
                <ng-template mat-tab-label>
                  <span>Karte</span>
                </ng-template>
                <agm-map style="height: 500px" [zoom]="17" [latitude]="buildingPolygons[0].coordinates[0].lat" [longitude]="buildingPolygons[0].coordinates[0].lng"
                  *ngIf="buildingPolygons && buildingPolygons.length > 0" (mapClick)="mapAreaItemClicked($event)">
                  <!--  -->
                  <div *ngFor="let item of buildingPolygons">
                    <agm-polygon [paths]="item.coordinates" [fillColor]="item.color" [strokeColor]="item.color" (polyClick)="areaItemPolygonClicked(item)">
                      <!--(polyClick)="polyClicked(item)"-->
                    </agm-polygon>
                  </div>
                  <div *ngFor="let item of emptySpacePolygons">
                    <agm-polygon [paths]="item.coordinates" [fillColor]="item.color" [strokeColor]="item.color" (polyClick)="areaItemPolygonClicked(item)">
                      <!--(polyClick)="polyClicked(item)"-->
                    </agm-polygon>
                  </div>
                </agm-map>
                <button mat-raised-button color="primary" (click)="addAreaItem()" *ngIf="!createAreaItemPolygonMode">Element
                  hinzufügen</button>
                <button mat-raised-button color="primary" (click)="cancelItemPolygon()" *ngIf="createAreaItemPolygonMode">Erstellen
                  abbrechen</button>
                <button mat-raised-button color="primary" (click)="cancelItemSelection()" *ngIf="createAreaItemPolygonMode">Auswahl
                  abbrechen</button>
                <button mat-raised-button color="primary" (click)="finishItem()" [disabled]="newAreaItemPolygon.length < 3" *ngIf="createAreaItemPolygonMode">Erstellen
                  abschließen</button>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                  <span>Tabelle</span>
                </ng-template>
                <div fxLayout="row" fxLayoutAlign="space-evenly center">
                  <div fxFill></div>
                  <div fxFlex="auto" fxFlexOffset="-5">
                    <button mat-fab class="button_add" (click)="addItem()">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
                <div class="h3">Gebäude</div>
                <table mat-table [dataSource]="details.buildings">
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id</th>
                    <td mat-cell *matCellDef="let element">{{element.id}}</td>
                  </ng-container>
                  <ng-container matColumnDef="coordinate">
                    <th mat-header-cell *matHeaderCellDef> Koordinaten</th>
                    <td mat-cell *matCellDef="let element">
                      <div *ngFor="let item of element.coordinates">lat: {{ item.latitude }} long: {{ item.longitude }}</div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="buttons">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button (click)="buildingDetails(element.id)">
                        <mat-icon>info</mat-icon>
                      </button>
                      <button mat-icon-button (click)="deleteBuilding(element.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedBuildingColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedBuildingColumns;"></tr>
                </table>
                <div class="h3">Straßen</div>
                <table mat-table [dataSource]="details.streets">
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id</th>
                    <td mat-cell *matCellDef="let element">{{element.id}}</td>
                  </ng-container>
                  <ng-container matColumnDef="street">
                    <th mat-header-cell *matHeaderCellDef> Straße</th>
                    <td mat-cell *matCellDef="let element">{{element.streetName}}</td>
                  </ng-container>
                  <ng-container matColumnDef="buttons">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button (click)="openEditStreet(element.id)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button (click)="deleteStreet(element.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedStreetColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedStreetColumns;"></tr>
                </table>
                <div class="h3">Freie Flächen</div>
                <table mat-table [dataSource]="details.emptySpaces">
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id</th>
                    <td mat-cell *matCellDef="let element">{{element.id}}</td>
                  </ng-container>
                  <ng-container matColumnDef="coordinate">
                    <th mat-header-cell *matHeaderCellDef> Koordinaten</th>
                    <td mat-cell *matCellDef="let element">
                      <div *ngFor="let item of element.coordinates">lat: {{ item.latitude }} long: {{ item.longitude }}</div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="buttons">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button (click)="emptySpaceDetails(element.id)">
                        <mat-icon>info</mat-icon>
                      </button>
                      <button mat-icon-button (click)="deleteEmptySpace(element.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedBuildingColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedBuildingColumns;"></tr>
                </table>
              </mat-tab>
            </mat-tab-group>
          </div>
        </mat-step>
      </mat-horizontal-stepper>

    </div>

  </div>
  <!-- End Content -->
</div>