<div class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column">
      <button mat-fab type="button" fxLayoutAlign="center left" (click)="navigateBack()" matTooltip="Zurück zur Firmenübersicht" matTooltipShowDelay="1000">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div class="hero-text mb-32" fxLayoutAlign="center center">
        <h1>Firmendetails</h1>
      </div>
    </div>
    <!-- / HEADER -->
  
    <!-- CONTENT -->
    <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
      <!-- Loading Card  -->
      <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
        <div class="p-16">
          <div class="h1">Daten werden geladen</div>
        </div>
        <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
  
      <!-- Content  Card  -->
      <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!job)" @ngIfFadeIn>
        <div class="p-16">
          <div class="h1">Firmendetails wurden nicht geladen</div>
        </div>
        <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
          <p>Es konnten keine Firmendetails geladen werden</p>
        </div>
      </div>
  
      <!-- Content  Card  -->
      <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && job" @ngIfFadeIn>
  
        <mat-card>
          <mat-card-header>
            
          </mat-card-header>
          <mat-card-content>
              <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
                  <div class="h1">
                    Warenauftrag
                  </div>
                </div>
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let item of job.positions">
              <div>{{item.articleName}}</div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="secondary-text">{{ item.amount }}</div>
              </div>
            </div>
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
                <div>Abholer</div>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <div class="secondary-text">{{ job.issuer.surname }} {{ job.issuer.lastname }}</div>
                </div>
              </div>
            <mat-divider></mat-divider>
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
              <div></div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-raised-button type="button" color="accent" (click)="finishJob(job.id)" matTooltip="Warenauftrag bestätigen" matTooltipShowDelay="1000" class="btn-finish">Bestätigen</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
  
  
      </div>
      <!-- End Content -->
    </div>
  </div>