<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Details zur Aufgabe</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16  px-sm-24" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlex="100" fxFlexAlign="center" *ngIf="loadingDetailsInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlex="100" fxFlexLayout="stretch" *ngIf="loadingDetailsInProgress === false && details" @ngIfFadeIn>
      <div class="my-24" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end stretch">
        <button color="primary" mat-raised-button type="button" (click)="openFinishJobAdministrativeDialog()" *ngIf="finishJobAdministrativeVisible === true">
          Administrativ beenden</button>
        <button color="primary" mat-raised-button type="button" (click)="navigateToFinishJob()" *ngIf="details && details.state === 1">
          Fertig</button>
      </div>
      <mat-toolbar>
        <mat-toolbar-row>
          <h2>Aktivierung: {{ details.building.streetName }} </h2>
        </mat-toolbar-row>
      </mat-toolbar>
      <div>
        <agm-map style="height: 300px" [zoom]="18.0" [latitude]="details.building.coordinate.latitude" [clickableIcons]="false" [scrollwheel]="false"
          [longitude]="details.building.coordinate.longitude">
          <agm-marker [latitude]="details.building.coordinate.latitude" [longitude]="details.building.coordinate.longitude">
            <agm-info-window>
              <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="row">
                  <div fxFlex="0 0 100%">
                    {{ details.building.streetName }}
                  </div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="0 0 50%">
                    Gebäude:
                  </div>
                  <div fxFlex="0 0 50%">
                    {{ details.building.streetName }}
                  </div>
                </div>
                <div fxLayout="row" *ngIf="details.building.commercialUnits + details.building.householdUnits > 1">
                  <div fxFlex="0 0 50%">
                    Wohnung:
                  </div>
                  <div fxFlex="0 0 50%">
                    {{ details.flat.floor }}
                  </div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="0 0 50%">
                    Kotankt:
                  </div>
                  <div fxFlex="0 0 50%">
                    <besa-person-info-short-view [contact]="details.customer"></besa-person-info-short-view>
                  </div>
                </div>
              </div>
            </agm-info-window>
          </agm-marker>
          <agm-marker *ngIf="details.pop" [latitude]="details.pop.location.latitude" [longitude]="details.pop.location.longitude">
            <agm-info-window>
              <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="row">
                  <div fxFlex="0 0 100%">
                    {{ details.pop.name }}
                  </div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="0 0 50%">
                    Verbindungen:
                  </div>
                  <div fxFlex="0 0 50%">
                    <span *ngIf="!details.endpoints || details.endpoints.length == 0">Keine Informationen</span>
                    <ul *ngIf="details.endpoints && details.endpoints.length > 0">
                      <li *ngFor="let item of details.endpoints"> {{ item.caption }} </li>
                    </ul>
                  </div>
                </div>
              </div>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
      <mat-tab-group>
        <mat-tab *ngIf="showFinishInfo === true && details.finishInfo">
          <ng-template mat-tab-label>
            <span>Abgabe</span>
          </ng-template>
          <h2>Aufgabe abgeschlossen:</h2>
          <table class="formated-table">
            <tbody>
              <tr>
                <th> Beendet am </th>
                <td> {{ details.finishInfo.finishedAt | date:'dd.MM.yy' }} </td>
              </tr>
              <tr>
                <th> Beendet durch </th>
                <td> {{ details.finishInfo.finishedBy.surname }} {{ details.finishInfo.finishedBy.lastname }}
                  <span *ngIf="details.finishInfo.finishedBy.companyInfo">
                    ( {{ details.finishInfo.finishedBy.companyInfo.name }} )
                  </span>
                </td>
              </tr>
              <tr>
                <th> Probleme? </th>
                <td>
                  <span *ngIf="details.finishInfo.problemHappend.value === true">ja
                    <br> {{ details.finishInfo.problemHappend.description }} </span>
                  <span *ngIf="details.finishInfo.problemHappend.value === false">nein </span>
                </td>
              </tr>
              <tr *ngIf="details.finishInfo.acceptedAt">
                <th> Angenommen am </th>
                <td> {{ details.finishInfo.acceptedAt | date:'dd.MM.yy' }} </td>
              </tr>
              <tr *ngIf="details.finishInfo.acceptedBy">
                <th> Angenommen durch </th>
                <td> {{ details.finishInfo.acceptedBy.surname }} {{ details.finishInfo.acceptedBy.lastname }}
                  <span *ngIf="details.finishInfo.acceptedBy.companyInfo">
                    ( {{ details.finishInfo.acceptedBy.companyInfo.name }} )
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <h3>Dateien:</h3>
          <mat-list>
            <mat-list-item *ngFor="let item of details.finishInfo.files">
              <mat-icon mat-list-icon>{{item.type | fileTypeToIcon}}</mat-icon>
              <h4 matLine>{{item.name}}.{{ item.extention }}</h4>
              <span matLine>{{item.size | fileSizeToUnit}}</span>
              <button *ngIf="item.type === 1" matTooltip="Vorschau anzeigen" mat-icon-button type="button" (click)="showPreview(item)">
                <mat-icon aria-label="Vorschau">pageview</mat-icon>
              </button>
              <a mat-icon-button target="_blank" matTooltip="Datei downloaden" [href]="getFileUrl(item)">
                <mat-icon aria-label="Open">get_app</mat-icon>
              </a>
            </mat-list-item>
          </mat-list>
          <div class="my-24" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end stretch" *ngIf="details.state === 2">
            <button color="warn" mat-raised-button type="button" (click)="discardJob()" [disabled]="actionInProgress === true"> Ablehnen</button>
            <button color="primary" mat-raised-button type="button" (click)="acknowledgeJob()" [disabled]="actionInProgress === true">
              Bestätigen</button>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Protokoll</span>
          </ng-template>
          <h4>Protokoll:</h4>
          <table class="formated-table">
            <tbody>
              <tr>
                <th> Adresse: </th>
                <td> {{ details.building.streetName }} </td>
              </tr>
              <tr *ngIf="details.building.commercialUnits + details.building.householdUnits > 1">
                <th> Wohnung: </th>
                <td> {{ details.flat.floor }} </td>
              </tr>
              <tr>
                <th> Kunde: </th>
                <td>
                  <besa-person-info-short-view [contact]="details.customer"></besa-person-info-short-view>
                </td>
              </tr>
              <tr>
                <th>Patchung PoP</th>
              </tr>
              <tr>
                <th>PoP:</th>
                <td>{{ details.pop.name }}</td>
              </tr>
              <tr *ngIf="!details.endpoints || details.endpoints.length === 0">
                <th>Kombimodul:</th>
                <td>Keine Elemente vorhanden</td>
              </tr>
              <tr>
                <th>Patchungen:</th>
                <td [ngSwitch]="details.endpoints && details.endpoints.length > 0">
                  <span *ngSwitchCase="true">
                    <div *ngFor="let item of details.endpoints">
                      <p *ngIf="!item.rowNumber && !item.columnNumber">{{ item.caption }} </p>
                      <p *ngIf="item.moduleName">Modul: {{ item.moduleName }} </p>
                      <p *ngIf="item.rowNumber">Reihe: {{ item.rowNumber }} </p>
                      <p *ngIf="item.columnNumber">Port {{ item.columnNumber }} </p>
                    </div>
                  </span>
                  <span *ngSwitchCase="false">
                    Keine Informationen vorhanden
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Dateien ({{ details.files ? details.files.length : '0' }})
            </span>
          </ng-template>
          <p *ngIf="!details.files || details.files.length == 0"> Keien Dateien vorhanden </p>
          <mat-list *ngIf="details.files && details.files.length > 0">
            <mat-list-item *ngFor="let item of details.files">
              <mat-icon mat-list-icon>{{item.type | fileTypeToIcon}}</mat-icon>
              <h4 matLine>{{item.name}}.{{ item.extention }}</h4>
              <span matLine>{{item.size | fileSizeToUnit}}</span>
              <button *ngIf="item.type === 1" matTooltip="Vorschau anzeigen" mat-icon-button (click)="showPreview(item)">
                <mat-icon aria-label="Vorschau">pageview</mat-icon>
              </button>
              <a mat-icon-button target="_blank" matTooltip="Datei downloaden" [href]="getFileUrl(item)">
                <mat-icon aria-label="Open">get_app</mat-icon>
              </a>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
      <div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="10px" *ngIf="details.state === 1">
        <button class="my-24" color="primary" fxFlexAlign="end" mat-raised-button type="button" (click)="navigateToFinishJob()">
          Fertig</button>
      </div>
    </div>
  </div>
  <!-- End Content -->
</div>