<p *ngIf="message.action === 1">Es wurde ein neuer Sammelauftrag Namen
  <strong>{{ details?.collectionJob?.name }} </strong> erstellt.
</p>
<p>
  Er wurder der Firma {{ details?.collectionJob?.boundedTo?.name }} zugewiesen 
</p>
<p>
  Dieser ist bis
  <strong>{{ details?.collectionJob?.finishedTill | date:'dd.MM.yyyy' }} </strong> zu erledigen.
</p>

<p *ngIf="details?.collectionJob?.percentage > 0">
  Dieser ist bereits zu {{details?.collectionJob?.percentage | number:'1.1-1' }} fertigstellt.
</p>

<p>Zu diesem Sammelauftrag gehören folgende einzelne Aufträge</p>
<mat-list *ngIf="details?.collectionJob?.jobs">
  <mat-list-item *ngFor="let job of details.collectionJob.jobs ">
    <span matLine>{{ job.name }} ( {{ job.jobType | jobTypeToName }} ) </span>
    <span matLine>{{ job.state | jobStateToName }}</span>
    <button mat-icon-button (click)="goToJobDetails(job)" aria-label="Details anzeigen" matTooltip="Details anzeigen">
      <mat-icon class="s-20">link</mat-icon>
    </button>
  </mat-list-item>
</mat-list>