
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 5px;
}

.cancel-button {
    margin-bottom: 10px;
}

.form-accordion {
  margin-bottom: 10px;
}

.item-row {
  margin-bottom: 10px;
}