<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Firma bearbeiten</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="start stretch" fxLayout.gt-sm="row">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!company)" @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Firma wurde nicht geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Es konnte keine Firma geladen werden</p>
      </div>
    </div>

      <div class="fuse-card mat-accent-bg mx-12 my-24" fxLayout="column" fxFlex="0 0 auto" fxFlex.gt-sm="0 0 30%" style="min-width: 100%" *ngIf="loadingDataInProgress === false && company" @ngIfFadeIn>
        <div class="p-16">
          <div class="h1">Firma bearbeiten</div>
        </div>
        <div class="p-16 pt-0 line-height-1.75">
          <p>Hier können Sie eine Firma bearbeiten</p>
          <p>Beschreibungstext zur Firma...
          </p>
        </div>
      </div>

      <!-- Content  Card  -->

      <form class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" fxFlex.gt-sm="1 0 auto"
        [formGroup]="form" (ngSubmit)="editCompany()" style="height: 100%" *ngIf="loadingDataInProgress === false && company" @ngIfFadeIn>
        <div class="item-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
          <mat-form-field fxFlex="40" fxFlex.lt-sm="100" class="mx-12">
            <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
            <mat-label>Name</mat-label>
            <input matInput #inputName formControlName="name" matTooltip="Ändern Sie den Namen der Firma" matTooltipShowDelay="1000">
            <mat-hint align="end">{{ inputName.value?.length || 0 }} / 64</mat-hint>
            <mat-error *ngIf="formValidationErrors['name']">{{formValidationErrors['name']}}</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="40" fxFlex.lt-sm="100" class="mx-12">
            <mat-hint align="start">Maximal 32 Zeichen</mat-hint>
            <mat-label>Telefon</mat-label>
            <input matInput #inputPhone formControlName="phone" matTooltip="Ändern Sie die Telefonnummer der Firma" matTooltipShowDelay="1000">
            <mat-hint align="end">{{ inputPhone.value?.length || 0 }} / 32 </mat-hint>
            <mat-error *ngIf="formValidationErrors['phone']">{{formValidationErrors['phone']}}</mat-error>
          </mat-form-field>
        </div>

        <div class="item-row" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="1 0 auto" fxLayout.lt-sm="column">
          <mat-form-field fxFlex="80" class="mx-12" fxFlex.lt-sm="100">
            <mat-hint align="start">Maximal 255 Zeichen</mat-hint>
            <mat-label>Straße</mat-label>
            <input matInput #inputStreet formControlName="street" matTooltip="Ändern Sie die Straße der Firma" matTooltipShowDelay="1000">
            <mat-hint align="end">{{ inputStreet.value?.length || 0 }} / 255 </mat-hint>
            <mat-error *ngIf="formValidationErrors['street']">{{formValidationErrors['street']}}</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="20" class="mx-12" fxFlex.lt-sm="100">
            <mat-hint align="start">Maximal 8 Zeichen</mat-hint>
            <mat-label>Hausnummer</mat-label>
            <input matInput #inputStreetNumber formControlName="streetNumber" matTooltip="Ändern Sie die Hausnummer der Firma" matTooltipShowDelay="1000">
            <mat-hint align="end">{{ inputStreetNumber.value?.length || 0 }} / 8 </mat-hint>
            <mat-error *ngIf="formValidationErrors['streetNumber']">{{formValidationErrors['streetNumber']}}</mat-error>
          </mat-form-field>
        </div>

        <div class="item-row" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="1 0 auto" fxLayout.lt-sm="column">
          <mat-form-field fxFlex="50" class="mx-12" fxFlex.lt-sm="100">
            <mat-hint align="start">Genau 5 Zeichen</mat-hint>
            <mat-label>Postleitszahl</mat-label>
            <input matInput #inputPostalCode formControlName="postalCode" matTooltip="Ändern Sie die Postleitszahl der Firma" matTooltipShowDelay="1000">
            <mat-hint align="end">{{ inputPostalCode.value?.length }} / 5</mat-hint>
            <mat-error *ngIf="formValidationErrors['postalCode']">{{ formValidationErrors['postalCode'] }}</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="50" class="mx-12" fxFlex.lt-sm="100">
            <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
            <mat-label>Stadt</mat-label>
            <input matInput #inputCity formControlName="city" matTooltip="Ändern Sie die Stadt der Firma" matTooltipShowDelay="1000">
            <mat-hint align="end">{{ inputCity.value?.length || 0 }} / 64 </mat-hint>
            <mat-error *ngIf="formValidationErrors['city']">{{formValidationErrors['city']}}</mat-error>
          </mat-form-field>
        </div>

        <mat-accordion class="form-accordion">
          <mat-expansion-panel>
            <mat-expansion-panel-header matTooltip="Öffnen Sie die Übersicht der Angestellten und fügen Sie diese hinzu oder entfernen Sie diese" matTooltipShowDelay="1000">
              <mat-panel-title>
                Angestellte
              </mat-panel-title>
              <mat-panel-description>
                Hinzufügen / Entfernen
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <span class="mat-body-2" matLine>Vorhandene Angestellte</span>
              <mat-list-item *ngFor="let employee of company.employees">
                <span class="mat-body-1" matLine>{{ employee.surname }} {{ employee.lastname }}</span>
                <button mat-icon-button type="button" matTooltip="Angestellten entfernen" matTooltipShowDelay="1000">
                  <mat-icon aria-label="Löschen" (click)="removeEmployee(employee)">delete</mat-icon>
                </button>
              </mat-list-item>
              <span class="mat-body-2" matLine>Angestellte hinzufügen</span>
              <mat-list-item *ngFor="let employee of employees">
                <span class="mat-body-1" matLine>{{ employee.surname }} {{ employee.lastname }}</span>
                <button mat-icon-button type="button" matTooltip="Angestellten hinzufügen" matTooltipShowDelay="1000">
                  <mat-icon aria-label="Hinzufügen" (click)="addEmployee(employee)">add_box</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
        <div>
          <button class="cancel-button" mat-raised-button type="button" color="warn" (click)="cancelEdit()" matTooltip="Firma bearbeiten abbrechen, Änderungen gehen verloren" matTooltipShowDelay="1000">
            Abbrechen
          </button>
          <button mat-raised-button type="submit" color="primary" matTooltip="Firma bearbeiten bestätigen" matTooltipShowDelay="1000">
            Bestätigen
          </button>
        </div>
      </form>
    <!-- End Content -->
  </div>
</div>