<p> Der Mitarbeiter
  <strong> {{ details?.employee?.surname }} {{ details?.employee?.lastname }} </strong>
  <span *ngIf="details?.removed === true"> wurde aus der Firma {{ details?.company?.name }} entfernt</span>
  <span *ngIf="details?.removed === false"> wurde der Firma {{ details?.company?.name }} hinzugefügt</span>
</p>

<a mat-raised-button *ngIf="details?.employee" [routerLink]="[getNavigationPathForUser(),details.employee.id]">Mitarbeiter anzeigen</a>
<a mat-raised-button *ngIf="details?.company" [routerLink]="[getNavigationPathForCompany(),details.company.id]">Firma anzeigen</a>