<form class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" [formGroup]="form"
  (submit)="createInjectJob()" style="height: 100%">
  <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch">
    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="stretch stretch" [formGroup]="form.get('searchTerms')">
      <mat-form-field fxFlex="1 0 auto">
        <mat-hint align="start">Name der Straße eingeben</mat-hint>
        <mat-label>Straßenname und Nummer</mat-label>
        <input type="text" matInput placeholder="Brückenstücke 4" formControlName="buildingTermValue" [matAutocomplete]="auto">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="buildingSelected($event)" [displayWith]="displayBuildingResult">
        <mat-option *ngFor="let option of buildingResult" [value]="option">
          {{ option.streetName }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="20px" fxLayoutAlign="stretch stretch" [formGroup]="form.get('searchTerms')">
      <mat-form-field fxFlex="1 0 auto">
        <mat-hint align="start">Vorname, Nachname oder Firmennamen eingeben</mat-hint>
        <mat-label>Kunde</mat-label>
        <input type="text" matInput placeholder="Max Mustermann" formControlName="searchCustomermValue" [matAutocomplete]="autoCustomer">
      </mat-form-field>
      <mat-autocomplete #autoCustomer="matAutocomplete" (optionSelected)="contactSelected($event)" [displayWith]="displayContactResult">
        <mat-option *ngFor="let option of customerResult" [value]="option">
          {{ displayContactResult(option) }}
        </mat-option>
      </mat-autocomplete>
      <p fxFlex="0 0 auto" fxFlexAlign="center"> oder:</p>
      <div fxFlex="0 0 auto" fxFlexAlign="center">
        <button type="button" mat-raised-button (click)="openCreateContactDialog()">Person erstellen</button>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end stretch" class="my-24">
      <button mat-raised-button color="primary" type="submit" class="mx-12" [disabled]="form.invalid === true || createTaskInProgress === true">Erstellen</button>
    </div>
  </div>
</form>