<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Melden Sie sich an</h1>
      <h3>Für die Funtionen von Besa ist eine Anmeldung notwendig</h3>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="center center">
    <!-- Loading Card  -->
    <div class="fuse-card my-32 " *ngIf="logoutInProgress === true">
      <div class="p-16">
        <div class="h1">In Bearbeitung</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        <p>Sie werden abgemeldet</p>
      </div>
    </div>

    <!-- Anmelde-Card  -->
    <div class="fuse-card" *ngIf="logoutSuccessfully === true">
      <div class="p-16">
        <div class="h1">Abmeldung erfolgreich</div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        Sie wurden erfolgreich abgemeldet. Möchten Sie sich erneut anmelden?
      </div>
      <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
        <button mat-button type="button" color="accent" (click)="startLogin()">Anmelden</button>
      </div>
    </div>


    <!-- End Content -->
  </div>
</div>