<div class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column">
      <button mat-fab type="button" fxLayoutAlign="center left" (click)="navigateBack()" matTooltip="Zurück zur Gebäudeübersicht" matTooltipShowDelay="1000">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div class="hero-text mb-32" fxLayoutAlign="center center">
        <h1>Gebäudedetails</h1>
      </div>
    </div>
    <!-- / HEADER -->
  
    <!-- CONTENT -->
    <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
      <!-- Loading Card  -->
      <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
        <div class="p-16">
          <div class="h1">Daten werden geladen</div>
        </div>
        <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
  
      <!-- Content  Card  -->
      <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!building)" @ngIfFadeIn>
        <div class="p-16">
          <div class="h1">Gebäudedetails wurden nicht geladen</div>
        </div>
        <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
          <p>Es konnten keine Gebäudedetails geladen werden</p>
        </div>
      </div>
  
      <!-- Content  Card  -->
      <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && building" @ngIfFadeIn>
  
        <mat-card>
          <mat-card-header>
            
          </mat-card-header>
          <mat-card-content>
              <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
                  <div class="h1">
                    {{ building.streetName }} {{ building.streetNumber }}
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-fab type="button" color="accent" (click)="editBuilding()" matTooltip="Gebäude bearbeiten" matTooltipShowDelay="1000">
                        <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </div>
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
              <div>Private Wohneinheiten</div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="secondary-text">{{ building.householdUnits }}</div>
              </div>
            </div>
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
              <div>Geschäftliche Wohneinheiten</div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="secondary-text">{{ building.commercialUnits }}</div>
              </div>
            </div>
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
                <div>Kommentar</div>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <div class="secondary-text">{{ building.comment }}</div>
                </div>
              </div>
            <mat-divider></mat-divider>
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
              <div>Koordinaten</div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="secondary-text">
                  <div *ngFor="let coordinate of building.coordinates">
                      Lat: {{ coordinate.latitude }} Long: {{ coordinate.longitude }}<br>
                  </div>
                  <div *ngIf="!building.coordinates || building.coordinates.length == 0">
                    Keine Koordinaten vorhanden
                  </div>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
                <div>Dateien</div>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <div class="secondary-text">
                    <!--Dateien einbauen-->
                  </div>
                </div>
              </div>
            <mat-divider></mat-divider>
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
              <div></div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-raised-button type="button" color="warn" (click)="deleteBuilding()" matTooltip="Löschvorgang des Gebäudes einleiten" matTooltipShowDelay="1000">Gebäude löschen</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
  
  
      </div>
      <!-- End Content -->
    </div>
  </div>