<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column">
    <button mat-fab type="button" fxLayoutAlign="center left" (click)="navigateBack()" matTooltip="Zurück zur Firmenübersicht" matTooltipShowDelay="1000">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="hero-text mb-32" fxLayoutAlign="center center">
      <h1>Firmendetails</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!company)" @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Firmendetails wurden nicht geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Es konnten keine Firmendetails geladen werden</p>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && company" @ngIfFadeIn>

      <mat-card>
        <mat-card-header>
          
        </mat-card-header>
        <mat-card-content>
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="h1">
                  {{ company.name }}
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <button mat-fab type="button" color="accent" (click)="editCompany()" matTooltip="Firma bearbeiten" matTooltipShowDelay="1000">
                      <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Telefon</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ company.phone }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Straße, Hausnummer</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ company.address.street }} {{ company.address.streetNumber }}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Postleitszahl, Stadt</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">{{ company.address.postalCode }} {{company.address.city}}</div>
            </div>
          </div>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Angestellte</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="secondary-text">
                <div *ngFor="let item of company.employees">
                    {{ item.surname }} {{ item.lastname }}<br>
                </div>
                <div *ngIf="company.employees.length == 0 || !company.employees">
                  Keine Mitarbeiter vorhanden
                </div>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
            <div></div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-raised-button type="button" color="warn" (click)="deleteCompany()" matTooltip="Löschvorgang der Firma einleiten" matTooltipShowDelay="1000">Firma löschen</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>


    </div>
    <!-- End Content -->
  </div>
</div>