<div *ngIf="messages.length === 0" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <span class="no-messages-text hint-text"> Keine Nachrichten gefunden </span>
</div>

<div class="mail-list" [@animateStagger]="{value:'50'}">
    <mail-list-item matRipple *ngFor="let message of messages" [message]="message" (click)="markMessageAsRead(message)"
                    [ngClass]="{'current-mail mat-accent-50-bg':message?.id == currentMessage?.id}"
                    [@animate]="{value:'*',params:{y:'100%'}}">
    </mail-list-item>
</div>
