<div class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column">
      <button mat-fab type="button" fxLayoutAlign="center left" (click)="navigateBack()" matTooltip="Zurück zur Benutzerübersicht" matTooltipShowDelay="1000">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div class="hero-text mb-32" fxLayoutAlign="center center">
        <h1>Benutzerdetails</h1>
      </div>
    </div>
    <!-- / HEADER -->
  
    <!-- CONTENT -->
    <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
      <!-- Loading Card  -->
      <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
        <div class="p-16">
          <div class="h1">Daten werden geladen</div>
        </div>
        <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
  
      <!-- Content  Card  -->
      <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!user)" @ngIfFadeIn>
        <div class="p-16">
          <div class="h1">Benutzerdetails wurden nicht geladen</div>
        </div>
        <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
          <p>Es konnten keine Benutzerdetails geladen werden</p>
        </div>
      </div>
  
      <!-- Content  Card  -->
      <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && user" @ngIfFadeIn>
  
        <mat-card>
          <mat-card-header>
            
          </mat-card-header>
          <mat-card-content>
              <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
                  <div class="h1">
                    {{ user.surname }} {{ user.lastname }}
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-fab type="button" color="accent" (click)="editUser()" matTooltip="Benutzer bearbeiten" matTooltipShowDelay="1000">
                        <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </div>
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
              <div>Telefon</div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="secondary-text">{{ user.phone }}</div>
              </div>
            </div>
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
              <div>E-Mail-Adresse</div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="secondary-text">{{ user.eMailAddress }}</div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
              <div>Rollen</div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="secondary-text">
                  <div *ngFor="let role of roles">
                      {{ role | besaRoleToName }}<br>
                  </div>
                  <div *ngIf="!roles || roles.length == 0">
                    Keine Rollen vorhanden
                  </div>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
                <div>Management</div>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <div class="secondary-text">
                    <div *ngIf="user.isManagement">
                      ist Management
                    </div>
                    <div *ngIf="!user.isManagement">
                      kein Management
                    </div>
                  </div>
                </div>
              </div>
            <mat-divider></mat-divider>
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
              <div></div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-raised-button type="button" color="warn" (click)="deleteUser()" matTooltip="Löschvorgang des Benutzers einleiten" matTooltipShowDelay="1000">Benutzer löschen</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
  
  
      </div>
      <!-- End Content -->
    </div>
  </div>