<h1 mat-dialog-title>Kunde ist nicht interessiert</h1>
<div mat-dialog-content>
    <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="stretch stretch" fxFlex="1 0 auto" name="form" [formGroup]="form"
    (submit)="deleteCustomer()">

    <!-- <div class="h2 mb-24">Warenauftrag abschließen</div> -->

    <mat-form-field fxFlex="100" class="mx-12">
      <mat-label>Kommentar </mat-label>
      <textarea matInput #comment placeholder="Kunde ist nicht interessiert, weil..." formControlName="comment" rows="7"></textarea>
    </mat-form-field>

    <div fxLayout="row" class="my-16" fxLayoutAlign="end center" fxFlex="100">
        <button mat-raised-button type="button" color="warn" (click)="cancelDeleteCustomer()" class="btn-cancel">
            Abbrechen </button>
        <button mat-raised-button color="primary" type="submit">
          Kunde löschen </button>
      </div>
  </form>
</div>