<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Willkommen .....</h1>
      <h3>Melden Sie sich an um mit der Arbeit zu beginnen</h3>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="row" fxLayoutAlign="center center">
    <div class="fuse-card">
      <div class="p-16">
        <div class="h1">BESA - Bauen, Einblasen, Spleißen, Anschließen </div>
        <div class="h4 secondary-text">Der Aufgabenplaner für den FTTH-Ausbau</div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        Das Programm bietet....
      </div>
      <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
        <a mat-button color="accent" [routerLink]="['/login']">Anmelden</a>
      </div>

    </div>
  </div>
  <!-- / CONTENT -->
</div>