<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Baugebiet aktualisieren</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start stretch">
    <!-- Loading Card  -->


    <!-- Anmelde-Card  -->
    <div class="fuse-card mat-accent-bg mx-12 my-24" fxLayout="column" fxFlex="0 0 auto" fxFlex.gt-sm="0 0 30%" style="min-width: 100%">
      <div class="p-16">
        <div class="h1">Baugebiete</div>
      </div>
      <div class="p-16 pt-0 line-height-1.75">
        <p>Hier können Sie ein Baugebiet aktualisieren</p>
        <p>Ein Baugebiet stellt eine Untergliederung des Projektes dar. Fortschritte und Berichten erfolgen auf der Basis von
          Baugebieten
        </p>
      </div>
    </div>

    <form class="mat-white-bg mat-elevation-z4 p-24 my-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" fxFlex.gt-sm="1 0 auto"
      name="form" [formGroup]="form" @ngIfFadeIn style="height: 100%" (submit)="editConstructionStage()"> 
<!-- -->
      <div class="h2 mb-24">Baugebiet aktualisieren</div>

      <!-- Name -->
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
          <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
          <mat-label>Name des Baugebietes </mat-label>
          <input matInput #inputName placeholder="Pampow" formControlName="name">
          <mat-hint align="end">{{ inputName.value?.length || 0 }} / 64 </mat-hint>
          <mat-error *ngIf="hasFormError('name')">{{ getFormError('name') }}</mat-error>
        </mat-form-field>
        <mat-checkbox fxFlex="50" fxFlexAlign="center" fxFlexAlign.lt-sm="start" fxFlex.lt-sm="100" class="mx-12" formControlName="createBranchOffJobs">
          Vorstreckersaufgaben erstellen?
        </mat-checkbox>
      </div>
      <!-- Suchfeld -->
      <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
        <mat-form-field>
          <mat-hint align="start">Kürzel oder Straße eingeben</mat-hint>
          <mat-label>Name des KVZs</mat-label>
          <input type="text" matInput placeholder="Pampow" formControlName="searchTermValue" [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="cabinentSelected($event)" [displayWith]="displayCabinentResult">
          <mat-option *ngFor="let option of searchCabinets" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </div>

      <!-- Laden der Firmen  -->
      <!-- <div fxLayout="column" fxLayoutAlign="start center" fxFlex="1 0 auto" class="my-24" *ngIf="loadingCompaniesInProgress === true">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <p>Firmen werden geladen</p>
      </div> -->

      <div fxLayout="column" fxLayoutAlign="stretch stretch" fxFlex="0 0 auto">
        <mat-tab-group>
          <mat-tab label="KVZs">
            <mat-list>
              <mat-list-item *ngFor="let cabinet of selectedCabinets">
                <span matLine>
                  {{ cabinet.name }}
                </span>
                <button mat-icon-button type="button" (click)="removeCabinet(cabinet)">
                  <mat-icon aria-label="Entfernen">delete_forever</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              Gebäude
              <em>( {{ buildings.length }} ) </em>
            </ng-template>
            <mat-list dense>
              <mat-list-item *ngFor="let building of buildings"> {{ building.streetName }} </mat-list-item>
            </mat-list>
          </mat-tab>
        </mat-tab-group>
      </div>
      <!-- Abschicken  -->
      <div fxLayout="row" class="my-16" fxLayoutAlign="end center" fxFlex="100">
        <button mat-raised-button color="primary" type="submit" [disabled]="createInProgress"> Erstellen</button>
      </div>
    </form>

  </div>
  <!-- End Content -->
</div>