<h1 mat-dialog-title>
  Neuen Kontakt erstellen</h1>
<div mat-dialog-content>
  <form fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="stretch stretch" fxFlex="1 0 auto" name="form" [formGroup]="form"
    (submit)="onYesClick()">

    <!-- Geschlecht, Vor und Nachname -->
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
      <mat-form-field fxFlex="20" fxFlex.lt-sm="100" class="mx-12">
        <mat-label>Anrede </mat-label>
        <mat-select placeholder="Geschlecht" formControlName="type" matTooltip="Wählen Sie eine Anrede aus" matTooltipShowDelay="1000">
          <mat-option *ngFor="let type of genderTypes" [value]="type">
            {{ type | personTypeToName  }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formValidationErrors['type']">{{ formValidationErrors['type'] }}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="40" fxFlex.lt-sm="100" class="mx-12">
        <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
        <mat-label>Vorname </mat-label>
        <input matInput #inputSurname placeholder="Max" formControlName="surname" matTooltip="Geben Sie den Vornamen des Kontakts an" matTooltipShowDelay="1000">
        <mat-hint align="end">{{ inputSurname.value?.length || 0 }} / 64 </mat-hint>
        <mat-error *ngIf="formValidationErrors['surname']">{{ formValidationErrors['surname'] }}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="40" fxFlex.lt-sm="100" class="mx-12">
        <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
        <mat-label>Nachname </mat-label>
        <input matInput #inputLastname placeholder="Mustermann" formControlName="lastname" matTooltip="Geben Sie den Nachnamen des Kontakts an" matTooltipShowDelay="1000">
        <mat-hint align="end">{{ inputLastname.value?.length || 0 }} / 64 </mat-hint>
        <mat-error *ngIf="formValidationErrors['lastname']">{{ formValidationErrors['lastname'] }}</mat-error>
      </mat-form-field>
    </div>

    <!-- Telefonummer und Mail -->
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
      <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
        <mat-hint align="start">Maximal 255 Zeichen</mat-hint>
        <mat-label>E-Mail </mat-label>
        <input matInput #inputMail placeholder="max.mustermann@firma.de" formControlName="emailAddress" matTooltip="Geben Sie die E-Mail-Adesse des Kontakts an" matTooltipShowDelay="1000">
        <mat-hint align="end">{{ inputMail.value?.length || 0 }} / 255 </mat-hint>
        <mat-error *ngIf="formValidationErrors['emailAddress']">{{ formValidationErrors['emailAddress'] }}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
        <mat-hint align="start">Maximal 32 Zeichen</mat-hint>
        <mat-label>Telefon</mat-label>
        <input matInput #inputPhone placeholder="0154 125 57 54" formControlName="phone" matTooltip="Geben Sie die Telefonnummer des Kontakts an" matTooltipShowDelay="1000">
        <mat-hint align="end">{{ inputPhone.value?.length || 0 }} / 32 </mat-hint>
        <mat-error *ngIf="formValidationErrors['phone']">{{ formValidationErrors['phone'] }}</mat-error>
      </mat-form-field>
    </div>

    <!-- Straße und Hausnummer und Mail -->
    <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="1 0 auto" [formGroup]="form.get('address')" fxLayout.lt-sm="column">
      <mat-form-field fxFlex="80" class="mx-12" fxFlex.lt-sm="100">
        <mat-hint align="start">Maximal 255 Zeichen</mat-hint>
        <mat-label>Straße </mat-label>
        <input matInput #inputStreet placeholder="Musterstr." formControlName="street" matTooltip="Geben Sie die Straße des Kontakts an" matTooltipShowDelay="1000">
        <mat-hint align="end">{{ inputStreet.value?.length || 0 }} / 255 </mat-hint>
        <mat-error *ngIf="formValidationErrors['street']">{{ formValidationErrors['street'] }}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="20" class="mx-12" fxFlex.lt-sm="100">
        <mat-hint align="start">Maximal 8 Zeichen</mat-hint>
        <mat-label>Nummer</mat-label>
        <input matInput #inputStreetNumber placeholder="4a" formControlName="streetNumber" matTooltip="Geben Sie die Hausnummer des Kontakts an" matTooltipShowDelay="1000">
        <mat-hint align="end">{{ inputStreetNumber.value?.length || 0 }} / 8 </mat-hint>
        <mat-error *ngIf="formValidationErrors['streetNumber']">{{ formValidationErrors['streetNumber'] }}</mat-error>
      </mat-form-field>
    </div>

    <!-- PLZ und Ort -->
    <div fxLayout="row" fxLayoutGap="12px" fxLayout.lt-sm="column" fxLayoutAlign="start stretch" fxFlex="1 0 auto" [formGroup]="form.get('address')">
      <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
        <mat-hint align="start">Genau 5 Zeichen</mat-hint>
        <mat-label>PLZ</mat-label>
        <input matInput #inputPostalCode placeholder="max.mustermann@firma.de" formControlName="postalCode" matTooltip="Geben Sie die Postleitszahl des Kontakts an" matTooltipShowDelay="1000">
        <mat-hint align="end">{{ inputPostalCode.value?.length || 0 }} / 5 </mat-hint>
        <mat-error *ngIf="formValidationErrors['postalCode']">{{ formValidationErrors['postalCode'] }}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="mx-12">
        <mat-hint align="start">Maximal 64 Zeichen</mat-hint>
        <mat-label>Stadt</mat-label>
        <input matInput #inputCity placeholder="Teterow" formControlName="city" matTooltip="Geben Sie die Stadt des Kontakts an" matTooltipShowDelay="1000">
        <mat-hint align="end">{{ inputCity.value?.length || 0 }} / 64 </mat-hint>
        <mat-error *ngIf="formValidationErrors['city']">{{ formValidationErrors['city'] }}</mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center" @ngIfFadeIn *ngIf="inProgress === true">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <p>Kontakt wird erstellt...</p>
    </div>

    <div fxFlex="100" class="mat-warn-bg p-12 my-24" @ngIfFadeIn *ngIf="inProgress === false && errorHappend === true ">
      <p>Beim Erstellen ist ein Fehler aufgetreten</p>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button type="button" (click)="onNoClick()" [disabled]="inProgress === true" matTooltip="Kontakt erstellen abbrechen" matTooltipShowDelay="1000">Abbrechen</button>
  <button mat-raised-button type="submit" color="primary" (click)="onYesClick()" [disabled]="inProgress === true" matTooltip="Kontakt erstellen bestätigen" matTooltipShowDelay="1000">Erstellen</button>
</div>