<div class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text mb-32">
      <h1>Kunden...</h1>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content px-16 py-24 px-sm-24 py-sm-32" fxLayout="column" fxLayoutAlign="stretch stretch">
    <!-- Loading Card  -->
    <div class="fuse-card my-32" fxFlexAlign="center" *ngIf="loadingDataInProgress === true">
      <div class="p-16">
        <div class="h1">Daten werden geladen</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="fuse-card my-32 mat-accent-bg" fxFlexAlign="center" *ngIf="loadingDataInProgress === false && (!contacts || contacts.length == 0)"
      @ngIfFadeIn>
      <div class="p-16">
        <div class="h1">Keine Kunden vorhanden</div>
      </div>
      <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
        <p>Derzeit sind keine Kunden vorhanden</p>
      </div>
    </div>

    <!-- Content  Card  -->
    <div class="my-32" fxFlexLayout="stretch" *ngIf="loadingDataInProgress === false && contacts && contacts.length > 0" @ngIfFadeIn>
      <mat-toolbar>
        <mat-toolbar-row>
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="searchString" placeholder="Suche" matTooltip="Suchen Sie einen Kontakt" matTooltipShowDelay="1000">
          </mat-form-field>
          <mat-form-field class="state-select">
            <mat-select placeholder="Status" [(ngModel)]="selectedState">
              <mat-option *ngFor="let item of openStates" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span fxFlex="1 1 auto"></span>
          <!-- <button mat-icon-button type="button" color="primary" (click)="addCompany()" matTooltip="Firma hinzufügen" matTooltipShowDelay="1000">
              <mat-icon aria-label="Erstellen">add_box</mat-icon>
            </button> -->
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-list infiniteScroll [infiniteScrollContainer]="'.infiniteScrollContainer'" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()" [fromRoot]="true">
        <mat-list-item *ngFor="let contact of contacts">
          <h3 matLine> {{ contact.contact.surname}} {{ contact.contact.lastname }}</h3>
          <p matLine *ngIf="contact.isFinished">beendet</p>
          <p matLine *ngIf="!contact.isFinished">offen</p>
          <h3 matLine> {{ contact.building.streetName}}</h3>
          <button mat-icon-button type="button" (click)="openDetails(contact)" matTooltip="Details" matTooltipShowDelay="1000">
            <mat-icon aria-labelledby="Details">info_outline</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
      <div fxLayout="column" fxLayoutGap="10px" *ngIf="loadingMoreDataInProgress === true" fxLayoutAlign="center center" @ngIfFadeIn>
        <p>Weitere Kontakte werden geladen...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>

    <!-- End Content -->
  </div>
</div>