<h1 mat-dialog-title>
  Objekte auswählen</h1>
<div mat-dialog-content fxLayout="column" fxLayoutGap="14px">
  <div class="p-16" fxLayout="column" fxLayoutAlign="center center" *ngIf="loadingInProgress === true">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div *ngIf="loadingInProgress == false && (!items || items.length == 0)" @ngIfFadeIn>
    <span>Es wurden keine Objekte gefunden</span>
  </div>
  <div *ngIf="loadingInProgress == false && items && items.length > 0" fxLayout="column" @ngIfFadeIn>
    <mat-toolbar>
      <mat-toolbar-row>
        <span> {{ items.length }} Objekte vorhanden </span>
        <span fxFlex="1 1 auto"></span>
        <button mat-icon-button type="button" color="primary" (click)="toogleSelect(objects)" [matTooltip]="( toogleState === false ? 'Alle markieren' : 'Markierungen aufheben')"
          matTooltipShowDelay="1000">
          <mat-icon aria-label="Markieren" *ngIf="toogleState === false">check_box_outline_blank</mat-icon>
          <mat-icon aria-label="Markierung aufheben" *ngIf="toogleState === true">check_box</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-selection-list #objects>
      <mat-list-option *ngFor="let item of items" [value]="item.id">
        {{ item.name }}
        <small> {{ item.projectAdapterId}} </small>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button type="button" [mat-dialog-close]="null">Abbrechen</button>
  <button mat-raised-button type="button" color="primary" (click)="confirmDialog()" [disabled]="loadingInProgress === true || !list || list.selectedOptions.isEmpty() === true">Aktualisieren</button>
</div>